.main {
  background-image: url("../img/sc3_bg.jpg");
}
.main .sc1 {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main .sc1 video {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  min-height: 1080px;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.main .sc1 .wrap {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}
.main .sc1 .wrap h2.emblem {
  width: 50%;
  max-width: 650px;
  opacity: 0;
  transition: opacity 4s;
}
.main .sc1 .wrap h2.emblem img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.main .sc1 .wrap h2.emblem.on {
  opacity: 1;
}
.main .sc2 .wrap {
  position: relative;
  cursor: pointer;
}
.main .sc2 .wrap .sc2_bg {
  display: block;
  width: 100%;
}
.main .sc2 .wrap h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "NanumMyeongjo", serif;
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
}
.main .sc3 {
  background-image: url("../img/sc3_bg.jpg");
}
.main .sc3 .wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1566px;
  margin: 0 auto;
  padding: 100px 0;
  color: #000;
}
.main .sc3 .wrap .left {
  width: 45%;
}
.main .sc3 .wrap .left > span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  font-weight: 800;
  color: #03438e;
}
.main .sc3 .wrap .left > span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: #ff8847;
  border-radius: 50px;
}
.main .sc3 .wrap .left h2 {
  padding-bottom: 50px;
  font-weight: 900;
  font-size: 60px;
  color: #03438e;
}
.main .sc3 .wrap .left p {
  font-size: 20px;
  line-height: 1.8;
}
.main .sc3 .wrap .right {
  position: relative;
  width: 55%;
}
.main .sc3 .wrap .right .imgWrap {
  position: relative;
  height: 566px;
  z-index: 2;
}
.main .sc3 .wrap .right .imgWrap .img01 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 2;
}
.main .sc3 .wrap .right .imgWrap .img02 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}
.main .sc3 .wrap .right .imgWrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -280px;
  height: 2px;
  width: 340px;
  background-color: #014494;
}
.main .sc4 {
  position: relative;
  background-color: #014494;
  border-radius: 70px 40px 70px 0;
  z-index: 4;
}
.main .sc4 .wrap {
  position: relative;
  padding: 150px 0;
  background-image: url("../img/sc4_bg.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
.main .sc4 .wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 204px;
  background-image: url("../img/sc4_obj01.jpg");
}
.main .sc4 .wrap::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 175px;
  height: 204px;
  background-image: url("../img/sc4_obj02.jpg");
}
.main .sc4 .wrap .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1556px;
  margin: 0 auto;
  padding-bottom: 60px;
  z-index: 5;
}
.main .sc4 .wrap h2 {
  font-weight: 400;
  font-size: 55px;
  line-height: 1.4;
  color: #fff;
  z-index: 1;
}
.main .sc4 .wrap h2 b {
  display: inline-block;
  font-weight: 900;
  font-weight: 700;
  color: #fff;
}
.main .sc4 .wrap .more {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 17px;
  width: 197px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background-color: #00244f;
  border-radius: 20px;
  color: #fff;
  z-index: 5;
}
.main .sc4 .wrap .swiper {
  position: relative;
}
.main .sc4 .wrap .swiper .swiper-container.imgSlide {
  position: relative;
  width: 1556px;
  margin: 0 auto 80px;
  overflow: visible;
}
.main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide {
  display: flex;
  align-items: center;
  width: 545px;
  margin-right: 5px;
  transition: opacity 0.5s;
}
.main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide img:first-child {
  margin-right: 10px;
}
.main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide img {
  display: block;
  width: 100%;
  max-width: 50%;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide {
  position: relative;
  width: 1556px;
  margin: 0 auto 80px;
  overflow: visible;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide {
  position: relative;
  width: 545px;
  padding-left: 50px;
  transition: opacity 0.5s;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide:not(:first-child) {
  left: -100px;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  border-radius: 50px;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: 13px;
  width: 3px;
  height: 500px;
  background-color: #fff;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide > span {
  display: inline-block;
  font-weight: 700;
  font-size: 33px;
  padding-bottom: 30px;
  color: #fff;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide ul li {
  margin-bottom: 30px;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide ul li:last-child {
  margin-bottom: 0;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide ul li * {
  font-size: 20px;
  color: #fff;
}
.main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide ul li b {
  display: inline-block;
  font-weight: 900;
  font-weight: 700;
  padding-bottom: 5px;
}
.main .sc4 .wrap .swiper .swiper-pagination {
  transition: opacity 0.5s;
}
.main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide-next ~ .swiper-slide img:last-child {
  opacity: 0.5;
}
.main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide-next ~ .swiper-slide:last-child img {
  opacity: 1;
}
.main .sc4 .wrap .swiper .swiper-slide-next ~ .swiper-slide ~ .swiper-slide {
  opacity: 0.5;
}
.main .sc4 .wrap .swiper .swiper-pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1920px;
  transform: translate(-50%, -50%);
}
.main .sc4 .wrap .swiper .swiper-pagination .swiper-button-prev {
  width: 32px;
  height: 36px;
  background-image: url("../img/slide_prev.png");
  background-size: contain;
}
.main .sc4 .wrap .swiper .swiper-pagination .swiper-button-next {
  width: 32px;
  height: 36px;
  background-image: url("../img/slide_next.png");
  background-size: contain;
}
.main .sc5 {
  background-color: #fff;
}
.main .sc5 .wrap {
  width: 1485px;
  margin: 0 auto;
  padding: 125px 0;
}
.main .sc5 .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.main .sc5 .wrap .left {
  float: left;
  width: 50%;
}
.main .sc5 .wrap .left h2 {
  font-size: 60px;
  padding-bottom: 30px;
  word-break: keep-all;
}
.main .sc5 .wrap .left .swiper-container.sc5Slide {
  width: 423px;
  margin: 0;
}
.main .sc5 .wrap .left .swiper-container.sc5Slide .swiper-slide img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.main .sc5 .wrap .left .swiper-container.sc5Slide .swiper-slide b {
  display: inline-block;
  font-size: 20px;
  line-height: 1.8;
  padding-bottom: 30px;
}
.main .sc5 .wrap .left .swiper-container.sc5Slide .swiper-slide p {
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
  padding-left: 10px;
}
.main .sc5 .wrap .left .swiper-container.sc5Slide .swiper-slide p::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 70%;
  background-color: #000;
}
.main .sc5 .wrap .left .swiper_movement {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 40px;
}
.main .sc5 .wrap .left .swiper_movement .swiper-pagination {
  position: static;
  text-align: left;
  height: 25px;
}
.main .sc5 .wrap .left .swiper_movement .swiper-button-next, .main .sc5 .wrap .left .swiper_movement .swiper-button-prev {
  position: static;
  width: 8px;
  height: 10px;
  background-size: contain;
  margin: 0;
  background-image: url("../img/slide_prev02.png");
  background-size: contain;
  opacity: 1;
  margin-right: 10px;
}
.main .sc5 .wrap .left .swiper_movement .swiper-button-next {
  background-image: url("../img/slide_next02.png");
  margin-right: 0;
  margin-left: 10px;
}
.main .sc5 .wrap .left .swiper_movement .swiper-pagination-bullet {
  margin-right: 5px;
}
.main .sc5 .wrap .left .swiper_movement .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.main .sc5 .wrap .left .swiper_movement .swiper-play {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-image: url("../img/stop.png");
  background-repeat: no-repeat;
  background-size: 89%;
  background-position: top center;
  z-index: 1;
  cursor: pointer;
}
.main .sc5 .wrap .left .swiper_movement .swiper-play > span {
  display: none;
}
.main .sc5 .wrap .left .swiper_movement .swiper-play.on {
  background-position: bottom;
}
.main .sc5 .wrap .left .detail {
  display: block;
  width: 168px;
  height: 50px;
  margin-top: 0px;
  background-color: #0058c2;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
.main .sc5 .wrap .right {
  float: right;
  width: 50%;
  max-width: 696px;
}
.main .sc5 .wrap .right .swiper-container.sc5Slide02 .swiper-slide {
  position: relative;
  height: 534px;
  overflow: hidden;
}
.main .sc5 .wrap .right .swiper-container.sc5Slide02 .swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: auto;
  height: 100%;
}

.popup {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup .video {
  width: 90%;
  max-width: 900px;
}
.popup .video .video_wrap {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.popup .video .video_wrap iframe,
.popup .video .video_wrap object,
.popup .video .video_wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.popup .video .video_close {
  position: absolute;
  right: 0;
  top: calc(-29px - 0.25rem);
  width: 30px;
  height: 29px;
  background-image: url("../img/close.png");
  background-size: 100%;
  opacity: 0.9;
  z-index: 2;
  cursor: pointer;
}
.popup .video .video_close > span {
  display: none;
}

.popup.on {
  display: flex;
}

@media (max-width: 1666px) {
  .main .sc1 .wrap h2.emblem {
    width: 46.14%;
  }
  .main .sc2 .wrap h2 {
    font-size: 3.6vw;
  }
  .main .sc3 .wrap {
    width: 90%;
  }
  .main .sc3 .wrap .right .imgWrap::before {
    left: -11vw;
  }
  .main .sc4 .wrap .top {
    width: 90%;
  }
  .main .sc4 .wrap .swiper .swiper-container.imgSlide,
.main .sc4 .wrap .swiper .swiper-container.historySlide {
    left: 0;
    width: 90%;
  }
  .main .sc5 .wrap {
    width: 90%;
  }
  .main .sc5 .wrap .right img {
    display: block;
    width: 100%;
  }
}
@media (max-width: 1365px) {
  .main .sc3 .wrap .right .imgWrap::before {
    display: none;
  }
}
@media (max-width: 1200px) {
  .main .sc3 {
    background: #fff;
  }
  .main .sc3 .wrap {
    display: block;
    padding: 160px 0;
  }
  .main .sc3 .wrap .left {
    padding-left: 40px;
    padding-bottom: 150px;
    width: 100%;
  }
  .main .sc3 .wrap .right {
    width: 100%;
  }
  .main .sc3 .wrap .right .imgWrap {
    height: auto;
  }
  .main .sc3 .wrap .right .imgWrap .img01 {
    position: relative;
    width: 70%;
    transform: translate(0);
  }
  .main .sc3 .wrap .right .imgWrap .img02 {
    width: 50%;
    left: auto;
    right: 0;
  }
  .main .sc4 .wrap {
    background-size: 160%;
  }
  .main .sc4 .wrap::before {
    width: 179px;
    height: 270px;
    background-image: url("../img/sc4_obj01_mo.png");
    background-repeat: no-repeat;
  }
  .main .sc4 .wrap::after {
    width: 152px;
    height: 200px;
    background-image: url("../img/sc4_obj02_mo.png");
    background-repeat: no-repeat;
  }
  .main .sc4 .wrap .top {
    display: block;
  }
  .main .sc4 .wrap .top h2 {
    text-align: center;
  }
  .main .sc4 .wrap .swiper .swiper-pagination {
    top: 35%;
    right: 5%;
    left: auto;
    transform: translate(0);
    width: 125px;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide:not(:first-child) {
    left: 0;
  }
  .main .sc4 .wrap .more {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    margin: 0 auto;
  }
  .main .sc5 .wrap {
    display: block;
  }
  .main .sc5 .wrap .left {
    padding-bottom: 50px;
    width: 100%;
  }
  .main .sc5 .wrap .left:last-child {
    padding-bottom: 0;
  }
  .main .sc5 .wrap .left .swiper-container.sc5Slide {
    width: 100%;
  }
  .main .sc5 .wrap .left .swiper_movement {
    justify-content: center;
    margin: 40px auto 0;
  }
  .main .sc5 .wrap .right {
    width: 100%;
    max-width: 100%;
  }
  .main .sc5 .wrap .right .swiper-container.sc5Slide02 .swiper-slide {
    height: 826px;
  }
}
@media (max-width: 1024px) {
  .main .sc2 {
    height: 500px;
  }
  .main .sc2 .wrap {
    height: 100%;
  }
  .main .sc2 .wrap .video {
    height: 100%;
  }
  .main .sc2 .wrap .sc2_bg {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main .sc2 .wrap h2 {
    font-size: 5vw;
  }
  .main .sc5 .wrap .right .swiper-container.sc5Slide02 .swiper-slide {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .main .sc1 video {
    left: 0;
    transform: translate(0, -50%);
  }
  .main .sc3 .wrap {
    padding: 120px 0;
  }
  .main .sc3 .wrap .left {
    padding-bottom: 100px;
  }
  .main .sc4 .wrap::before {
    width: 19.622vw;
    height: 29.68vw;
    background-size: contain;
  }
  .main .sc4 .wrap::after {
    width: 22.622vw;
    height: 29.68vw;
    background-size: contain;
  }
  .main .sc4 .wrap .top h2 {
    font-size: 40px;
  }
  .main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide {
    width: 100%;
    margin-right: 10px;
  }
  .main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide img {
    width: 50%;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide {
    width: 100%;
  }
  .main .sc5 .wrap .right .swiper-container.sc5Slide02 .swiper-slide {
    height: 543px;
  }
}
@media (max-height: 900px) {
  .main .sc1 .wrap h2.emblem {
    width: 50vh;
  }
}
@media (max-width: 575.98px) {
  .main .sc1 .wrap h2.emblem {
    width: 60%;
  }
  .main .sc2 .wrap h2 {
    top: 45%;
    font-size: 7vw;
  }
  .main .sc3 .wrap {
    padding: 60px 0;
  }
  .main .sc3 .wrap .left {
    padding: 0 2.5% 50px;
  }
  .main .sc3 .wrap .left > span {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .main .sc3 .wrap .left h2 {
    font-size: 40px;
    padding-bottom: 25px;
  }
  .main .sc3 .wrap .left p {
    font-size: 14px;
  }
  .main .sc4 .wrap {
    padding: 25vw 0;
  }
  .main .sc4 .wrap .top {
    padding-bottom: 30px;
  }
  .main .sc4 .wrap .top h2 {
    font-size: 7vw;
  }
  .main .sc4 .wrap .more {
    bottom: 3%;
  }
  .main .sc4 .wrap .swiper .swiper-container.imgSlide {
    margin-bottom: 40px;
  }
  .main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide {
    margin-right: 10px;
  }
  .main .sc4 .wrap .swiper .swiper-container.imgSlide .swiper-slide img:first-child {
    margin-right: 5px;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide {
    height: 445px;
    margin-bottom: 50px;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide {
    padding-left: 30px;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide::before {
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide::after {
    top: 18px;
    left: 8px;
    height: 450px;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide > span {
    font-size: 22px;
    padding-bottom: 20px;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide ul li {
    margin-bottom: 20px;
  }
  .main .sc4 .wrap .swiper .swiper-container.historySlide .swiper-slide ul li * {
    font-size: 16px;
  }
  .main .sc4 .wrap .swiper .swiper-pagination {
    position: relative;
    top: -470px;
    left: calc(100% - 60px);
    transform: translateX(-50%);
    width: 80px;
  }
  .main .sc4 .wrap .swiper .swiper-pagination .swiper-button-prev, .main .sc4 .wrap .swiper .swiper-pagination .swiper-button-next {
    width: 27px;
    height: 24px;
    background-size: contain;
    transition: 0;
  }
  .main .sc4 .wrap .more {
    width: 128px;
    height: 48px;
    border-radius: 15px;
    line-height: 48px;
    font-size: 14px;
  }
  .main .sc5 .wrap {
    padding: 50px 0;
  }
  .main .sc5 .wrap .left {
    padding-bottom: 40px;
    padding-left: 10px;
  }
  .main .sc5 .wrap .left h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .main .sc5 .wrap .left .swiper-container.sc5Slide .swiper-slide b {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .main .sc5 .wrap .left .swiper-container.sc5Slide .swiper-slide p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .main .sc5 .wrap .left .swiper_movement {
    margin: 20px auto 0;
  }
  .main .sc5 .wrap .left .swiper_movement .swiper-button-prev, .main .sc5 .wrap .left .swiper_movement .swiper-button-next {
    display: none;
  }
  .main .sc5 .wrap .left .swiper_movement .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 7px;
  }
  .main .sc5 .wrap .right .swiper-container.sc5Slide02 .swiper-slide {
    height: 380px;
  }
  .main .sc5 .wrap .detail {
    margin-top: 40px;
  }
}
@media (max-width: 375px) {
  .main .sc5 .wrap .right .swiper-container.sc5Slide02 .swiper-slide {
    height: 260px;
  }
}