@charset "UTF-8";
/*
font-family: 'NanumMyeongjo';
font-family: 'NanumMyeongjoBold';
font-family: 'NanumMyeongjoExtraBold';


font-family: 'NanumSquare Neo', sans-serif;
font-family: 'NanumSquare Neo variable', sans-serif;
*/
/* sub 공용 top 시작*/
.sub_top {
  width: 100%;
  height: 560px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  font-family: "NanumSquareNeo", sans-serif;
}
.sub_top::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation: visualani 1.5s ease 0.1s;
          animation: visualani 1.5s ease 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.sub_top .inner {
  width: 100%;
  max-width: 1760px;
  height: 100%;
  margin: 0px auto;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sub_top .inner .sub_title {
  color: #fff;
  letter-spacing: -1px;
}
.sub_top .inner .sub_title p {
  font-family: "NanumSquareNeo", sans-serif;
  width: 200px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border: 1px solid #fff;
  text-align: center;
  font-size: 19px;
  margin: 0px auto 30px;
  opacity: 0;
  -webkit-animation: textani 1s ease 0.3s forwards;
          animation: textani 1s ease 0.3s forwards;
  color: #fff;
}
.sub_top .inner .sub_title h2 {
  font-family: "NanumMyeongjo", sans-serif;
  opacity: 0;
  font-size: 60px;
  -webkit-animation: textani 1s ease 0.6s forwards;
          animation: textani 1s ease 0.6s forwards;
  color: #fff;
  text-align: center;
}
.sub_top .inner .sub_nav_text {
  font-weight: 100;
  font-family: "NanumSquareLight";
  position: absolute;
  bottom: 30px;
  left: 3%;
  padding-left: 27px;
  padding-right: 2.5%;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px;
  color: #fff;
  font-size: 16px;
}
.sub_top .inner .sub_nav_text strong {
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
  color: #fff;
}

/* 검색 공용 */
.total {
  font-size: 16px;
  color: #000;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
}

.search_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.search_box .search_wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.search_box .search_wrap .area-custom-select {
  width: 176px;
  height: 60px;
  font-size: 18px;
  background-image: url("../img/select_down.png");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.search_box .search_wrap .area-custom-select .select-origin {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #c9c9c9;
  font-weight: 600;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search_box .search_wrap .area-custom-select .select-origin::-ms-expand {
  display: none;
}
.search_box .search_wrap .area-custom-select .select-origin:focus {
  border-color: #0f9ae7;
}
.search_box .search_wrap .area-custom-select .select-origin option {
  padding: 10px 0;
}
.search_box .search_wrap .search_text {
  width: 310px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  padding: 10px 20px;
  font-size: 16px;
  color: #a1a1a1;
  border-radius: 10px;
  margin-left: 10px;
}
.search_box .search_wrap button.search {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #000;
  background-image: url("../img/search.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}
.search_box .search_wrap button.search * {
  color: #fff;
}

/* 게시판 리스트 공용 */
.sub_board .board_list {
  width: 100%;
  padding-bottom: 53px;
}
.sub_board .board_list .top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0;
  border-top: 2px solid #000;
  border-bottom: 1px solid #b6b6b6;
}
.sub_board .board_list .top .title {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.sub_board .board_list .top .date {
  width: 20%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.sub_board .board_list .list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0 30px 30px;
  border-bottom: 1px solid #b6b6b6;
}
.sub_board .board_list .list li * {
  font-size: 18px;
}
.sub_board .board_list .list li a {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.sub_board .board_list .list li a::after {
  content: "N";
  display: none;
  width: 20px;
  height: 20px;
  background-color: #0495e6;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
.sub_board .board_list .list li .conTitle {
  width: calc(80% - 30px);
  line-height: 1.7;
  font-weight: 600;
  margin-right: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub_board .board_list .list li .conDate {
  width: 20%;
  text-align: center;
}
.sub_board .board_list .list li.new a::after {
  display: block;
}

/* 게시판 리스트 공용 끝 */
@-webkit-keyframes textani {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes textani {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes visualani {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes visualani {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/* sub 공용 top 끝*/
/* sub 공용 nav 시작 */
.sub_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sub_nav .pageButton {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #c9c9c9;
  color: #737373;
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}
.sub_nav .pageButton:last-child {
  margin-right: 0;
}
.sub_nav .sub_first {
  background-image: url("../img/sub_first.png");
}
.sub_nav .sub_prev {
  background-image: url("../img/sub_prev.png");
}
.sub_nav .sub_next {
  background-image: url("../img/sub_next.png");
}
.sub_nav .sub_last {
  background-image: url("../img/sub_last.png");
}
.sub_nav ul {
  display: flex;
  justify-content: center;
}
.sub_nav ul li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 8px;
  font-size: 20px;
  border: none;
  color: #000;
  border: 1px solid #fff;
  transition: border 0.5s;
}
.sub_nav ul li a:hover {
  border: 1px solid #00499b;
}
.sub_nav ul .active a {
  background-color: #00499b;
  color: #fff;
}

/* 서브 slide 공용 */
.mainSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 90px;
}
.mainSlide .main_swiper-container {
  width: 100%;
  height: 470px;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
}
.mainSlide .main_swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 4px 0px;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  margin-right: 5%;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide:hover::before {
  border: 4px solid #0495e6;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide:hover a .img_box .img {
  transform: scale(1.1);
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .img_box {
  width: 100%;
  height: 70%;
  background-color: #555;
  box-sizing: border-box;
  overflow: hidden;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .img_box .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .img_box .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: auto;
  height: 100%;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .text_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  padding: 25px 20px;
  position: relative;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .text_box p {
  font-size: 18px;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #000;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .text_box span {
  display: inline-block;
  color: #000;
  font-size: 15px;
  color: #555;
  word-break: break-all;
}
.mainSlide .main_swiper-container .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}
.mainSlide .swiper-button-next {
  position: static;
  width: 32px;
  height: 36px;
  background: url(../img/next_hover.png) no-repeat center center/contain;
  margin-left: 10px;
  opacity: 1;
}
.mainSlide .swiper-button-next::after {
  content: "";
}
.mainSlide .swiper-button-next.swiper-button-disabled {
  background: url(../img/next.png) no-repeat center center/contain;
}
.mainSlide .swiper-button-prev {
  position: static;
  width: 32px;
  height: 36px;
  background: url(../img/prev_hover.png) no-repeat center center/contain;
  margin-right: 10px;
  opacity: 1;
}
.mainSlide .swiper-button-prev::after {
  content: "";
}
.mainSlide .swiper-button-prev.swiper-button-disabled {
  background: url(../img/prev.png) no-repeat center center/contain;
}

/*사업보도 시작*/
.sub_top.top_businessReport::before {
  background-image: url(../img/sub_top01.jpg);
}

.sub_businessReport {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0px;
  font-family: "NanumSquareNeo", sans-serif;
}
.sub_businessReport .inner {
  width: 1200px;
  margin: 0px auto;
}
.sub_businessReport .inner .businessReport_content ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.sub_businessReport .inner .businessReport_content ul li {
  width: calc(33.33% - 40px);
  margin-right: 60px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  margin-bottom: 60px;
  position: relative;
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  transform: translateY(20%);
}
.sub_businessReport .inner .businessReport_content ul li:nth-child(3n+2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sub_businessReport .inner .businessReport_content ul li:nth-child(3n) {
  margin-right: 0;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sub_businessReport .inner .businessReport_content ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.sub_businessReport .inner .businessReport_content ul li a .img_box {
  width: 100%;
  background-color: #555;
  overflow: hidden;
  box-sizing: border-box;
}
.sub_businessReport .inner .businessReport_content ul li a .img_box img {
  display: block;
  width: 100%;
}
.sub_businessReport .inner .businessReport_content ul li a .text_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}
.sub_businessReport .inner .businessReport_content ul li a .text_box .tit {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  color: #0070bb;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
}
.sub_businessReport .inner .businessReport_content ul li a .text_box p {
  color: #000;
  font-size: 18px;
  line-height: 1.5;
  word-break: keep-all;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.sub_businessReport .inner .businessReport_content ul li a .text_box .date {
  display: block;
  width: 100%;
  text-align: right;
  color: #000;
  font-size: 16px;
  font-family: "NanumSquareNeo", sans-serif;
  margin-top: 30px;
  font-weight: bold;
}
.sub_businessReport.on .inner .businessReport_content ul li {
  opacity: 1;
  transform: translateY(0);
}
.sub_businessReport.on .inner .businessReport_content ul li:hover {
  transform: translateY(-3%);
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.2);
}
.sub_businessReport.on .inner .businessReport_content ul li:hover::before {
  border: 4px solid #0495e6;
}

/* 이벤트 및 공모전 */
.sub_top.top_event::before {
  background-image: url(../img/sub_top02.jpg);
}

.sub_event {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0px;
  font-family: "NanumSquareNeo", sans-serif;
  letter-spacing: -0.5px;
}
.sub_event .inner {
  width: 1200px;
  margin: 0px auto;
}

/* 공지사항 시작 */
.sub_top.top_notice::before {
  background-image: url(../img/sub_top03.jpg);
}

.sub_notice {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0px;
  font-family: "NanumSquareNeo", sans-serif;
}
.sub_notice .inner {
  width: 1200px;
  margin: 0px auto;
}

/* 금고소식 */
.sub_top.top_newsSafe::before {
  background-image: url(../img/sub_top04.jpg);
}

.sub_newsSafe {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0px;
  font-family: "NanumSquareNeo", sans-serif;
  letter-spacing: -0.5px;
}
.sub_newsSafe .inner {
  width: 1200px;
  margin: 0px auto;
}

/* view */
.sub_top.top_view::before {
  background-image: url(../img/view_top.jpg);
}

.sub_view {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0px;
  font-family: "NanumSquareNeo", sans-serif;
}
.sub_view .inner {
  width: 1200px;
  margin: 0px auto;
}
.sub_view .inner .title {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #b6b6b6;
  box-sizing: border-box;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
}
.sub_view .inner .title .left {
  width: 85%;
  box-sizing: border-box;
}
.sub_view .inner .title .left h5 {
  font-size: 20px;
  font-family: "NanumSquareNeo", sans-serif;
  word-break: keep-all;
  line-height: 1.5;
  font-weight: bold;
}
.sub_view .inner .title .left .eventPeriod {
  margin-top: 20px;
  font-size: 16px;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
  color: #737373;
}
.sub_view .inner .title .left .eventPeriod span {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: #0495e6;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
}
.sub_view .inner .title .right {
  width: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.sub_view .inner .content {
  padding: 50px 0px;
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 50px;
}
.sub_view .inner .content .img {
  display: block;
  margin: 0px auto 50px;
}
.sub_view .inner .content .img img {
  display: block;
  width: 100%;
}
.sub_view .inner .content p {
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 50px;
}
.sub_view .inner .view_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_view .inner .view_nav .prev {
  width: calc(50% - 65px);
}
.sub_view .inner .view_nav .prev a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.sub_view .inner .view_nav .prev a:hover .img_box {
  background: url(../img/view_prev_h.jpg) no-repeat center center/cover;
}
.sub_view .inner .view_nav .prev a .img_box {
  width: 29px;
  height: 29px;
  background: url(../img/view_prev.png) no-repeat center center/cover;
  margin-right: 10px;
}
.sub_view .inner .view_nav .prev a .text_box {
  width: calc(100% - 40px);
}
.sub_view .inner .view_nav .prev a .text_box p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #000;
}
.sub_view .inner .view_nav .prev a .text_box p:nth-child(1) {
  margin-bottom: 10px;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
}
.sub_view .inner .view_nav .list {
  margin: 0 20px;
}
.sub_view .inner .view_nav .list a {
  display: block;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 17px;
  line-height: 50px;
  box-sizing: border-box;
}
.sub_view .inner .view_nav .list a img {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.sub_view .inner .view_nav .list a span {
  display: inline-block;
  color: #fff;
}
.sub_view .inner .view_nav .next {
  width: calc(50% - 65px);
}
.sub_view .inner .view_nav .next a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.sub_view .inner .view_nav .next a:hover .img_box {
  background: url(../img/view_next_h.jpg) no-repeat center center/cover;
}
.sub_view .inner .view_nav .next a .img_box {
  width: 29px;
  height: 29px;
  background: url(../img/view_next.png) no-repeat center center/cover;
  margin-left: 10px;
}
.sub_view .inner .view_nav .next a .text_box {
  width: calc(100% - 40px);
  text-align: right;
}
.sub_view .inner .view_nav .next a .text_box p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #000;
}
.sub_view .inner .view_nav .next a .text_box p:nth-child(1) {
  margin-bottom: 10px;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
}

/* view끝 */
/*기념영상 시작*/
.sub_top.top_video::before {
  background-image: url(../img/sub_top05.jpg);
}

.sub_video {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0px;
  font-family: "NanumSquareNeo", sans-serif;
}
.sub_video .inner {
  width: 1200px;
  margin: 0px auto;
}
.sub_video .inner .video_box {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 60px;
}
.sub_video .inner .video_box .videoWrap {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.sub_video .inner .video_box .videoWrap iframe, .sub_video .inner .video_box .videoWrap object, .sub_video .inner .video_box .videoWrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sub_video .inner .video_box img {
  width: 100%;
}
.sub_video .inner .list h5 {
  font-size: 27px;
  text-align: center;
  margin-bottom: 70px;
}
.sub_video .inner .list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sub_video .inner .list ul li {
  width: 23%;
  height: 300px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.sub_video .inner .list ul li:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: 4px solid #0495e6;
  pointer-events: none;
}
.sub_video .inner .list ul li:hover .img_box .img {
  transform: scale(1.1);
}
.sub_video .inner .list ul li .img_box {
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  background-color: #555;
  overflow: hidden;
}
.sub_video .inner .list ul li .img_box .img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.sub_video .inner .list ul li .img_box .img img {
  display: block;
  width: 100%;
}
.sub_video .inner .list ul li .text_box {
  width: 100%;
  height: 40%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
.sub_video .inner .list ul li .text_box p {
  font-size: 17px;
  line-height: 1.5;
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.sub_video .inner .list ul li .text_box span {
  display: block;
  margin-top: 10px;
  color: #000;
}

/*기념영상 끝*/
/* 사업소개 */
.sub_top.top_introductionBusiness::before {
  background-image: url(../img/view_top.jpg);
}

.sub_introductionBusiness {
  font-family: "NanumSquareNeo", sans-serif;
  width: 100%;
  padding: 0px 0px 100px;
  box-sizing: border-box;
}
.sub_introductionBusiness .conNav {
  width: 100%;
  margin-bottom: 100px;
  border-bottom: 1px solid #c9c9c9;
}
.sub_introductionBusiness .conNav .wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sub_introductionBusiness .conNav .wrap ul li {
  position: relative;
  width: 20%;
  text-align: center;
  font-size: 20px;
}
.sub_introductionBusiness .conNav .wrap ul li a {
  display: block;
  padding: 30px 0;
}
.sub_introductionBusiness .conNav .wrap ul li::before {
  content: "";
  width: 0px;
  height: 3px;
  background-color: #0284cb;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.sub_introductionBusiness .conNav .wrap ul li.on::before, .sub_introductionBusiness .conNav .wrap ul li:hover::before {
  width: 100%;
}
.sub_introductionBusiness .conNav .wrap ul li.new::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: 70px;
  transform: translate(-50%, -50%);
  background-image: url("../img/nav_new.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.sub_introductionBusiness .inner {
  width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
}
.sub_introductionBusiness .inner::after {
  content: "";
  display: block;
  clear: both;
}
.sub_introductionBusiness .inner h5 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}
.sub_introductionBusiness .inner ul {
  position: relative;
}
.sub_introductionBusiness .inner ul li {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 50%;
  height: 580px;
  box-sizing: border-box;
  position: relative;
  opacity: 0;
  transform: translateY(20%);
  transition: transform 1s, opacity 1s;
}
.sub_introductionBusiness .inner ul li.on {
  opacity: 1;
  transform: translateY(0);
}
.sub_introductionBusiness .inner ul li::before {
  content: "";
  position: absolute;
  top: 41%;
  right: 0;
  width: 144px;
  height: 1px;
  background-color: #0495e6;
}
.sub_introductionBusiness .inner ul li a {
  display: block;
  width: 100%;
  max-width: 480px;
  height: 100%;
  z-index: 1;
}
.sub_introductionBusiness .inner ul li a:hover .img_box_contain {
  border: 10px solid #0495e6;
}
.sub_introductionBusiness .inner ul li a:hover .img_box_contain .img_box {
  transform: scale(1.1);
}
.sub_introductionBusiness .inner ul li a .img_box_contain {
  width: 100%;
  height: 75%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}
.sub_introductionBusiness .inner ul li a .img_box_contain .img_box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #555;
  transition: transform 0.2s;
}
.sub_introductionBusiness .inner ul li a .img_box_contain .img_box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: auto;
  height: 100%;
}
.sub_introductionBusiness .inner ul li a .text_box {
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  padding: 30px 0px;
}
.sub_introductionBusiness .inner ul li a .text_box h6 {
  font-size: 20px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #000;
  word-break: keep-all;
  margin-bottom: 10px;
}
.sub_introductionBusiness .inner ul li a .text_box p {
  font-size: 16px;
  color: #585858;
}
.sub_introductionBusiness .inner ul li a .text_box p span {
  display: inline-block;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  background-color: #0495e6;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  margin-right: 5px;
}
.sub_introductionBusiness .inner ul li .eventMonth {
  position: relative;
  top: 200px;
  width: 74px;
  height: 74px;
  margin-right: -37px;
  background: url(../img/introductionBusiness_list.png) no-repeat center center/cover;
  text-align: center;
  color: #fff;
  line-height: 74px;
  font-size: 20px;
  font-family: "NanumSquareNeo", sans-serif;
  font-weight: bold;
}
.sub_introductionBusiness .inner ul li:nth-of-type(even) {
  flex-direction: row-reverse;
  margin-top: 200px;
}
.sub_introductionBusiness .inner ul li:nth-of-type(even) .eventMonth {
  margin-right: 0;
  margin-left: -37px;
}
.sub_introductionBusiness .inner ul li:nth-of-type(even)::before {
  content: "";
  position: absolute;
  top: 41%;
  left: 0;
  width: 144px;
  height: 1px;
  background-color: #0495e6;
}
.sub_introductionBusiness .inner ul::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d0d0d0;
}
.sub_introductionBusiness .inner ul::after {
  content: "";
  display: block;
  clear: both;
}

/* 사업소개 끝 */
/* ceo인사 */
.sub_top.top_ceo::before {
  background-image: url(../img/sub_top06.jpg);
}

.sub_ceo {
  font-family: "NanumSquareNeo", sans-serif;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.sub_ceo::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 30%;
  width: 70%;
  height: 100%;
  background-color: #e9f9ff;
  z-index: -1;
}
.sub_ceo .inner {
  position: relative;
  width: 1500px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sub_ceo .inner .img_box {
  width: 50%;
  overflow: hidden;
  text-align: right;
}
.sub_ceo .inner .img_box img {
  display: inline-block;
  width: 100%;
  max-width: 645px;
}
.sub_ceo .inner .text_box {
  width: 50%;
  box-sizing: border-box;
  padding-left: 50px;
}
.sub_ceo .inner .text_box p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 30px;
}
.sub_ceo .inner .text_box span {
  position: absolute;
  left: calc(50% - 400px);
  bottom: 140px;
  display: block;
  text-align: right;
  margin-top: 50px;
}
.sub_ceo .inner .text_box span img {
  position: relative;
  top: 10px;
  width: 200px;
  display: none;
}
.sub_ceo .inner .text_box span img:nth-of-type(2) {
  display: inline-block;
}
.sub_ceo .inner.bottom {
  width: 100%;
  max-width: 1500px;
}
.sub_ceo .inner.bottom .left {
  width: 30%;
  padding-left: 5%;
}
.sub_ceo .inner.bottom .left h3 {
  font-size: 30px;
  line-height: 1.4;
  font-family: "NanumSquareNeo";
  font-weight: 800;
}
.sub_ceo .inner.bottom .right {
  width: 70%;
}
.sub_ceo .inner.bottom .right .congrats_slide {
  width: 100%;
  max-width: 815px;
  margin: 0 auto;
  padding-bottom: 40px;
  overflow: hidden;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-container {
  width: 100%;
  max-width: 815px;
  overflow: unset;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide {
  width: calc(50% - 15px);
  max-width: 390px;
  margin-right: 30px;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide:last-child {
  margin-right: 0;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div {
  display: block;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #aed5e4;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile .img {
  max-width: 100px;
  margin-right: 20px;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile .img img {
  display: block;
  width: 100%;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile > div > span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile > div > h4 {
  font-size: 20px;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .text {
  font-size: 17px;
  line-height: 1.8;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-pagination {
  top: auto;
  bottom: -30px;
  width: 60%;
  max-width: 340px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #acddef;
}
.sub_ceo .inner.bottom .right .congrats_slide .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #000;
}

/* ceo인사 끝 */
/* 엠블럼 */
.sub_top.top_emblem::before {
  background-image: url(../img/sub_top08.jpg);
}

.sub_emblem {
  font-family: "NanumSquareNeo";
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.sub_emblem .inner {
  position: relative;
  width: 1500px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 100px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sub_emblem .inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 27.41%;
  width: 200%;
  height: 100%;
  background-color: #e9f9ff;
  z-index: -1;
}
.sub_emblem .inner:last-child {
  padding-bottom: 100px;
}
.sub_emblem .inner h3 {
  font-size: 30px;
  line-height: 1.4;
  font-family: "NanumSquareNeo";
  font-weight: 800;
  padding-bottom: 20px;
  word-break: keep-all;
}
.sub_emblem .inner h3 span {
  color: #999;
}
.sub_emblem .inner p {
  font-size: 18px;
  line-height: 1.8;
  padding-bottom: 10px;
}
.sub_emblem .inner small {
  font-size: 16px;
  line-height: 1.8;
  color: #0495e6;
}
.sub_emblem .inner .left {
  width: 27.41%;
  padding-right: 80px;
}
.sub_emblem .inner .left .btn_wrap a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 62px;
  border: 1px solid #ccc;
  text-decoration: none;
  margin-bottom: 10px;
}
.sub_emblem .inner .left .btn_wrap a span {
  display: inline-block;
  padding-right: 20px;
  font-size: 18px;
  color: #000;
  background-image: url("../img/down_icon.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 13px;
}
.sub_emblem .inner .right {
  width: 72.59%;
  padding-left: 170px;
}
.sub_emblem .inner .right .emblem_wrap {
  position: relative;
  width: 950px;
}
@-webkit-keyframes bgMove {
  0% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
@keyframes bgMove {
  0% {
    background-position: right center;
  }
  100% {
    background-position: left center;
  }
}
.sub_emblem .inner .right .emblem_wrap .mask {
  position: absolute;
  width: 480px;
  height: 480px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../img/emblem_bg.jpg");
  background-color: #d1fcff;
  border-radius: 50%;
  -webkit-animation: bgMove 20s infinite linear;
          animation: bgMove 20s infinite linear;
}
.sub_emblem .inner .right .emblem_wrap .emblem {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  max-width: 100%;
}
@-webkit-keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.sub_emblem .inner .right .emblem_wrap .pop {
  position: absolute;
  -webkit-animation: pop 2s infinite ease-in-out;
          animation: pop 2s infinite ease-in-out;
}
.sub_emblem .inner .right .emblem_wrap .pop01 {
  top: -5%;
  right: 9%;
}
.sub_emblem .inner .right .emblem_wrap .pop02 {
  top: 45.83%;
  left: 7.3%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sub_emblem .inner .right .emblem_wrap .pop03 {
  top: 72.29%;
  left: 23.15%;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sub_emblem .inner .right .color {
  padding-bottom: 40px;
}
.sub_emblem .inner .right .color .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.sub_emblem .inner .right .color .card span {
  display: inline-block;
  width: calc(50% - 30px);
  padding-bottom: 40px;
}
.sub_emblem .inner .right .color .card span img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.sub_emblem .inner .right .color .card span:first-child {
  margin-right: 60px;
}
.sub_emblem .inner .right .color .card span:last-child {
  padding-bottom: 0;
}
.sub_emblem .inner .right .type {
  position: relative;
  width: 100%;
}
.sub_emblem .inner .right .type img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.sub_emblem .inner .right .type .category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 20px;
  background-color: #0495e6;
  font-size: 18px;
  color: #fff;
  font-family: "NanumSquareNeo";
  font-weight: 200;
}

/* 엠블럼 끝 */
/* small PC */
@media screen and (max-width: 1600px) {
  /* 엠블럼 시작 */
  .sub_emblem .inner {
    width: 90%;
  }
  .sub_emblem .inner .left {
    padding-right: 5%;
  }
  .sub_emblem .inner .right {
    padding-left: 8%;
  }
  .sub_emblem .inner .right .emblem_wrap {
    width: 100%;
  }
  .sub_emblem .inner .right .emblem_wrap .mask {
    width: 50.52%;
    height: 100%;
  }
  .sub_emblem .inner .right .emblem_wrap .emblem {
    width: 50.52%;
  }
  .sub_emblem .inner .right .emblem_wrap .pop01 {
    width: 26.73%;
  }
  .sub_emblem .inner .right .emblem_wrap .pop02 {
    width: 17.26%;
  }
  .sub_emblem .inner .right .emblem_wrap .pop03 {
    width: 10.52%;
  }
  .sub_emblem .inner .right .color .card span {
    width: calc(50% - 20px);
  }
  .sub_emblem .inner .right .color .card span:first-child {
    margin-right: 40px;
  }
  /* 엠블럼 끝 */
}
/* tablet */
@media screen and (max-width: 1200px) {
  /* 검색 공용 */
  .sub_search {
    display: flex;
    margin-bottom: 30px;
  }
  /* 서브 slide 공용 */
  .mainSlide {
    margin-bottom: 50px;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide {
    width: 42.5%;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .text_box {
    position: relative;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .text_box p {
    font-size: 16px;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .text_box span {
    font-size: 14px;
  }
  /*사업보도 시작*/
  .sub_businessReport {
    padding: 40px 0px;
  }
  .sub_businessReport .inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5%;
  }
  .sub_businessReport .inner .businessReport_content ul li {
    width: calc(50% - 22.5px);
    margin-right: 45px !important;
  }
  .sub_businessReport .inner .businessReport_content ul li:nth-child(3n+2) {
    -webkit-animation-delay: unset;
            animation-delay: unset;
  }
  .sub_businessReport .inner .businessReport_content ul li:nth-child(3n) {
    -webkit-animation-delay: unset;
            animation-delay: unset;
  }
  .sub_businessReport .inner .businessReport_content ul li:nth-child(2n) {
    margin-right: 0 !important;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  /* 이벤트 및 공모전 */
  .sub_event {
    width: 100%;
    padding: 40px 0px;
  }
  .sub_event .inner {
    width: 100%;
    padding: 0px 5%;
    box-sizing: border-box;
  }
  /* 금고소식 */
  .sub_newsSafe {
    width: 100%;
    padding: 40px 0px;
  }
  .sub_newsSafe .inner {
    width: 100%;
    padding: 0px 5%;
    box-sizing: border-box;
  }
  /* 공지사항 시작 */
  .sub_notice {
    padding: 40px 0px;
  }
  .sub_notice .inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5%;
  }
  /* view */
  .sub_view {
    padding: 60px 0px;
  }
  .sub_view .inner {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5%;
  }
  .sub_view .inner .title {
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .sub_view .inner .title .left {
    width: 100%;
  }
  .sub_view .inner .title .left h5 {
    font-size: 18px;
    word-break: keep-all;
    line-height: 1.5;
  }
  .sub_view .inner .title .left .eventPeriod {
    margin-top: 10px;
    font-size: 14px;
  }
  .sub_view .inner .title .right {
    margin-top: 20px;
    width: 100%;
    text-align: right;
    font-size: 14px;
  }
  .sub_view .inner .content {
    padding: 50px 0px;
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 50px;
  }
  .sub_view .inner .content img {
    display: block;
    margin: 0px auto 50px;
    max-width: 100%;
  }
  .sub_view .inner .content p {
    font-size: 18px;
    margin-bottom: 50px;
  }
  /*기념영상 시작*/
  .sub_video {
    padding: 40px 0px;
  }
  .sub_video .inner {
    width: 100%;
    padding: 0px 5%;
    box-sizing: border-box;
  }
  .sub_video .inner .video_box {
    margin-bottom: 50px;
  }
  .sub_video .inner .list h5 {
    font-size: 24px;
    margin-bottom: 60px;
  }
  .sub_video .inner .list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sub_video .inner .list ul li {
    width: 48%;
    margin-bottom: 20px;
    height: auto;
  }
  .sub_video .inner .list ul li .img_box {
    height: auto;
  }
  .sub_video .inner .list ul li .text_box {
    height: auto;
    min-height: 92px;
  }
  .sub_video .inner .list ul li .text_box p {
    font-size: 16px;
  }
  .sub_video .inner .list ul li .text_box span {
    font-size: 16px;
  }
  /* 사업소개 */
  .sub_introductionBusiness {
    width: 100%;
    padding: 0px 0px 60px;
  }
  .sub_introductionBusiness .inner {
    width: 100%;
    padding: 0px 5%;
  }
  .sub_introductionBusiness .inner h5 {
    font-size: 30px;
    margin-bottom: 80px;
  }
  .sub_introductionBusiness .inner ul li {
    height: 500px;
  }
  .sub_introductionBusiness .inner ul li::before {
    top: 235px;
  }
  .sub_introductionBusiness .inner ul li a {
    max-width: 80%;
  }
  .sub_introductionBusiness .inner ul li:nth-of-type(even)::before {
    top: 235px;
  }
  /* ceo인사 */
  .sub_ceo::after {
    display: none;
  }
  .sub_ceo .inner {
    width: 100%;
    padding: 60px 4%;
  }
  .sub_ceo .inner .img_box {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .sub_ceo .inner .text_box {
    width: 100%;
    padding-left: 0px;
  }
  .sub_ceo .inner .text_box p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: center;
  }
  .sub_ceo .inner .text_box span {
    position: static;
    display: block;
    text-align: right;
  }
  .sub_ceo .inner .text_box span img {
    position: relative;
    top: 10px;
    display: inline-block;
  }
  .sub_ceo .inner .text_box span img:nth-of-type(2) {
    display: none;
  }
  .sub_ceo .inner.bottom {
    display: block;
  }
  .sub_ceo .inner.bottom .left {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
  }
  .sub_ceo .inner.bottom .right {
    width: 100%;
  }
  /* 엠블럼 시작 */
  .sub_emblem .inner {
    display: block;
  }
  .sub_emblem .inner::after {
    display: none;
  }
  .sub_emblem .inner .left {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }
  .sub_emblem .inner .left .btn_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .sub_emblem .inner .left .btn_wrap a:first-child {
    margin-right: 10px;
  }
  .sub_emblem .inner .right {
    width: 100%;
    padding: 0;
  }
  .sub_emblem .inner .right .color:last-child {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1024px) {
  /* 서브 slide 공용 */
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide {
    width: 47.5%;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide::before {
    display: none;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide:hover {
    box-shadow: none;
  }
  .mainSlide .swiper-button-next, .mainSlide .swiper-button-prev {
    width: 23px;
  }
}
@media screen and (max-width: 768px) {
  /* 검색 공용 */
  .sub_search {
    width: 100%;
    justify-content: start;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  .sub_search .count {
    position: relative;
    display: block;
    width: 100%;
    left: 2.5%;
    font-size: 14px;
  }
  .sub_search form {
    width: 100%;
    justify-content: start;
    margin-bottom: 20px;
  }
  /* 검색공용 */
  .total {
    display: none;
  }
  .search_box {
    padding-bottom: 20px;
  }
  .search_box .search_wrap {
    justify-content: start;
    width: 100%;
  }
  .search_box .search_wrap .area-custom-select {
    width: 100%;
    height: 50px;
    font-size: 14px;
    margin-bottom: 10px;
    background-position: calc(100% - 20px) center;
  }
  .search_box .search_wrap .area-custom-select .custom-select {
    line-height: 50px;
  }
  .search_box .search_wrap .area-custom-select .custom-select-option {
    height: 50px;
    line-height: 50px;
  }
  .search_box .search_wrap .search_text {
    width: calc(100% - 60px);
    height: 50px;
    margin-left: 0;
  }
  .search_box .search_wrap button.search {
    width: 50px;
    height: 50px;
  }
  /* 게시판 리스트 공용 */
  .sub_board .board_list {
    padding-bottom: 30px;
  }
  .sub_board .board_list .top {
    display: none;
  }
  .sub_board .board_list .list {
    border-top: 2px solid #000;
  }
  .sub_board .board_list .list li {
    display: block;
    padding: 20px 0px;
  }
  .sub_board .board_list .list li * {
    font-size: 16px;
  }
  .sub_board .board_list .list li .conTitle {
    width: 100%;
  }
  .sub_board .board_list .list li .conDate {
    text-align: left;
    font-size: 15px;
    padding-top: 5px;
  }
  /* sub 공용 nav */
  .sub_nav .pageButton {
    width: 28px;
    height: 28px;
    background-size: 18px;
    margin-right: 5px;
  }
  .sub_nav .pageButton.sub_first, .sub_nav .pageButton.sub_last {
    display: none;
  }
  .sub_nav ul li a {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    margin-right: 5px;
  }
  /* 서브 slide 공용 */
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide {
    width: 67.5%;
  }
  /* ceo인사 */
  .sub_ceo .inner.bottom .right .congrats_slide .swiper-slide {
    width: 100%;
    max-width: 100%;
  }
  /* 사업소개 */
  .sub_introductionBusiness .conNav .wrap ul li a {
    font-size: 16px;
    padding: 20px 0;
  }
  .sub_introductionBusiness .conNav .wrap ul li.new::after {
    margin-left: 50px;
    width: 16px;
    height: 16px;
  }
  .sub_introductionBusiness .inner ul li {
    height: 400px;
  }
  /* 이벤트 및 공모전 */
  .sub_event {
    width: 100%;
    padding: 50px 0px;
  }
  /* view */
  .sub_view .inner .view_nav .next a .text_box, .sub_view .inner .view_nav .prev a .text_box {
    display: none;
  }
}
/* mobile */
@media screen and (max-width: 575.98px) {
  /* 공용 sub_top 시작 */
  .sub_top {
    height: 340px;
  }
  .sub_top .inner .sub_title p {
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0px auto 20px;
  }
  .sub_top .inner .sub_title h2 {
    font-size: 40px;
  }
  .sub_top .inner .sub_nav_text {
    bottom: 20px;
    font-size: 14px;
  }
  /* 게시판 리스트 공용 */
  .sub_board .board_list .list li .conDate {
    font-size: 14px;
  }
  /* sub 공용 nav */
  .sub_nav .pageButton {
    width: 24px;
    height: 24px;
  }
  .sub_nav ul li a {
    width: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
  }
  /* 서브 slide 공용 */
  .mainSlide .main_swiper-container {
    height: 420px;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide::before {
    display: none;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide:hover {
    box-shadow: none;
  }
  .mainSlide .main_swiper-container .swiper-wrapper .swiper-slide a .text_box {
    height: auto;
  }
  .mainSlide .main_swiper-container .swiper-button-next, .mainSlide .main_swiper-container .swiper-button-prev {
    width: 23px;
  }
  /*사업보도 시작*/
  .sub_businessReport {
    padding: 30px 0px;
  }
  .sub_businessReport .inner {
    width: 100%;
    padding: 0px 20px;
  }
  .sub_businessReport .inner .businessReport_content {
    margin-bottom: 20px;
  }
  .sub_businessReport .inner .businessReport_content ul li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin-right: 20px !important;
  }
  .sub_businessReport .inner .businessReport_content ul li a .text_box {
    padding: 15px 10px;
  }
  .sub_businessReport .inner .businessReport_content ul li a .text_box .tit {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .sub_businessReport .inner .businessReport_content ul li a .text_box p {
    font-size: 14px;
    min-height: 42px;
  }
  .sub_businessReport .inner .businessReport_content ul li a .text_box .date {
    margin-top: 20px;
    font-size: 14px;
  }
  /* 금고소식 */
  .sub_newsSafe {
    width: 100%;
    padding: 50px 0px;
  }
  /* 공지사항 시작 */
  .sub_notice {
    padding: 30px 0px;
  }
  /* view */
  .sub_view {
    padding: 40px 0px;
  }
  .sub_view .inner {
    padding: 0px 20px;
  }
  .sub_view .inner .title {
    padding: 15px;
  }
  .sub_view .inner .title .left h5 {
    font-size: 16px;
  }
  .sub_view .inner .content {
    padding: 30px 0px;
    margin-bottom: 30px;
  }
  .sub_view .inner .content .img {
    display: block;
    margin: 0px auto 30px;
  }
  .sub_view .inner .content p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .sub_view .inner .view_nav .list a {
    display: block;
    width: 140px;
  }
  /*기념영상 시작*/
  .sub_video {
    padding: 30px 0px;
  }
  .sub_video .inner .video_box {
    margin-bottom: 30px;
  }
  .sub_video .inner .list h5 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .sub_video .inner .list ul li {
    width: 100%;
    margin-bottom: 20px;
  }
  .sub_video .inner .list ul li .text_box p {
    font-size: 15px;
  }
  .sub_video .inner .list ul li .text_box span {
    font-size: 15px;
  }
  /* 사업소개 */
  .sub_introductionBusiness {
    padding: 0px 0px 40px;
  }
  .sub_introductionBusiness .conNav {
    margin-bottom: 60px;
  }
  .sub_introductionBusiness .conNav .wrap ul {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: start;
  }
  .sub_introductionBusiness .conNav .wrap ul li {
    flex: 0 0 auto;
    width: 130px;
  }
  .sub_introductionBusiness .conNav .wrap ul li:first-child {
    padding-left: 2vw;
  }
  .sub_introductionBusiness .conNav .wrap ul li a {
    padding: 15px 0;
  }
  .sub_introductionBusiness .inner {
    padding: 0px 20px;
  }
  .sub_introductionBusiness .inner h5 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .sub_introductionBusiness .inner ul::before {
    display: none;
  }
  .sub_introductionBusiness .inner ul li {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .sub_introductionBusiness .inner ul li:nth-of-type(even) {
    margin-top: 0;
  }
  .sub_introductionBusiness .inner ul li::before {
    display: none;
  }
  .sub_introductionBusiness .inner ul li .eventMonth {
    display: none;
  }
  .sub_introductionBusiness .inner ul li a {
    max-width: 100%;
  }
  .sub_introductionBusiness .inner ul li a:hover .img_box_contain {
    border: none;
  }
  .sub_introductionBusiness .inner ul li a .img_box_contain {
    height: 70%;
  }
  .sub_introductionBusiness .inner ul li a .img_box_contain .img_box img {
    position: static;
    width: 100%;
    transform: none;
  }
  .sub_introductionBusiness .inner ul li a .text_box {
    height: 30%;
    padding: 20px 5px;
  }
  .sub_introductionBusiness .inner ul li a .text_box h6 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sub_introductionBusiness .inner ul li a .text_box p {
    font-size: 14px;
    color: #585858;
  }
  .sub_introductionBusiness .inner ul li a .text_box p span {
    display: inline-block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin-right: 5px;
  }
  /* ceo인사 */
  .sub_ceo .inner {
    width: 100%;
    padding: 40px 15px;
  }
  .sub_ceo .inner .img_box {
    margin-bottom: 30px;
  }
  .sub_ceo .inner .img_box img {
    width: 100%;
  }
  .sub_ceo .inner .text_box {
    width: 100%;
  }
  .sub_ceo .inner .text_box p {
    font-size: 16px;
  }
  .sub_ceo .inner .text_box span {
    font-size: 14px;
  }
  .sub_ceo .inner.bottom {
    padding-bottom: 60px;
  }
  .sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div {
    padding: 20px;
  }
  .sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile {
    padding-bottom: 20px;
  }
  .sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile .img {
    margin-right: 8px;
  }
  .sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile > div > span {
    font-size: 14px;
  }
  .sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .profile > div h4 {
    font-size: 18px;
  }
  .sub_ceo .inner.bottom .right .congrats_slide .swiper-slide > div .text {
    font-size: 15px;
  }
  .sub_ceo .inner.bottom .left {
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .sub_ceo .inner.bottom .left h3 {
    font-size: 24px;
  }
  /* 엠블럼 시작 */
  .sub_emblem .inner {
    padding: 60px 0 0;
  }
  .sub_emblem .inner h3 {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .sub_emblem .inner p {
    font-size: 16px;
  }
  .sub_emblem .inner small {
    font-size: 14px;
  }
  .sub_emblem .inner .left {
    margin-bottom: 40px;
  }
  .sub_emblem .inner .left .btn_wrap a {
    width: calc(50% - 5px);
    max-width: 150px;
    height: 45px;
  }
  .sub_emblem .inner .left .btn_wrap a span {
    font-size: 16px;
  }
  .sub_emblem .inner .right .color:last-child {
    padding-bottom: 0;
  }
  .sub_emblem .inner .right .color .card {
    display: block;
  }
  .sub_emblem .inner .right .color .card span {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .sub_emblem .inner .right .color .card span:first-child {
    margin-right: 0;
  }
  .sub_emblem .inner .right .type .category {
    font-size: 14px;
    padding: 7px 12px;
  }
}
@media screen and (max-width: 375px) {
  /*사업보도 시작*/
  .sub_businessReport .inner .businessReport_content ul li {
    width: 100%;
    margin-right: 0 !important;
  }
}