.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/common/images/main_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.main .wrap {
  width: 100%;
  height: 100%;
}

.main .wrap .visual {
  display: inline-block;
  position: absolute;
  top: calc(104px + 2rem);
  left: 3.5rem;
  width: 56.24%;
  height: calc(100% - (104px + 2rem + 107px));
  z-index: 995;
}

.main .wrap .visual .visual_inner {
  display: block;
  border-radius: 140px 140px 0 140px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.main .wrap .visual .visual_inner .visual_text {
  position: absolute;
  top: 50%;
  left: 5rem;
  width: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 2.85rem;
  color: #fff;
}

.main .wrap .visual .visual_drawing {
  position: absolute;
  top: -5rem;
  right: 3rem;
  width: 35%;
}

.main .wrap .swiper-container {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  padding: 2rem 11.3% 0 calc(100% - (11.3% + 25%));
}

.main .wrap .swiper-container .swiper-slide {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
}

.main .wrap .swiper-container .swiper-slide a {
  display: block;
}

.main .wrap .swiper-container .swiper-slide a img {
  display: block;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .wrap .swiper-container .swiper-slide a .title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 10px;
  font-size: 0.75rem;
  color: #fff;
  background-color: #333;
  z-index: 2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .wrap .swiper-container .swiper-slide a .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  background-color: rgba(0, 78, 158, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.main .wrap .swiper-container .swiper-slide a .textbox > p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.3;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 1rem;
  word-break: keep-all;
}

.main .wrap .swiper-container .swiper-slide a .textbox .arrow {
  display: inline-block;
  width: 60px;
  min-width: 60px;
  height: 60px;
  background-color: #fff;
  background-image: url(/common/images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .wrap .swiper-container .swiper-slide:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .wrap .swiper-container .swiper-slide:hover a .title {
  color: #8baadf;
}

.main .wrap .swiper-container .swiper-slide:hover a .textbox {
  opacity: 1;
}

.main .wrap .swiper-container .swiper-slide:hover a .textbox p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main .wrap .swiper-container .swiper-slide:hover a .textbox .arrow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*Small PC*/
@media (max-width: 1400px) {
  .main .wrap .swiper-container .swiper-slide a .textbox > p {
    font-size: 1rem;
  }
}

/*breack point*/
@media (max-width: 1260px) {
  .main {
    height: auto;
    padding-top: 125px;
    background: none;
  }
  .main .wrap .visual {
    display: block;
    position: relative;
    left: auto;
    top: auto;
    width: 90%;
    margin: 0 auto 0;
  }
  .main .wrap .visual .visual_inner {
    position: relative;
  }
  .main .wrap .visual .visual_inner a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main .wrap .visual .visual_inner .visual_text {
    top: auto;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 6rem;
  }
  .main .wrap .visual .visual_drawing {
    top: 0;
    right: 0;
    width: 30%;
  }
  .main .wrap .swiper-container {
    display: none;
  }
  .main .wrap .mobileList {
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
  }
  .main .wrap .mobileList li {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }
  .main .wrap .mobileList li a {
    display: block;
    width: 100%;
  }
  .main .wrap .mobileList li a img {
    display: block;
    width: 100%;
  }
  .main .wrap .mobileList li a .title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 10px;
    color: #fff;
    background-color: #333;
  }
  .main .wrap .mobileList li a .textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .main .wrap .mobileList li a .textbox p {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 0 1.5rem 1.5rem;
  }
  .main .wrap .mobileList li a .textbox .arrow {
    display: inline-block;
    width: 85px;
    height: 85px;
    background-color: #fff;
    background-image: url(/common/images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1.5rem 1.5rem 0;
  }
}

/*Ipad*/
@media (max-width: 1023px) {
  .main .wrap .visual .visual_drawing {
    width: auto;
    height: 55%;
  }
  .main .wrap .visual .visual_inner {
    border-radius: 120px 120px 0 120px;
  }
  .main .wrap .visual .visual_inner .visual_text {
    width: 55%;
    bottom: 14%;
  }
}

/*Tablet*/
@media (max-width: 767px) {
  .main .wrap .visual .visual_drawing {
    width: auto;
    height: 55%;
  }
  .main .wrap .visual .visual_inner {
    border-radius: 120px 120px 0 120px;
  }
  .main .wrap .visual .visual_inner .visual_text {
    width: 55%;
    bottom: 14%;
  }
}

/*Mobile*/
@media (max-width: 575.98px) {
  .main {
    padding-top: 100px;
  }
  .main .wrap .visual {
    height: 600px;
  }
  .main .wrap .visual .visual_inner {
    border-radius: 100px 100px 0 100px;
  }
  .main .wrap .visual .visual_inner .visual_text {
    width: 65%;
  }
  .main .wrap .mobileList li a .title {
    font-size: 0.9rem;
  }
  .main .wrap .mobileList li a .textbox p {
    font-size: 0.9rem;
    margin: 0 0 0.75rem 0.75rem;
  }
  .main .wrap .mobileList li a .textbox .arrow {
    min-width: 40px;
    width: 40px;
    height: 40px;
    margin: 0 0.75rem 0.75rem 0.75rem;
    background-size: 50%;
  }
}
/*# sourceMappingURL=main.css.map */