.sub {
  margin-bottom: 5rem;
}

.sub .wrap {
  width: 1100px;
  margin: 0 auto;
  padding-top: 5rem;
}

.sub .wrap .location {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  padding: 0 2.5rem;
}

.sub .wrap .location .depth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub .wrap .location .depth img {
  display: inline-block;
}

.sub .wrap .location .depth .depth1 {
  position: relative;
  padding: 0 1.25rem;
  margin: 0 0 0 0.5rem;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1;
}

.sub .wrap .location .depth .depth1::before, .sub .wrap .location .depth .depth1::after {
  display: inline-block;
  content: ">";
  position: absolute;
  top: 0;
  left: 4px;
  width: 17px;
  height: 2px;
}

.sub .wrap .location .depth .depth1::after {
  left: auto;
  right: 0;
}

.sub .wrap .location .depth .depth1.depth_style {
  padding: 0 0 0 1.25rem;
  font-weight: 500;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #b8dbff), color-stop(50%, transparent));
  background: linear-gradient(to top, #b8dbff 50%, transparent 50%);
}

.sub .wrap .location .depth .depth1.depth_style::after {
  display: inline-block;
  content: ">";
  position: absolute;
  top: 0;
  left: 4px;
  width: 17px;
  height: 2px;
}

.sub .wrap .location .depth .depth2 {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #b8dbff), color-stop(50%, transparent));
  background: linear-gradient(to top, #b8dbff 50%, transparent 50%);
}

.sub .wrap .title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 2.5rem 2.5rem 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #dadada;
}

.sub .wrap .title_wrap .left {
  margin-right: 1.5rem;
}

.sub .wrap .title_wrap .left .subTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  word-break: keep-all;
}

.sub .wrap .title_wrap .left .title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  word-break: keep-all;
}

.sub .wrap .title_wrap .left > h5 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  word-break: keep-all;
}

.sub .wrap .title_wrap .left .introduction {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.45;
  word-break: keep-all;
  margin-bottom: 1.5rem;
}

.sub .wrap .title_wrap .left > small {
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.35;
  word-break: keep-all;
  margin-bottom: 1.5rem;
}

.sub .wrap .title_wrap .left > small * {
  font-size: 100%;
}

.sub .wrap .title_wrap .left .by span {
  font-size: 0.85rem;
}

.sub .wrap .title_wrap .left .by span b {
  font-size: 0.85rem;
}

.sub .wrap .crawling-contents-textbox .textbox {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.sub .wrap .crawling-contents-textbox .textbox h3 {
  padding-bottom: 1.5rem;
  font-size: 1.45rem;
  font-weight: 600;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox h4 {
  padding-bottom: 3rem;
  margin: 0 auto;
  font-size: 1.35rem;
  font-weight: 500;
  font-style: oblique;
  line-height: 1.25;
  text-align: center;
  word-break: keep-all;
  color: #438dba;
}

.sub .wrap .crawling-contents-textbox .textbox h4.epilogue {
  padding-bottom: 1.75rem;
  margin-right: auto !important;
  margin-left: auto !important;
  font-family: 'GmarketSansMedium';
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.45;
  text-align: center;
  word-break: keep-all;
  color: #8eb0ef;
  font-style: normal;
}

.sub .wrap .crawling-contents-textbox .textbox h5 {
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox h6 {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.25;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .tit01 {
  padding-bottom: 0;
  margin-bottom: 0.75rem;
  border-bottom: 1px dashed #8eb0ef;
}

.sub .wrap .crawling-contents-textbox .textbox .tit01 > span {
  padding-right: 0.5rem;
  background-color: #fff;
  color: #8eb0ef;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.sub .wrap .crawling-contents-textbox .textbox p {
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.45;
  word-break: break-all;
  text-align: justify;
}

.sub .wrap .crawling-contents-textbox .textbox p b {
  font-size: 100%;
}

.sub .wrap .crawling-contents-textbox .textbox a {
  display: inline-block;
}

.sub .wrap .crawling-contents-textbox .textbox b {
  font-weight: 500;
}

.sub .wrap .crawling-contents-textbox .textbox small {
  font-size: 80%;
}

.sub .wrap .crawling-contents-textbox .textbox img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.sub .wrap .crawling-contents-textbox .textbox .img {
  text-align: center;
}

.sub .wrap .crawling-contents-textbox .textbox .img > span {
  display: inline-block;
  margin-bottom: -5.75px;
}

.sub .wrap .crawling-contents-textbox .textbox .img > span small {
  display: block;
  padding: 0.25rem 3px 0 0;
  font-size: 0.75rem;
  color: #005dbc;
  word-break: keep-all;
  text-align: center;
}

.sub .wrap .crawling-contents-textbox .textbox .video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 3rem;
  overflow: hidden;
}

.sub .wrap .crawling-contents-textbox .textbox .video iframe,
.sub .wrap .crawling-contents-textbox .textbox .video object,
.sub .wrap .crawling-contents-textbox .textbox .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub .wrap .crawling-contents-textbox .textbox .video:last-child {
  margin-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .table {
  margin-bottom: 3rem;
  overflow: auto;
}

.sub .wrap .crawling-contents-textbox .textbox .table table {
  border: 1px solid #aaa;
}

.sub .wrap .crawling-contents-textbox .textbox .table table th, .sub .wrap .crawling-contents-textbox .textbox .table table td {
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.45;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  word-break: break-all;
  text-align: justify;
}

.sub .wrap .crawling-contents-textbox .textbox .table table th:last-child, .sub .wrap .crawling-contents-textbox .textbox .table table td:last-child {
  border-right: none;
}

.sub .wrap .crawling-contents-textbox .textbox .table table th {
  font-weight: 500;
  background-color: #eee;
  text-align: center;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .table table .th {
  font-weight: 500;
  background-color: #008ccf;
  text-align: center;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .table table .td {
  background-color: #fffdea;
}

.sub .wrap .crawling-contents-textbox .textbox .table .center td {
  text-align: center;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding-bottom: 1.75rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex > span {
  display: inline-block;
  margin-right: 1.5rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex > span.width50 {
  width: 50%;
}

.sub .wrap .crawling-contents-textbox .textbox .flex > span:last-child {
  margin-right: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .flex:last-child {
  padding-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .flex02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.25rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex02 > span {
  display: inline-block;
  margin-right: 0.25rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex02 > span:last-child {
  margin-right: 0;
}

.sub .wrap .crawling-contents-textbox .textbox h3:last-child, .sub .wrap .crawling-contents-textbox .textbox h4:last-child, .sub .wrap .crawling-contents-textbox .textbox h5:last-child, .sub .wrap .crawling-contents-textbox .textbox h6:last-child, .sub .wrap .crawling-contents-textbox .textbox p:last-child, .sub .wrap .crawling-contents-textbox .textbox .flex:last-child, .sub .wrap .crawling-contents-textbox .textbox .flex02:last-child {
  padding-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .border01 {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.sub .wrap .crawling-contents-textbox .textbox .border01:last-child {
  margin-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .border02 {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.sub .wrap .crawling-contents-textbox .textbox .border02:last-child {
  margin-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .tag01 {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: #999;
  color: #fff;
}

.sub .wrap .crawling-contents-textbox .textbox .tag02 {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  background-color: #ffcc00;
}

.sub .wrap .crawling-contents-textbox .textbox .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-bottom: 1rem;
  border-radius: 100%;
  background-color: #0c6796;
  color: #fff;
}

.sub .wrap .crawling-contents-textbox .textbox .circle > span {
  color: #fff;
}

.sub .wrap .crawling-contents-textbox .textbox .marker {
  font-size: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #ffee34), color-stop(30%, transparent));
  background: linear-gradient(to top, #ffee34 40%, transparent 30%);
}

.sub .wrap .crawling-contents-textbox .textbox:last-child {
  padding-bottom: 0;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
  word-break: keep-all;
}

.text-right {
  text-align: right !important;
}

.keepall {
  word-break: keep-all !important;
}

.align-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: start !important;
}

.align-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.algin-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.align-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.justify-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.justify-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

.function {
  position: absolute;
  right: calc((100% - 1000px)/2);
  top: 10.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.function li {
  margin-right: 0.5rem;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  border-radius: 50px;
  width: 37px;
  height: 37px;
}

.function li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.function li button span {
  display: none;
}

.function li:last-child {
  margin-right: 0;
}

.function .share {
  position: relative;
}

.function .share #share {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  border-radius: 50px;
}

.function .share .share_list {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
}

.function .share .share_list > button {
  position: absolute;
  top: 0;
  border-radius: 50px;
  background-color: #fff;
  width: 35px;
  height: 35px;
  margin-bottom: 0.25rem;
  -webkit-transform-origin: 100px;
          transform-origin: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.function .share .share_list > button > img {
  width: 100%;
}

.function .share .share_list > button > span {
  font-size: 0.8rem;
  font-weight: 300;
}

.function .share .share_list #sh-link img {
  width: auto;
}

.function .share .share_list.on {
  opacity: 1;
}

.function .share .share_list.on > button.band {
  top: calc(35px + 0.25rem);
}

.function .share .share_list.on > button.facebook {
  top: calc(70px + 0.5rem);
}

.function .share .share_list.on > button.twitter {
  top: calc(105px + 0.75rem);
}

.movement {
  width: 1000px;
  padding: 0 0 2rem 0;
  margin: 0 auto 3rem;
}

.movement .wrap {
  position: relative;
  padding: 1.5rem;
  background-color: #ebebf1;
  overflow: hidden;
}

.movement .wrap::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  margin-left: -0.5px;
  background-color: #dbdbdb;
  z-index: 2;
}

.movement .wrap .prev, .movement .wrap .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  float: left;
  width: 50%;
}

.movement .wrap .prev .arrow, .movement .wrap .next .arrow {
  display: inline-block;
  width: 78px;
  height: 78px;
  margin: 0.5rem 0;
  background-color: #fff;
  border-radius: 50px;
  overflow: hidden;
}

.movement .wrap .prev .arrow > img, .movement .wrap .next .arrow > img {
  display: block;
  margin: calc((78px - 25px)/2) auto;
}

.movement .wrap .prev .text, .movement .wrap .next .text {
  width: calc(100% - 78px);
  padding: 0 1rem;
}

.movement .wrap .prev .text .category, .movement .wrap .next .text .category {
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  word-break: keep-all;
}

.movement .wrap .prev .text .title, .movement .wrap .next .text .title {
  margin-top: 0.25rem;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.25;
  word-break: keep-all;
}

.movement .wrap .prev .text .title:hover, .movement .wrap .next .text .title:hover {
  text-decoration: underline;
}

.movement .wrap .next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.movement .wrap .next .text {
  text-align: right;
}

.event_img {
  position: relative;
}

.event_img .hint {
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80%;
  height: 5%;
}

.event_wrap {
  padding: 3rem 2rem 3.5rem;
  border-radius: 0 0 1% 1%;
}

.event_wrap .event_top {
  padding: 0 3.5rem 2.5rem;
}

.event_wrap .event_top > .flex02 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem !important;
}

.event_wrap .event_top > .flex02 .tag02 {
  min-width: 120px;
  text-align: center;
  margin-right: 0.5rem !important;
  font-weight: 700 !important;
}

.event_wrap .event_input {
  padding: 2.5rem 3.5rem 0;
  border-top: 1px solid #959595;
}

.event_wrap .event_input > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 0.5rem;
}

.event_wrap .event_input > li input[type="text"],
.event_wrap .event_input > li textarea {
  display: block;
  width: calc(100% - 180px);
  height: 42px;
  padding: 0 0.75rem;
  font-size: 0.9rem;
  border: 1px solid #959595;
  background-color: #fff;
}

.event_wrap .event_input > li textarea {
  height: 100px;
  padding: 0.75rem;
  overflow: auto;
}

.event_wrap .event_input > li .event_subtitle {
  width: 180px;
  margin-top: 10px;
  font-weight: 700;
}

.event_wrap .event_input > li .event_file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 180px);
}

.event_wrap .event_input > li .event_file > input[type="file"] {
  display: none;
}

.event_wrap .event_input > li .event_file > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 42px;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  background-color: #606060;
  color: #fff;
  cursor: pointer;
}

.event_wrap .event_input .event_agreement {
  width: calc(100% - 180px);
}

.event_wrap .event_input .event_agreement > p {
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.45;
  background-color: #fff;
  border: 1px solid #959595;
}

.event_wrap .event_input .event_agreement > p > b {
  font-weight: 500;
}

.event_wrap .event_input .event_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.event_wrap .event_input .event_check > input[type="checkbox"] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.event_wrap .event_input .event_check > label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.event_wrap .event_input .event_secure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 180px);
}

.event_wrap .event_input .event_secure > span {
  display: inline-block;
  width: 158.5px;
  height: 55px;
  padding: calc((55px - 35px)/2);
  border: 1px solid #959595;
  background-color: #fff;
}

.event_wrap .event_input .event_secure > span > img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.event_wrap .event_input .event_secure > button {
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  cursor: pointer;
}

.event_wrap .event_input .event_secure > input[type="text"] {
  display: inline-block;
  width: 158.5px;
  height: 55px;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #959595;
}

.event_wrap .event_input > li:last-child {
  margin-bottom: 0;
}

.event_wrap .event_btn {
  display: block;
  width: 260px;
  height: 64px;
  padding-top: 5px;
  margin: 3rem auto 0;
  border-radius: 3.25rem;
  font-family: 'GmarketSansBold';
  font-size: 1.35rem;
  background-color: #fdb934;
  cursor: pointer;
}

.event_wrap .event_picked {
  padding: 2rem calc((100% - 775px)/2) 1.75rem;
  margin-top: 3rem;
  border: 1px solid #fff;
}

.event_wrap .event_picked > h3 {
  display: inline-block;
  font-family: 'GmarketSansBold';
  font-size: 1.35rem;
  line-height: 1;
  border-bottom: 1px solid #fdb934;
  color: #fdb934;
  word-break: keep-all;
}

.event_wrap .event_picked .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event_wrap .event_picked .flex .box01 {
  width: 32.5%;
}

.event_wrap .event_picked .flex .box02 {
  width: 62.5%;
}

.event_wrap .event_picked .flex h5 {
  padding-bottom: 0.25rem;
  margin: 1.75rem 0 1rem;
}

.event_wrap .event_picked .flex h5 > span {
  display: block;
  padding: 0.45rem 0.75rem 0.25rem;
  font-family: 'GmarketSansMedium';
  font-size: 0.9rem;
  border-radius: 1rem;
  background-color: #3d3c90;
}

.event_wrap .event_picked .flex p {
  padding: 0 0.75rem;
  overflow: hidden;
  margin-top: -0.25rem;
}

.event_wrap .event_picked .flex p > span {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0 0 0.25rem;
  font-family: 'GmarketSansMedium';
  font-size: 0.9rem;
}

.event_wrap .event_picked .flex .box02 > p > span {
  width: 25%;
}

.subscribe_wrap {
  margin-top: 3rem;
}

.subscribe_wrap .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe_wrap .radio > label {
  display: inline-block;
  float: left;
  width: 300px;
  max-width: 50%;
  height: 70px;
  font-size: 1rem;
  line-height: 68px;
  border: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 50px 0 0 50px;
  text-align: center;
  cursor: pointer;
}

.subscribe_wrap .radio > label.radio02 {
  border-radius: 0 50px 50px 0;
}

.subscribe_wrap .radio > input[type="radio"]:checked + label {
  font-weight: 500;
  border-color: #555555;
  background-color: #555555;
  color: #fff;
}

.subscribe_wrap .radio > input[type="radio"]:checked ~ .radio-type {
  display: none;
}

.subscribe_wrap .radio #radio_flag1:checked ~ .radio-type.subcribe {
  display: block;
}

.subscribe_wrap .radio #radio_flag2:checked ~ .radio-type.cancle {
  display: block;
}

.subscribe_wrap .radio-type {
  margin-top: 3rem;
  width: 1200px;
}

.subscribe_wrap .radio-type .info {
  margin-bottom: 0.75rem;
}

.subscribe_wrap .radio-type .info > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
}

.subscribe_wrap .radio-type .info > li > input {
  display: block;
  width: 100%;
  height: 55px;
  padding: 0 1.25rem;
  margin-right: 1rem;
  font-size: 0.95rem;
  border: 1px solid #cccccc;
  background-color: #f2f2f2;
}

.subscribe_wrap .radio-type .info > li > input:last-child {
  margin-right: 0;
}

.subscribe_wrap .radio-type .info > li:last-child {
  margin-bottom: 0;
}

.subscribe_wrap .radio-type .info .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe_wrap .radio-type .detail {
  padding: 1.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid #cccccc;
  background-color: #f2f2f2;
}

.subscribe_wrap .radio-type .detail > h5 {
  font-size: 1.15rem;
}

.subscribe_wrap .radio-type .detail > p {
  font-size: 0.85rem;
  line-height: 1.45;
}

.subscribe_wrap .radio-type .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
}

.subscribe_wrap .radio-type .check > input[type="checkbox"] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.subscribe_wrap .radio-type .check > label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.subscribe_wrap .radio-type .btn {
  display: block;
  width: 300px;
  height: 68px;
  margin: 2rem auto 0;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #cccccc;
  background-color: #0c6795;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.sub ~ footer {
  position: static;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub ~ footer .wrap {
  padding: 0;
}

.sub ~ .banner {
  position: fixed;
}

/*breack point*/
@media (max-width: 1260px) {
  .sub .wrap {
    width: 90%;
  }
  .sub .wrap .crawling-contents-textbox {
    padding: 0 2.5rem;
    margin: 0 auto;
  }
  .sub .wrap .crawling-contents-textbox .textbox {
    width: 100%;
  }
  .function {
    right: calc(5% + 2.5rem);
  }
  .movement {
    width: 100%;
    max-width: none;
    padding: 0;
    margin-left: 0;
  }
  .movement .wrap {
    padding: 1.25rem 2.5%;
  }
  .movement .wrap .prev .arrow, .movement .wrap .next .arrow {
    background-color: #fff !important;
  }
  .movement .wrap .prev .text .title, .movement .wrap .next .text .title {
    text-decoration: none !important;
  }
  .sub ~ .banner {
    padding: 0 2.5rem;
  }
  .sub ~ .banner {
    position: static;
  }
}

/*Ipad*/
@media (max-width: 1023px) {
  .sub .wrap {
    padding-top: 3rem;
  }
  .sub .wrap .location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
  .sub .wrap .title_wrap {
    display: block;
    padding: 0 0 2.5rem 0;
  }
  .sub .wrap .title_wrap .left {
    margin: 0;
  }
  .sub .wrap .title_wrap .left .subTitle {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .sub .wrap .title_wrap .left .title {
    text-align: center;
    margin: 0 auto;
  }
  .sub .wrap .title_wrap .left h5 {
    text-align: center;
  }
  .sub .wrap .title_wrap .left .top_img_mo {
    margin: 0 auto 1.5rem;
  }
  .sub .wrap .title_wrap .left .introduction {
    margin-bottom: 1rem;
  }
  .sub .wrap .title_wrap .right {
    display: none;
  }
  .sub .wrap .crawling-contents-textbox {
    padding: 0;
  }
  .sub .wrap .crawling-contents-textbox .textbox h3 {
    text-align: center;
  }
  .function {
    display: none;
  }
  .event_wrap {
    padding: 3rem 5% 3.5rem;
  }
  .event_wrap .event_top {
    padding: 0 2.5% 2.5rem;
  }
  .event_wrap .event_input {
    padding: 2.5rem 2.5% 0;
  }
  .event_wrap .event_input > li {
    margin-bottom: 1rem;
  }
  .event_wrap .event_input > li .event_subtitle {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .event_wrap .event_input > li input[type="text"],
  .event_wrap .event_input > li textarea {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file > input[type="text"] {
    width: calc(100% - 180px);
  }
  .event_wrap .event_input > li .event_agreement {
    width: 100%;
  }
  .event_wrap .event_input > li .event_secure {
    width: 100%;
  }
  .sub ~ .banner {
    width: 90%;
    padding: 0;
  }
}

/*Tablet*/
@media (max-width: 767px) {
  .movement .wrap {
    padding: 1.25rem 5%;
  }
  .movement .wrap .prev .arrow, .movement .wrap .next .arrow {
    width: 55px;
    height: 55px;
  }
  .movement .wrap .prev .arrow > img, .movement .wrap .next .arrow > img {
    height: 20px;
    margin: calc((55px - 20px)/2) auto;
  }
  .movement .wrap .prev .text, .movement .wrap .next .text {
    width: calc(100% - 55px);
    padding: 0 7.5%;
  }
  .movement .wrap .prev .text .category, .movement .wrap .next .text .category {
    font-size: 0.75rem;
  }
  .movement .wrap .prev .text .title, .movement .wrap .next .text .title {
    font-size: 0.9rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span {
    display: block;
    width: 100%;
    min-width: auto !important;
    max-width: none !important;
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-bottom: 1.5rem;
    margin-left: auto !important;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span.width50 {
    width: 100%;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span:last-child {
    margin-bottom: 0;
  }
}

/*Mobile*/
@media (max-width: 575.98px) {
  .sub {
    margin-bottom: 3.5rem;
  }
  .sub .wrap {
    padding-top: 2rem;
  }
  .sub .wrap .location {
    padding: 0;
    margin-bottom: 0.75rem;
  }
  .sub .wrap .location .depth .depth1, .sub .wrap .location .depth .depth2 {
    font-size: 0.65rem;
  }
  .sub .wrap .title_wrap .left .subTitle {
    font-size: 1rem;
  }
  .sub .wrap .title_wrap .left .title {
    font-size: 1.5rem;
  }
  .sub .wrap .title_wrap .left h5 {
    font-size: 1rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h3 {
    font-size: 1.2rem;
    line-height: 1.25;
  }
  .sub .wrap .crawling-contents-textbox .textbox h4 {
    font-size: 1.2rem;
    padding-bottom: 1.75rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h4.epilogue {
    font-size: 0.9rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h5 {
    font-size: 1rem;
    word-break: normal;
    padding-bottom: 1rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h6 {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox p {
    font-size: 0.85rem;
    padding-bottom: 1.25rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .img > span small {
    max-width: none !important;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex {
    padding-bottom: 1.5rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span {
    margin-bottom: 1rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .table {
    margin-bottom: 1.75rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .border01, .sub .wrap .crawling-contents-textbox .textbox .border02 {
    padding: 1rem;
    margin-bottom: 1.25rem;
  }
  .movement .wrap .prev .arrow, .movement .wrap .next .arrow {
    width: 40px;
    height: 40px;
  }
  .movement .wrap .prev .arrow > img, .movement .wrap .next .arrow > img {
    height: 15px;
    margin: calc((40px - 15px)/2) auto;
  }
  .movement .wrap .prev .text, .movement .wrap .next .text {
    width: calc(100% - 40px);
    padding: 0 7.5%;
  }
  .movement .wrap .prev .text .category, .movement .wrap .next .text .category {
    font-size: 0.65rem;
  }
  .movement .wrap .prev .text .title, .movement .wrap .next .text .title {
    font-size: 0.75rem;
  }
  .event_wrap {
    padding: 2rem 5% 2.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .event_wrap .event_top {
    padding: 0 0 1.5rem;
  }
  .event_wrap .event_top > h3 {
    font-size: 1rem;
  }
  .event_wrap .event_top > p {
    font-size: 0.8rem;
  }
  .event_wrap .event_input {
    padding: 1.5rem 0 0;
  }
  .event_wrap .event_input > li {
    margin-bottom: 0.5rem;
  }
  .event_wrap .event_input > li .event_subtitle {
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li input[type="text"],
  .event_wrap .event_input > li textarea {
    height: 40px;
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li textarea {
    height: 100px;
    padding: 0.5rem;
  }
  .event_wrap .event_input > li .event_file {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file > input[type="text"] {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file > label {
    width: 100px;
    height: 40px;
    margin: 0.25rem 0 0;
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li .event_agreement {
    width: 100%;
  }
  .event_wrap .event_input > li .event_agreement > p {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li .event_check {
    margin-bottom: 1rem;
  }
  .event_wrap .event_input > li .event_check > label {
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li .event_secure {
    width: 100%;
    width: 100%;
  }
  .event_wrap .event_input > li .event_secure > span {
    width: 120px;
    height: 40px;
    padding: calc((40px - 30.58px)/2);
  }
  .event_wrap .event_input > li .event_secure > button {
    width: 40px;
    height: 40px;
  }
  .event_wrap .event_input > li .event_secure > input[type="text"] {
    width: calc(100% - (120px + 40px));
    height: 40px;
  }
  .event_wrap .event_btn {
    width: 180px;
    height: 54px;
    margin: 2rem auto 0;
    font-size: 1.1rem;
    border-radius: 2.25rem;
  }
  .event_wrap .event_picked {
    margin-top: 2rem;
    padding: 1rem 5% 0.75rem;
  }
  .event_wrap .event_picked > h3 {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  .event_wrap .event_picked .flex h5 {
    margin: 0.75rem 0;
  }
  .event_wrap .event_picked .flex h5 > span {
    font-size: 0.8rem;
  }
  .event_wrap .event_picked .flex p > span {
    font-size: 0.8rem;
  }
  .subscribe .radio > label {
    max-width: 40%;
    height: 50px;
    font-size: 0.85rem;
    line-height: 48px;
  }
  .subscribe .radio-type {
    margin-top: 1.5rem;
    width: 100%;
  }
  .subscribe .radio-type .info {
    margin-bottom: 0.75rem;
  }
  .subscribe .radio-type .info > li {
    margin-bottom: 0.5rem;
  }
  .subscribe .radio-type .info > li > input {
    height: 40px;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }
  .subscribe .radio-type .info > li > input:last-child {
    margin-right: 0;
  }
  .subscribe .radio-type .info > li:last-child {
    margin-bottom: 0;
  }
  .subscribe .radio-type .info .reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe .radio-type .detail {
    padding: 1rem;
  }
  .subscribe .radio-type .detail > h5 {
    font-size: 1rem;
  }
  .subscribe .radio-type .detail > p {
    margin-top: 0rem;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  .subscribe .radio-type .check {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .subscribe .radio-type .check > label {
    font-size: 0.8rem;
  }
  .subscribe .radio-type .check input[type="checkbox"] {
    margin-top: 0.25rem;
  }
  .subscribe .radio-type .btn {
    width: 50%;
    height: 48px;
    margin: 1rem auto 0;
    font-size: 0.8rem;
  }
  .sub ~ footer .wrap .sns {
    margin-right: 0;
  }
}

/*Minimum*/
@media (max-width: 360px) {
  .title_wrap .left .top_img_mo {
    width: 100%;
  }
  .event_wrap .event_top > .flex02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .event_wrap .event_top > .flex02 .tag02 {
    margin-bottom: 0.25rem;
  }
}
/*# sourceMappingURL=sub.css.map */