@charset "UTF-8";
.sub {
  background-color: #f2f6ee;
  padding-bottom: 100px;
  position: relative;
}
.sub-top {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.sub-top__inner {
  width: 100%;
  box-sizing: border-box;
  padding: 120px 0px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-top .sub-top__depth {
  display: flex;
  font-size: 16px;
  color: #bebebe;
  margin-bottom: 40px;
}
.sub-top .sub-top__depth * {
  color: #bebebe;
}
.sub-top .sub-top__depth span {
  line-height: 1;
}
.sub-top h3 {
  font-size: 40px;
  text-align: center;
  position: relative;
}
.sub-top h3.h3-line {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0px 30px 0px;
}
.sub-top h3.h3-line::after {
  content: "";
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 1px;
  background-color: #ccc;
  margin-top: 50px;
}
.sub-top__arrow {
  padding: 0px 10px;
}
.sub-top h2 {
  width: 100%;
  font-size: 64px;
  text-align: center;
  position: relative;
}
.sub-top h2::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 650px;
  margin: 14px auto;
  height: 1px;
  background-color: #ccc;
}
.sub-top h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .sub {
    padding-bottom: 60px;
  }
  .sub-top__inner {
    padding: 120px 0px 60px;
  }
  .sub-top .sub-top__depth {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .sub-top h3 {
    font-size: 36px;
  }
  .sub-top h3.h3-line {
    padding: 0px 20px 0px;
  }
  .sub-top h3.h3-line::after {
    margin-top: 30px;
  }
  .sub-top h2 {
    font-size: 54px;
  }
  .sub-top h2::after {
    margin: 14px auto;
  }
  .sub-top h5 {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .sub {
    padding-bottom: 60px;
  }
  .sub-top__inner {
    padding: 100px 0px 60px;
  }
  .sub-top .sub-top__depth {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .sub-top h3 {
    font-size: 30px;
  }
  .sub-top h2 {
    font-size: 44px;
  }
  .sub-top h2::after {
    margin: 14px auto;
  }
  .sub-top h5 {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
.office-info__inner {
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
  padding: 0px 30px;
  margin: 0px auto;
}
.office-info__info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.office-info__info-wrap h4 {
  width: 100%;
  font-size: 30px;
  text-align: center;
  position: relative;
}
.office-info__info-wrap h4::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 650px;
  margin: 24px auto;
  height: 1px;
  background-color: #ccc;
}
.office-info__info-wrap h5 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}
.office-info__contact {
  display: flex;
  margin-bottom: 80px;
}
.office-info__contact > div {
  display: flex;
  align-items: center;
  font-size: 23px;
  margin-right: 30px;
}
.office-info__contact > div p {
  margin-left: 10px;
}
.office-info__contact > div:last-child {
  margin-right: 0;
}
.office-info__map {
  width: 100%;
  height: 500px;
}

@media (max-width: 768px) {
  .office-info__inner {
    padding: 0px 30px;
  }
  .office-info__info-wrap h4 {
    font-size: 26px;
  }
  .office-info__info-wrap h4::after {
    margin: 20px 0;
  }
  .office-info__info-wrap h5 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .office-info__contact {
    margin-bottom: 60px;
  }
  .office-info__contact > div {
    font-size: 20px;
    margin-right: 30px;
  }
  .office-info__contact > div p {
    margin-left: 10px;
  }
  .office-info__contact > div img {
    width: 35px;
  }
  .office-info__map {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 576px) {
  .office-info__inner {
    padding: 0px 20px;
  }
  .office-info__info-wrap h4 {
    font-size: 20px;
  }
  .office-info__info-wrap h4::after {
    margin: 20px 0;
  }
  .office-info__info-wrap h5 {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .office-info__contact {
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  .office-info__contact > div {
    font-size: 18px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .office-info__contact > div p {
    margin-left: 10px;
  }
  .office-info__contact > div img {
    width: 30px;
  }
  .office-info__map {
    width: 100%;
    height: 300px;
  }
}
.branch-info {
  box-sizing: border-box;
  padding: 0px 30px;
}
.branch-info__inner {
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
  padding: 100px 130px;
  margin: 0px auto;
  background-color: #fff;
}

.branch-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.branch-list li {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 50px;
  box-sizing: border-box;
}
.branch-list li:nth-of-type(2n) {
  margin-right: 0;
}
.branch-list li h5 {
  font-size: 22px;
  margin-bottom: 10px;
}
.branch-list__map {
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.branch-list__address {
  font-size: 20px;
  color: #959595;
}
.branch-list__address::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0px;
}
.branch-list__contact {
  font-size: 20px;
  color: #959595;
}

.marker p {
  min-width: 160px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 1400px) {
  .branch-info {
    padding: 0px 30px;
  }
  .branch-info__inner {
    padding: 100px 80px;
  }
}
@media (max-width: 1024px) {
  .branch-info {
    padding: 0px 30px;
  }
  .branch-info__inner {
    padding: 40px 30px;
  }
  .branch-list li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 50px;
  }
  .branch-list li h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .branch-list__map {
    height: 240px;
    margin-bottom: 30px;
  }
  .branch-list__address {
    font-size: 18px;
  }
  .branch-list__address::after {
    margin: 10px 0px;
  }
  .branch-list__contact {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .branch-info {
    padding: 0px 20px;
  }
  .branch-info__inner {
    padding: 40px 30px;
  }
  .branch-list li {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 50px;
  }
  .branch-list li:last-child {
    margin-bottom: 0;
  }
  .branch-list li h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .branch-list__map {
    height: 240px;
    margin-bottom: 30px;
  }
  .branch-list__address {
    font-size: 18px;
  }
  .branch-list__address::after {
    margin: 10px 0px;
  }
  .branch-list__contact {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .branch-info {
    padding: 0px 20px;
  }
  .branch-info__inner {
    padding: 30px 20px;
  }
  .branch-list li {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 50px;
  }
  .branch-list li:last-child {
    margin-bottom: 0;
  }
  .branch-list li h5 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .branch-list__map {
    height: 240px;
    margin-bottom: 30px;
  }
  .branch-list__address {
    font-size: 16px;
  }
  .branch-list__address::after {
    margin: 10px 0px;
  }
  .branch-list__contact {
    font-size: 16px;
  }
}
@font-face {
  font-family: "Santorini";
  src: url("../font/210Santorini.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "SantoriniB";
  src: url("../font/210SantoriniB.ttf") format("truetype");
  font-weight: bold;
}
.product-bg {
  position: absolute;
  z-index: 0;
}
.product-bg-01 {
  top: -50%;
  left: 0;
  max-width: 710px;
  width: 40%;
}
.product-bg-02 {
  top: -50%;
  right: 0;
  width: 40%;
  max-width: 631px;
}

.product__inner {
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px 30px;
  position: relative;
}
.product__list-wrap {
  padding: 50px 30px;
  background-color: #fff;
  box-sizing: border-box;
}
.product__list-wrap > p {
  font-size: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #333;
}
.product__list-wrap > p span {
  font-size: 24px;
  font-weight: bold;
}
.product__list-wrap > ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.product__list-wrap > ul li {
  width: 31%;
  margin-right: 3.5%;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.product__list-wrap > ul li .product__list-img {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.product__list-wrap > ul li .product__list-img > img {
  width: 100%;
}
.product__list-wrap > ul li h6 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.product__list-wrap > ul li p {
  font-size: 18px;
  color: #3f3f3f;
  text-align: center;
}
.product__list-wrap > ul li:nth-child(3n) {
  margin-right: 0;
}
.product__page-nation {
  display: flex;
  justify-content: center;
}
.product__page-nation ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__page-nation ul li {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ede8db;
  color: #7e5d45;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
}
.product__page-nation ul li.on {
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  transform: rotate(30deg);
  background-color: #bdab99;
}
.product__page-nation ul li.on a {
  transform: rotate(-30deg);
  color: #fff;
}
.product__page-nation ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.product__tab ul {
  width: 100%;
  box-sizing: border-box;
  background-color: #ebe6ac;
  display: flex;
  justify-content: center;
}
.product__tab ul li {
  border-right: 1px solid #fff;
  min-width: 120px;
  height: 95px;
  box-sizing: border-box;
}
.product__tab ul li:first-child {
  border-left: 1px solid #fff;
}
.product__tab ul li.on {
  background-color: #fff;
}
.product__tab ul li.on a {
  color: #333;
  font-weight: bold;
}
.product__tab ul li a {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #91841e;
  text-align: center;
  font-size: 20px;
  word-break: keep-all;
}

.product-slide-wrap {
  margin-bottom: 200px;
  position: relative;
}
.product-slide-wrap .product-slide {
  display: block;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.product-slide-wrap .product-slide__container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.product-slide-wrap .product-slide__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.product-slide-wrap .product-slide__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-slide-wrap .product-slide__slide.swiper-slide-active .product-slide-img img {
  transform: scale(1);
}
.product-slide-wrap .product-slide__slide.swiper-slide-active h6 {
  opacity: 1;
  transform: translateY(20%);
}
.product-slide-wrap .product-slide__slide.swiper-slide-active p {
  opacity: 1;
  transform: translateY(0%);
}
.product-slide-wrap .product-slide__slide h6 {
  display: inline-block;
  border-radius: 50%;
  padding: 48px 20px;
  background-color: #1cae70;
  font-size: 50px;
  font-family: "Santorini";
  color: #f6f5ef;
  text-align: center;
  transform: translateY(100%);
  font-weight: bold;
  transition: all 0.8s;
  opacity: 0;
}
.product-slide-wrap .product-slide__slide p {
  font-size: 18px;
  transition: all 0.8s;
  transform: translateY(-100px);
  opacity: 0;
}
.product-slide-wrap .product-slide-img {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 550px;
  max-height: 350px;
}
.product-slide-wrap .product-slide__slide img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.8s;
  transform: scale(0.85);
}
.product-slide-wrap .product-slide__slide > a {
  display: block;
  width: 100%;
}
.product-slide-wrap .product-slide__prev {
  position: absolute;
  bottom: -41px;
  left: calc(50% - 320px);
  cursor: pointer;
}
.product-slide-wrap .product-slide__prev i {
  font-size: 24px;
  color: #535251;
}
.product-slide-wrap .product-slide__next {
  position: absolute;
  bottom: -41px;
  right: calc(50% - 320px);
  cursor: pointer;
}
.product-slide-wrap .product-slide__next i {
  font-size: 24px;
  color: #535251;
}
.product-slide-wrap .product-slide__pagination {
  width: 500px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.product-slide-wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #535251;
}

@media (max-width: 1350px) {
  .product-bg-01 {
    top: -40%;
  }
  .product-bg-02 {
    top: -40%;
  }
}
@media (max-width: 1200px) {
  .product-bg-01 {
    top: -30%;
  }
  .product-bg-02 {
    top: -30%;
  }
}
@media (max-width: 1100px) {
  .product-bg-01 {
    top: -20%;
  }
  .product-bg-02 {
    top: -20%;
  }
}
@media (max-width: 1024px) {
  .product__inner {
    padding: 0px 30px;
  }
  .product__list-wrap {
    padding: 50px 30px;
  }
  .product__list-wrap > p {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
  .product__list-wrap > p span {
    font-size: 24px;
  }
  .product__list-wrap > ul li {
    width: 31%;
    margin-right: 3.5%;
    margin-bottom: 50px;
  }
  .product__list-wrap > ul li .product__list-img {
    margin-bottom: 20px;
  }
  .product__list-wrap > ul li h6 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .product__list-wrap > ul li p {
    font-size: 16px;
  }
  .product__list-wrap > ul li:nth-child(3n) {
    margin-right: 0;
  }
  .product__page-nation ul li {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .product__page-nation ul li.on {
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
  }
  .product__page-nation ul li.on a {
    transform: rotate(-30deg);
  }
  .product__tab ul li {
    min-width: auto;
    height: 95px;
  }
  .product__tab ul li a {
    padding: 0px 30px;
    font-size: 20px;
  }
  .product-slide-wrap {
    margin-bottom: 160px;
  }
  .product-slide-wrap .product-slide__slide h6 {
    padding: 48px 20px;
    font-size: 40px;
  }
  .product-slide-wrap .product-slide__slide p {
    font-size: 18px;
  }
  .product-slide-wrap .product-slide-img {
    margin-bottom: 30px;
  }
  .product-slide-wrap .product-slide__prev {
    bottom: -41px;
    left: calc(50% - 320px);
  }
  .product-slide-wrap .product-slide__prev i {
    font-size: 24px;
  }
  .product-slide-wrap .product-slide__next {
    bottom: -41px;
    right: calc(50% - 320px);
  }
  .product-slide-wrap .product-slide__next i {
    font-size: 24px;
  }
  .product-slide-wrap .product-slide__pagination {
    width: 500px;
    height: 2px;
    bottom: -30px;
  }
}
@media (max-width: 900px) {
  .product-bg-01 {
    top: -10%;
  }
  .product-bg-02 {
    top: -10%;
  }
}
@media (max-width: 768px) {
  .product-bg-01 {
    top: 0%;
  }
  .product-bg-02 {
    top: 0%;
  }
  .product__inner {
    padding: 0px 20px;
  }
  .product__list-wrap {
    padding: 50px 30px;
  }
  .product__list-wrap > p {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  .product__list-wrap > p span {
    font-size: 24px;
  }
  .product__list-wrap > ul li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 50px;
  }
  .product__list-wrap > ul li .product__list-img {
    margin-bottom: 20px;
  }
  .product__list-wrap > ul li h6 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .product__list-wrap > ul li p {
    font-size: 16px;
  }
  .product__list-wrap > ul li:nth-child(2n) {
    margin-right: 0%;
  }
  .product__list-wrap > ul li:nth-child(3n) {
    margin-right: 4%;
  }
  .product__tab ul li {
    height: 90px;
  }
  .product__tab ul li a {
    font-size: 18px;
    padding: 0px 25px;
  }
  .product__page-nation ul li {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .product__page-nation ul li.on {
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
  }
  .product__page-nation ul li.on a {
    transform: rotate(-30deg);
  }
  .product-slide-wrap {
    margin-bottom: 120px;
  }
  .product-slide-wrap .product-slide__slide h6 {
    padding: 48px 20px;
    font-size: 40px;
  }
  .product-slide-wrap .product-slide__slide p {
    font-size: 18px;
  }
  .product-slide-wrap .product-slide-img {
    margin-bottom: 30px;
  }
  .product-slide-wrap .product-slide__prev {
    bottom: -41px;
    left: calc(50% - 240px);
  }
  .product-slide-wrap .product-slide__prev i {
    font-size: 24px;
  }
  .product-slide-wrap .product-slide__next {
    bottom: -41px;
    right: calc(50% - 240px);
  }
  .product-slide-wrap .product-slide__next i {
    font-size: 24px;
  }
  .product-slide-wrap .product-slide__pagination {
    width: 360px;
    height: 2px;
    bottom: -30px;
  }
}
@media (max-width: 630px) {
  .product-bg-01 {
    top: 5%;
  }
  .product-bg-02 {
    top: 5%;
  }
}
@media (max-width: 576px) {
  .product-bg-01 {
    top: 10%;
  }
  .product-bg-02 {
    top: 10%;
  }
  .product__inner {
    padding: 0px 20px;
  }
  .product__list-wrap {
    padding: 30px 20px;
  }
  .product__list-wrap > p {
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .product__list-wrap > p span {
    font-size: 20px;
  }
  .product__list-wrap > ul li {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 40px;
  }
  .product__list-wrap > ul li .product__list-img {
    margin-bottom: 10px;
  }
  .product__list-wrap > ul li h6 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .product__list-wrap > ul li p {
    font-size: 14px;
  }
  .product__list-wrap > ul li:nth-child(2n) {
    margin-right: 0%;
  }
  .product__list-wrap > ul li:nth-child(3n) {
    margin-right: 0%;
  }
  .product__tab ul {
    overflow-x: scroll;
    justify-content: start;
  }
  .product__tab ul li {
    height: 90px;
  }
  .product__tab ul li a {
    font-size: 16px;
    padding: 0px 25px;
  }
  .product__tab ul::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }
  .product__page-nation ul li {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }
  .product__page-nation ul li.on {
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
  }
  .product-slide-wrap {
    margin-bottom: 100px;
  }
  .product-slide-wrap .product-slide__slide h6 {
    padding: 48px 20px;
    font-size: 30px;
  }
  .product-slide-wrap .product-slide__slide p {
    font-size: 18px;
  }
  .product-slide-wrap .product-slide-img {
    margin-bottom: 30px;
  }
  .product-slide-wrap .product-slide__prev {
    bottom: -41px;
    left: calc(50% - 140px);
  }
  .product-slide-wrap .product-slide__prev i {
    font-size: 24px;
  }
  .product-slide-wrap .product-slide__next {
    bottom: -41px;
    right: calc(50% - 140px);
  }
  .product-slide-wrap .product-slide__next i {
    font-size: 24px;
  }
  .product-slide-wrap .product-slide__pagination {
    width: 200px;
    height: 2px;
    bottom: -30px;
  }
}
@media (max-width: 450px) {
  .product-bg-01 {
    top: 15%;
  }
  .product-bg-02 {
    top: 15%;
  }
}
@media (max-width: 400px) {
  .product-bg-01 {
    top: 20%;
  }
  .product-bg-02 {
    top: 20%;
  }
}
.ceo-greeting__inner {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0px 30px;
  margin: 0px auto;
}
.ceo-greeting__inner h5 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 50px;
}
.ceo-greeting__text {
  font-size: 20px;
  margin-bottom: 60px;
  line-height: 1.5;
  word-break: keep-all;
}
.ceo-greeting__signature {
  display: flex;
  justify-content: space-between;
}
.ceo-greeting__signature p {
  font-weight: 600;
  font-size: 18px;
}
.ceo-greeting__signature p span {
  display: inline-block;
  margin-left: 5px;
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .ceo-greeting__inner {
    padding: 0px 20px;
  }
  .ceo-greeting__inner h5 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .ceo-greeting__text {
    font-size: 20px;
    margin-bottom: 60px;
  }
  .ceo-greeting__signature p {
    font-weight: 600;
  }
  .ceo-greeting__signature p span {
    margin-left: 5px;
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .ceo-greeting__inner {
    padding: 0px 20px;
  }
  .ceo-greeting__inner h5 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .ceo-greeting__text {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .ceo-greeting__signature p {
    font-weight: 600;
    font-size: 16px;
  }
  .ceo-greeting__signature p span {
    margin-left: 5px;
    font-size: 20px;
  }
  .ceo-greeting__signature img {
    width: 120px;
  }
}
.logo-intro__inner {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding: 0px 30px;
  margin: 0px auto;
  line-height: 1.5;
}
.logo-intro__inner h6 {
  font-size: 22px;
  font-weight: normal;
}
.logo-intro__wrap {
  display: flex;
  margin-bottom: 100px;
}
.logo-intro__wrap-img-box {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.logo-intro__wrap-img-box img {
  max-width: 100%;
}
.logo-intro__wrap h3 {
  font-size: 32px;
  position: relative;
  padding-left: 15px;
}
.logo-intro__wrap h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 5px;
  height: 26px;
  background-color: #e46d32;
  transform: translateY(-50%);
}
.logo-intro__wrap p {
  font-size: 20px;
}
.logo-intro__wrap .left {
  width: 30%;
  box-sizing: border-box;
}
.logo-intro__wrap .right {
  width: 70%;
  box-sizing: border-box;
}
.logo-intro__wrap .right h3 {
  padding-left: 0;
  margin-bottom: 10px;
}
.logo-intro__wrap .right h3::before {
  display: none;
}
.logo-intro .shade {
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-intro .shade p {
  margin-right: 100px;
}

.logo-down {
  display: flex;
  justify-content: center;
}
.logo-down a {
  display: inline-block;
  padding: 10px 60px;
  border: 1px solid #ccc;
  font-size: 20px;
}
.logo-down a img {
  margin-left: 10px;
}

.logo-color-wrap {
  display: flex;
  margin-bottom: 80px;
}
.logo-color-wrap > div {
  width: 30%;
  margin-right: 5%;
}
.logo-color-wrap > div .logo-color-ex {
  width: 100%;
  box-sizing: border-box;
  height: 10px;
  background-color: #e46d32;
  margin-bottom: 20px;
}
.logo-color-wrap > div p {
  font-size: 16px;
}
.logo-color-wrap > div p span {
  display: block;
  font-size: 22px;
  font-weight: 600;
}
.logo-color-wrap > div:nth-of-type(3) {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .logo-intro__inner {
    padding: 0px 30px;
  }
  .logo-intro__inner h6 {
    font-size: 20px;
  }
  .logo-intro__wrap {
    margin-bottom: 80px;
  }
  .logo-intro__wrap-img-box {
    margin-bottom: 50px;
  }
  .logo-intro__wrap h3 {
    font-size: 28px;
    padding-left: 15px;
  }
  .logo-intro__wrap h3::before {
    width: 5px;
    height: 22px;
  }
  .logo-intro__wrap p {
    font-size: 18px;
  }
  .logo-intro__wrap .left {
    width: 30%;
  }
  .logo-intro__wrap .right {
    width: 70%;
  }
  .logo-intro .shade p {
    margin-right: 40px;
  }
  .logo-down a {
    padding: 10px 50px;
    font-size: 18px;
  }
  .logo-down a img {
    margin-left: 10px;
    width: 20px;
  }
  .logo-color-wrap {
    margin-bottom: 60px;
  }
  .logo-color-wrap > div {
    width: 30%;
    margin-right: 5%;
  }
  .logo-color-wrap > div p {
    font-size: 14px;
  }
  .logo-color-wrap > div p span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .logo-intro__inner {
    padding: 0px 20px;
  }
  .logo-intro__inner h6 {
    font-size: 20px;
  }
  .logo-intro__wrap {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .logo-intro__wrap-img-box {
    margin-bottom: 30px;
  }
  .logo-intro__wrap h3 {
    font-size: 28px;
    padding-left: 15px;
  }
  .logo-intro__wrap h3::before {
    width: 5px;
    height: 22px;
  }
  .logo-intro__wrap p {
    font-size: 18px;
  }
  .logo-intro__wrap .left {
    width: 100%;
    margin-bottom: 20px;
  }
  .logo-intro__wrap .right {
    width: 100%;
  }
  .logo-intro .shade p {
    margin-right: 40px;
  }
  .logo-down a {
    padding: 10px 50px;
    font-size: 18px;
  }
  .logo-down a img {
    margin-left: 10px;
    width: 20px;
  }
  .logo-color-wrap {
    margin-bottom: 60px;
  }
  .logo-color-wrap > div {
    width: 30%;
    margin-right: 5%;
  }
  .logo-color-wrap > div p {
    font-size: 14px;
  }
  .logo-color-wrap > div p span {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .logo-intro__wrap {
    margin-bottom: 60px;
  }
  .logo-intro__wrap-img-box {
    margin-bottom: 20px;
  }
  .logo-intro__wrap h3 {
    font-size: 26px;
  }
  .logo-intro__wrap p {
    font-size: 18px;
  }
  .logo-intro__wrap .left {
    width: 100%;
    margin-bottom: 10px;
  }
  .logo-intro__wrap .right {
    width: 100%;
  }
  .logo-intro .shade {
    flex-wrap: wrap;
  }
  .logo-intro .shade p {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .logo-color-wrap {
    margin-bottom: 60px;
  }
  .logo-color-wrap > div {
    width: 30%;
    margin-right: 5%;
  }
  .logo-color-wrap > div p {
    font-size: 12px;
  }
  .logo-color-wrap > div p span {
    font-size: 20px;
  }
}
.mo {
  display: none !important;
}

@media (max-width: 576px) {
  .mo {
    display: block !important;
  }
}/*# sourceMappingURL=style_sub.css.map */