@import url("normalize.css");
@import url("swiper.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean");
@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: 'GmarketSansLight';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GmarketSansLight.eot");
  src: local(""), url("../fonts/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GmarketSansLight.woff") format("woff"), url("../fonts/GmarketSansLight.ttf") format("truetype"), url("../fonts/GmarketSansLight.svg") format("svg");
}

@font-face {
  font-family: 'GmarketSansMedium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GmarketSansMedium.eot");
  src: local(""), url("../fonts/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GmarketSansMedium.woff") format("woff"), url("../fonts/GmarketSansMedium.ttf") format("truetype"), url("../fonts/GmarketSansMedium.svg") format("svg");
}

@font-face {
  font-family: 'GmarketSansBold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/GmarketSansBold.eot");
  src: local(""), url("../fonts/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GmarketSansBold.woff") format("woff"), url("../fonts/GmarketSansBold.ttf") format("truetype"), url("../fonts/GmarketSansBold.svg") format("svg");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  letter-spacing: -0.75px;
  color: #333;
}

img {
  vertical-align: middle;
}

select, input, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

select:focus, input:focus, button:focus, textarea:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

input[type="radio"] {
  display: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

br {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  background-image: url(/common/images/main_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

header {
  position: fixed;
  width: 100%;
  z-index: 997;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .wrap {
  position: relative;
  padding: 1rem 2rem 1rem 4rem;
}

header .wrap .wrap_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap .wrap_inner > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap .wrap_inner > a .volume {
  margin-top: 0.5rem;
  text-align: right;
}

header .wrap .wrap_inner > a .volume > span {
  font-family: 'Myriad Pro Regular', sans-serif;
  font-size: 1.2rem;
}

header .wrap .wrap_inner > a .volume > span small {
  font-size: 0.65rem;
}

header .wrap .wrap_inner > a .volume > p {
  font-size: 0.75rem;
  color: #4071bd;
}

header .wrap .wrap_inner .open {
  width: 33px;
  height: 40px;
  background-image: url(/common/images/open.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1rem;
  cursor: pointer;
  z-index: 998;
}

header.on {
  background-color: #fff;
}

nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

nav .wrap {
  position: absolute;
  top: 0;
  right: -100%;
  width: 674px;
  height: 100vh;
  background-color: #fff;
  overflow-y: scroll;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .wrap::-webkit-scrollbar {
  display: none;
}

nav .wrap .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.5rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#9b3ef7), to(#466ef5));
  background: linear-gradient(to right, #9b3ef7, #466ef5);
}

nav .wrap .top > p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
}

nav .wrap .top > p span {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 300;
}

nav .wrap .top button {
  width: 20px;
  height: 20px;
  background-image: url(/common/images/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

nav .wrap .gnb {
  padding: 2.5rem 3rem;
}

nav .wrap .gnb > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 3.5rem;
}

nav .wrap .gnb > li .lnb_title {
  width: 190px;
  font-size: 1.5rem;
  color: #4b6bf5;
  word-break: keep-all;
}

nav .wrap .gnb > li .lnb {
  position: relative;
  padding-left: 2rem;
}

nav .wrap .gnb > li .lnb::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #3e4d7c;
}

nav .wrap .gnb > li .lnb li {
  margin-bottom: 0.5rem;
}

nav .wrap .gnb > li .lnb li a {
  font-size: 0.95rem;
}

nav .wrap .gnb > li .lnb li:hover a {
  color: #4b6bf5;
}

nav .wrap .gnb > li .lnb li:last-child {
  margin: 0;
}

nav .wrap .gnb > li:last-child {
  margin: 0;
}

header.vol49 ~ nav .wrap .top {
  background: -webkit-gradient(linear, left top, right top, from(#0c6795), to(#118146));
  background: linear-gradient(to right, #0c6795, #118146);
}

header.vol49 ~ nav .wrap .gnb > li .lnb_title {
  color: #0c6795;
}

nav.on {
  display: block;
  -webkit-animation: opacity 0.3s linear forwards;
          animation: opacity 0.3s linear forwards;
}

nav.on .wrap {
  -webkit-animation: nav 0.5s ease-out forwards;
          animation: nav 0.5s ease-out forwards;
}

@-webkit-keyframes opacity {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes opacity {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@-webkit-keyframes nav {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes nav {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

.banner {
  position: absolute;
  top: 55%;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 124px;
  z-index: 2;
}

.banner .event {
  display: block;
  width: 100%;
}

.banner .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 124px;
  background-color: #005dbc;
  padding: 4rem 1.5rem 1.25rem;
  background-image: url(/common/images/subscribe.png);
  background-repeat: no-repeat;
  background-position: center 1.25rem;
}

.banner .subscribe > span {
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

.banner > .pdf, .banner .past {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 36px;
  text-align: center;
  font-size: 0.7rem;
  color: #4c4c4c;
  border: 1px solid #acacac;
  padding: 0 0.5rem 0 0.2rem;
  cursor: pointer;
  background-color: #fff;
}

.banner > .pdf option, .banner .past option {
  font-size: 0.7rem;
}

.banner > .past {
  border-top: none;
  padding-right: 0.75rem;
  background-image: url(/common/images/select.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem) center;
  background-size: 8%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 107px;
  z-index: 997;
}

footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 4rem;
}

footer .wrap .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}

footer .wrap .sns > li {
  margin-right: 0.25rem;
}

footer .wrap .sns > li img {
  width: 22px;
}

footer .wrap .copyright {
  font-size: 0.65rem;
  font-weight: 300;
  color: #4c4c4c;
}

.pc {
  display: block !important;
}

.mo {
  display: none !important;
}

.pc1023 {
  display: block !important;
}

.mo1023 {
  display: none !important;
}

.pc1260 {
  display: block !important;
}

.mo1260 {
  display: none !important;
}

.pc1365 {
  display: block !important;
}

.mo1365 {
  display: none !important;
}

/*breack point*/
@media (max-width: 1260px) {
  .pc1260 {
    display: none !important;
  }
  .mo1260 {
    display: block !important;
  }
  html {
    height: auto;
  }
  body {
    overflow: visible;
    height: auto;
    background-size: 200%;
  }
  header {
    background-color: #fff;
  }
  header .wrap {
    padding: 1rem 2rem;
  }
  header .wrap .wrap_inner .open {
    margin: 0;
  }
  .banner_mo {
    width: 90%;
    margin: 2rem auto 0;
  }
  .banner_mo img {
    width: 100%;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 90%;
    margin: 0 auto;
  }
  .banner .event {
    display: none;
  }
  .banner .subscribe {
    width: 33.3333%;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-right: 0.5rem;
    background-image: none;
    padding: 0;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .subscribe span {
    font-size: 1rem;
    font-weight: 500;
  }
  .banner .pdf, .banner .past {
    width: 33.3333%;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border-color: #898989;
  }
  .banner .pdf option, .banner .past option {
    font-size: 1rem;
  }
  .banner .past {
    background-position: 65% 52%;
    background-size: 4.5%;
    margin-right: 0;
    font-weight: 500;
    border-top: 1px solid #898989;
  }
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    background-color: transparent;
  }
  footer .wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  footer .wrap .sns {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  footer .wrap .sns > li {
    width: 25%;
    margin-right: 0.5rem;
  }
  footer .wrap .sns > li img {
    width: 100%;
  }
  footer .wrap .copyright {
    font-size: 1rem;
  }
}

/*Ipad*/
@media (max-width: 1023px) {
  .pc1023 {
    display: none !important;
  }
  .mo1023 {
    display: block !important;
  }
}

/*Tablet*/
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
  .mo {
    display: block !important;
  }
  nav .wrap {
    width: 70%;
  }
  nav .wrap .gnb {
    padding: 2rem;
  }
  nav .wrap .gnb > li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #3e4d7c;
  }
  nav .wrap .gnb > li .lnb_title {
    width: 100%;
    margin-bottom: 1rem;
  }
  nav .wrap .gnb > li .lnb {
    width: 100%;
    padding: 0;
  }
  nav .wrap .gnb > li .lnb li {
    margin-bottom: 0.75rem;
  }
  nav .wrap .gnb > li .lnb::before {
    display: none;
  }
  nav .wrap .gnb > li:last-child {
    border: none;
  }
  footer .wrap .sns {
    max-width: 190px;
  }
  footer .wrap .copyright {
    font-size: 0.75rem;
  }
}

/*Mobile*/
@media (max-width: 575.98px) {
  header .wrap {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
  }
  header .wrap .logo {
    width: 110px;
  }
  header .wrap .wrap_inner > a .volume {
    margin: 0;
    margin-left: -10px;
  }
  header .wrap .wrap_inner > a .volume span {
    font-size: 0.9rem;
  }
  header .wrap .wrap_inner > a .volume p {
    font-size: 0.65rem;
  }
  nav .wrap .top {
    padding: 1.5rem;
  }
  nav .wrap .top p {
    font-size: 1rem;
  }
  nav .wrap .gnb {
    padding: 1.5rem;
  }
  nav .wrap .gnb > li .lnb_title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  nav .wrap .gnb > li .lnb li {
    margin-bottom: 0.35rem;
  }
  nav .wrap .gnb > li .lnb li a {
    font-size: 0.85rem;
  }
  .banner .subscribe {
    border-radius: 10px;
    height: 45px;
    margin-right: 0.25rem;
  }
  .banner .subscribe span {
    font-size: 0.8rem;
  }
  .banner .pdf, .banner .past {
    font-size: 0.8rem;
    height: 45px;
    border-radius: 10px;
    margin-right: 0.25rem;
  }
  .banner .pdf a, .banner .past a {
    font-size: 0.8rem;
  }
  .banner .pdf option, .banner .past option {
    font-size: 0.8rem;
  }
  .banner .past {
    background-size: 8%;
    background-position: 72%;
    border-radius: 10px;
  }
  footer {
    height: 120px;
  }
  footer .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrap .sns {
    margin-bottom: 0.5rem;
  }
}

/*Minimum*/
@media (max-width: 360px) {
  header .wrap .wrap_inner > a .volume {
    margin-left: -1.25rem;
  }
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/common/images/main_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.main .wrap {
  width: 100%;
  height: 100%;
}

.main .wrap .visual {
  display: inline-block;
  position: absolute;
  top: calc(104px + 2rem);
  left: 3.5rem;
  width: 56.24%;
  height: calc(100% - (104px + 2rem + 107px));
  z-index: 995;
}

.main .wrap .visual .visual_inner {
  display: block;
  border-radius: 140px 140px 0 140px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.main .wrap .visual .visual_inner .visual_text {
  position: absolute;
  top: 50%;
  left: 5rem;
  width: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: 2.85rem;
  color: #fff;
}

.main .wrap .visual .visual_drawing {
  position: absolute;
  top: -5rem;
  right: 3rem;
  width: 35%;
}

.main .wrap .swiper-container {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  padding: 2rem 11.3% 0 calc(100% - (11.3% + 25%));
}

.main .wrap .swiper-container .swiper-slide {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
}

.main .wrap .swiper-container .swiper-slide a {
  display: block;
}

.main .wrap .swiper-container .swiper-slide a img {
  display: block;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .wrap .swiper-container .swiper-slide a .title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 10px;
  font-size: 0.75rem;
  color: #fff;
  background-color: #333;
  z-index: 2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .wrap .swiper-container .swiper-slide a .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  background-color: rgba(0, 78, 158, 0.9);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.main .wrap .swiper-container .swiper-slide a .textbox > p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.3;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 1rem;
  word-break: keep-all;
}

.main .wrap .swiper-container .swiper-slide a .textbox .arrow {
  display: inline-block;
  width: 60px;
  min-width: 60px;
  height: 60px;
  background-color: #fff;
  background-image: url(/common/images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main .wrap .swiper-container .swiper-slide:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main .wrap .swiper-container .swiper-slide:hover a .title {
  color: #8baadf;
}

.main .wrap .swiper-container .swiper-slide:hover a .textbox {
  opacity: 1;
}

.main .wrap .swiper-container .swiper-slide:hover a .textbox p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main .wrap .swiper-container .swiper-slide:hover a .textbox .arrow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*Small PC*/
@media (max-width: 1400px) {
  .main .wrap .swiper-container .swiper-slide a .textbox > p {
    font-size: 1rem;
  }
}

/*breack point*/
@media (max-width: 1260px) {
  .main {
    height: auto;
    padding-top: 125px;
    background: none;
  }
  .main .wrap .visual {
    display: block;
    position: relative;
    left: auto;
    top: auto;
    width: 90%;
    margin: 0 auto 0;
  }
  .main .wrap .visual .visual_inner {
    position: relative;
  }
  .main .wrap .visual .visual_inner a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main .wrap .visual .visual_inner .visual_text {
    top: auto;
    left: 50%;
    width: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 6rem;
  }
  .main .wrap .visual .visual_drawing {
    top: 0;
    right: 0;
    width: 30%;
  }
  .main .wrap .swiper-container {
    display: none;
  }
  .main .wrap .mobileList {
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
  }
  .main .wrap .mobileList li {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
  }
  .main .wrap .mobileList li a {
    display: block;
    width: 100%;
  }
  .main .wrap .mobileList li a img {
    display: block;
    width: 100%;
  }
  .main .wrap .mobileList li a .title {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 1.5rem;
    padding: 8px 10px;
    color: #fff;
    background-color: #333;
  }
  .main .wrap .mobileList li a .textbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
  .main .wrap .mobileList li a .textbox p {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 0 1.5rem 1.5rem;
  }
  .main .wrap .mobileList li a .textbox .arrow {
    display: inline-block;
    width: 85px;
    height: 85px;
    background-color: #fff;
    background-image: url(/common/images/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1.5rem 1.5rem 0;
  }
}

/*Ipad*/
@media (max-width: 1023px) {
  .main .wrap .visual .visual_drawing {
    width: auto;
    height: 55%;
  }
  .main .wrap .visual .visual_inner {
    border-radius: 120px 120px 0 120px;
  }
  .main .wrap .visual .visual_inner .visual_text {
    width: 55%;
    bottom: 14%;
  }
}

/*Tablet*/
@media (max-width: 767px) {
  .main .wrap .visual .visual_drawing {
    width: auto;
    height: 55%;
  }
  .main .wrap .visual .visual_inner {
    border-radius: 120px 120px 0 120px;
  }
  .main .wrap .visual .visual_inner .visual_text {
    width: 55%;
    bottom: 14%;
  }
}

/*Mobile*/
@media (max-width: 575.98px) {
  .main {
    padding-top: 100px;
  }
  .main .wrap .visual {
    height: 600px;
  }
  .main .wrap .visual .visual_inner {
    border-radius: 100px 100px 0 100px;
  }
  .main .wrap .visual .visual_inner .visual_text {
    width: 65%;
  }
  .main .wrap .mobileList li a .title {
    font-size: 0.9rem;
  }
  .main .wrap .mobileList li a .textbox p {
    font-size: 0.9rem;
    margin: 0 0 0.75rem 0.75rem;
  }
  .main .wrap .mobileList li a .textbox .arrow {
    min-width: 40px;
    width: 40px;
    height: 40px;
    margin: 0 0.75rem 0.75rem 0.75rem;
    background-size: 50%;
  }
}

.sub {
  margin-bottom: 5rem;
}

.sub .wrap {
  width: 1100px;
  margin: 0 auto;
  padding-top: 5rem;
}

.sub .wrap .location {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  padding: 0 2.5rem;
}

.sub .wrap .location .depth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub .wrap .location .depth img {
  display: inline-block;
}

.sub .wrap .location .depth .depth1 {
  position: relative;
  padding: 0 1.25rem;
  margin: 0 0 0 0.5rem;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1;
}

.sub .wrap .location .depth .depth1::before, .sub .wrap .location .depth .depth1::after {
  display: inline-block;
  content: ">";
  position: absolute;
  top: 0;
  left: 4px;
  width: 17px;
  height: 2px;
}

.sub .wrap .location .depth .depth1::after {
  left: auto;
  right: 0;
}

.sub .wrap .location .depth .depth1.depth_style {
  padding: 0 0 0 1.25rem;
  font-weight: 500;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #b8dbff), color-stop(50%, transparent));
  background: linear-gradient(to top, #b8dbff 50%, transparent 50%);
}

.sub .wrap .location .depth .depth1.depth_style::after {
  display: inline-block;
  content: ">";
  position: absolute;
  top: 0;
  left: 4px;
  width: 17px;
  height: 2px;
}

.sub .wrap .location .depth .depth2 {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #b8dbff), color-stop(50%, transparent));
  background: linear-gradient(to top, #b8dbff 50%, transparent 50%);
}

.sub .wrap .title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 2.5rem 2.5rem 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #dadada;
}

.sub .wrap .title_wrap .left {
  margin-right: 1.5rem;
}

.sub .wrap .title_wrap .left .subTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  word-break: keep-all;
}

.sub .wrap .title_wrap .left .title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  word-break: keep-all;
}

.sub .wrap .title_wrap .left > h5 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  word-break: keep-all;
}

.sub .wrap .title_wrap .left .introduction {
  font-size: 0.85rem;
  font-weight: 300;
  line-height: 1.45;
  word-break: keep-all;
  margin-bottom: 1.5rem;
}

.sub .wrap .title_wrap .left > small {
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.35;
  word-break: keep-all;
  margin-bottom: 1.5rem;
}

.sub .wrap .title_wrap .left > small * {
  font-size: 100%;
}

.sub .wrap .title_wrap .left .by span {
  font-size: 0.85rem;
}

.sub .wrap .title_wrap .left .by span b {
  font-size: 0.85rem;
}

.sub .wrap .crawling-contents-textbox .textbox {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.sub .wrap .crawling-contents-textbox .textbox h3 {
  padding-bottom: 1.5rem;
  font-size: 1.45rem;
  font-weight: 600;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox h4 {
  padding-bottom: 3rem;
  margin: 0 auto;
  font-size: 1.35rem;
  font-weight: 500;
  font-style: oblique;
  line-height: 1.25;
  text-align: center;
  word-break: keep-all;
  color: #438dba;
}

.sub .wrap .crawling-contents-textbox .textbox h4.epilogue {
  padding-bottom: 1.75rem;
  margin-right: auto !important;
  margin-left: auto !important;
  font-family: 'GmarketSansMedium';
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.45;
  text-align: center;
  word-break: keep-all;
  color: #8eb0ef;
  font-style: normal;
}

.sub .wrap .crawling-contents-textbox .textbox h5 {
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox h6 {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.25;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .tit01 {
  padding-bottom: 0;
  margin-bottom: 0.75rem;
  border-bottom: 1px dashed #8eb0ef;
}

.sub .wrap .crawling-contents-textbox .textbox .tit01 > span {
  padding-right: 0.5rem;
  background-color: #fff;
  color: #8eb0ef;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.sub .wrap .crawling-contents-textbox .textbox p {
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.45;
  word-break: break-all;
  text-align: justify;
}

.sub .wrap .crawling-contents-textbox .textbox p b {
  font-size: 100%;
}

.sub .wrap .crawling-contents-textbox .textbox a {
  display: inline-block;
}

.sub .wrap .crawling-contents-textbox .textbox b {
  font-weight: 500;
}

.sub .wrap .crawling-contents-textbox .textbox small {
  font-size: 80%;
}

.sub .wrap .crawling-contents-textbox .textbox img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.sub .wrap .crawling-contents-textbox .textbox .img {
  text-align: center;
}

.sub .wrap .crawling-contents-textbox .textbox .img > span {
  display: inline-block;
  margin-bottom: -5.75px;
}

.sub .wrap .crawling-contents-textbox .textbox .img > span small {
  display: block;
  padding: 0.25rem 3px 0 0;
  font-size: 0.75rem;
  color: #005dbc;
  word-break: keep-all;
  text-align: center;
}

.sub .wrap .crawling-contents-textbox .textbox .video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 3rem;
  overflow: hidden;
}

.sub .wrap .crawling-contents-textbox .textbox .video iframe,
.sub .wrap .crawling-contents-textbox .textbox .video object,
.sub .wrap .crawling-contents-textbox .textbox .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub .wrap .crawling-contents-textbox .textbox .video:last-child {
  margin-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .table {
  margin-bottom: 3rem;
  overflow: auto;
}

.sub .wrap .crawling-contents-textbox .textbox .table table {
  border: 1px solid #aaa;
}

.sub .wrap .crawling-contents-textbox .textbox .table table th, .sub .wrap .crawling-contents-textbox .textbox .table table td {
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.45;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  word-break: break-all;
  text-align: justify;
}

.sub .wrap .crawling-contents-textbox .textbox .table table th:last-child, .sub .wrap .crawling-contents-textbox .textbox .table table td:last-child {
  border-right: none;
}

.sub .wrap .crawling-contents-textbox .textbox .table table th {
  font-weight: 500;
  background-color: #eee;
  text-align: center;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .table table .th {
  font-weight: 500;
  background-color: #008ccf;
  text-align: center;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .table table .td {
  background-color: #fffdea;
}

.sub .wrap .crawling-contents-textbox .textbox .table .center td {
  text-align: center;
  word-break: keep-all;
}

.sub .wrap .crawling-contents-textbox .textbox .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  padding-bottom: 1.75rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex > span {
  display: inline-block;
  margin-right: 1.5rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex > span.width50 {
  width: 50%;
}

.sub .wrap .crawling-contents-textbox .textbox .flex > span:last-child {
  margin-right: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .flex:last-child {
  padding-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .flex02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.25rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex02 > span {
  display: inline-block;
  margin-right: 0.25rem;
}

.sub .wrap .crawling-contents-textbox .textbox .flex02 > span:last-child {
  margin-right: 0;
}

.sub .wrap .crawling-contents-textbox .textbox h3:last-child, .sub .wrap .crawling-contents-textbox .textbox h4:last-child, .sub .wrap .crawling-contents-textbox .textbox h5:last-child, .sub .wrap .crawling-contents-textbox .textbox h6:last-child, .sub .wrap .crawling-contents-textbox .textbox p:last-child, .sub .wrap .crawling-contents-textbox .textbox .flex:last-child, .sub .wrap .crawling-contents-textbox .textbox .flex02:last-child {
  padding-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .border01 {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.sub .wrap .crawling-contents-textbox .textbox .border01:last-child {
  margin-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .border02 {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.sub .wrap .crawling-contents-textbox .textbox .border02:last-child {
  margin-bottom: 0;
}

.sub .wrap .crawling-contents-textbox .textbox .tag01 {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: #999;
  color: #fff;
}

.sub .wrap .crawling-contents-textbox .textbox .tag02 {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  background-color: #ffcc00;
}

.sub .wrap .crawling-contents-textbox .textbox .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-bottom: 1rem;
  border-radius: 100%;
  background-color: #0c6796;
  color: #fff;
}

.sub .wrap .crawling-contents-textbox .textbox .circle > span {
  color: #fff;
}

.sub .wrap .crawling-contents-textbox .textbox .marker {
  font-size: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #ffee34), color-stop(30%, transparent));
  background: linear-gradient(to top, #ffee34 40%, transparent 30%);
}

.sub .wrap .crawling-contents-textbox .textbox:last-child {
  padding-bottom: 0;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
  word-break: keep-all;
}

.text-right {
  text-align: right !important;
}

.keepall {
  word-break: keep-all !important;
}

.align-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: start !important;
}

.align-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.algin-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.align-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.justify-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: start !important;
}

.justify-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

.function {
  position: absolute;
  right: calc((100% - 1000px)/2);
  top: 10.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.function li {
  margin-right: 0.5rem;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  border-radius: 50px;
  width: 37px;
  height: 37px;
}

.function li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.function li button span {
  display: none;
}

.function li:last-child {
  margin-right: 0;
}

.function .share {
  position: relative;
}

.function .share #share {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  border-radius: 50px;
}

.function .share .share_list {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0;
}

.function .share .share_list > button {
  position: absolute;
  top: 0;
  border-radius: 50px;
  background-color: #fff;
  width: 35px;
  height: 35px;
  margin-bottom: 0.25rem;
  -webkit-transform-origin: 100px;
          transform-origin: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}

.function .share .share_list > button > img {
  width: 100%;
}

.function .share .share_list > button > span {
  font-size: 0.8rem;
  font-weight: 300;
}

.function .share .share_list #sh-link img {
  width: auto;
}

.function .share .share_list.on {
  opacity: 1;
}

.function .share .share_list.on > button.band {
  top: calc(35px + 0.25rem);
}

.function .share .share_list.on > button.facebook {
  top: calc(70px + 0.5rem);
}

.function .share .share_list.on > button.twitter {
  top: calc(105px + 0.75rem);
}

.movement {
  width: 1000px;
  padding: 0 0 2rem 0;
  margin: 0 auto 3rem;
}

.movement .wrap {
  position: relative;
  padding: 1.5rem;
  background-color: #ebebf1;
  overflow: hidden;
}

.movement .wrap::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  margin-left: -0.5px;
  background-color: #dbdbdb;
  z-index: 2;
}

.movement .wrap .prev, .movement .wrap .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  float: left;
  width: 50%;
}

.movement .wrap .prev .arrow, .movement .wrap .next .arrow {
  display: inline-block;
  width: 78px;
  height: 78px;
  margin: 0.5rem 0;
  background-color: #fff;
  border-radius: 50px;
  overflow: hidden;
}

.movement .wrap .prev .arrow > img, .movement .wrap .next .arrow > img {
  display: block;
  margin: calc((78px - 25px)/2) auto;
}

.movement .wrap .prev .text, .movement .wrap .next .text {
  width: calc(100% - 78px);
  padding: 0 1rem;
}

.movement .wrap .prev .text .category, .movement .wrap .next .text .category {
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  word-break: keep-all;
}

.movement .wrap .prev .text .title, .movement .wrap .next .text .title {
  margin-top: 0.25rem;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.25;
  word-break: keep-all;
}

.movement .wrap .prev .text .title:hover, .movement .wrap .next .text .title:hover {
  text-decoration: underline;
}

.movement .wrap .next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.movement .wrap .next .text {
  text-align: right;
}

.event_img {
  position: relative;
}

.event_img .hint {
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80%;
  height: 5%;
}

.event_wrap {
  padding: 3rem 2rem 3.5rem;
  border-radius: 0 0 1% 1%;
}

.event_wrap .event_top {
  padding: 0 3.5rem 2.5rem;
}

.event_wrap .event_top > .flex02 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem !important;
}

.event_wrap .event_top > .flex02 .tag02 {
  min-width: 120px;
  text-align: center;
  margin-right: 0.5rem !important;
  font-weight: 700 !important;
}

.event_wrap .event_input {
  padding: 2.5rem 3.5rem 0;
  border-top: 1px solid #959595;
}

.event_wrap .event_input > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 0.5rem;
}

.event_wrap .event_input > li input[type="text"],
.event_wrap .event_input > li textarea {
  display: block;
  width: calc(100% - 180px);
  height: 42px;
  padding: 0 0.75rem;
  font-size: 0.9rem;
  border: 1px solid #959595;
  background-color: #fff;
}

.event_wrap .event_input > li textarea {
  height: 100px;
  padding: 0.75rem;
  overflow: auto;
}

.event_wrap .event_input > li .event_subtitle {
  width: 180px;
  margin-top: 10px;
  font-weight: 700;
}

.event_wrap .event_input > li .event_file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 180px);
}

.event_wrap .event_input > li .event_file > input[type="file"] {
  display: none;
}

.event_wrap .event_input > li .event_file > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 42px;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  background-color: #606060;
  color: #fff;
  cursor: pointer;
}

.event_wrap .event_input .event_agreement {
  width: calc(100% - 180px);
}

.event_wrap .event_input .event_agreement > p {
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.45;
  background-color: #fff;
  border: 1px solid #959595;
}

.event_wrap .event_input .event_agreement > p > b {
  font-weight: 500;
}

.event_wrap .event_input .event_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.event_wrap .event_input .event_check > input[type="checkbox"] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.event_wrap .event_input .event_check > label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.event_wrap .event_input .event_secure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 180px);
}

.event_wrap .event_input .event_secure > span {
  display: inline-block;
  width: 158.5px;
  height: 55px;
  padding: calc((55px - 35px)/2);
  border: 1px solid #959595;
  background-color: #fff;
}

.event_wrap .event_input .event_secure > span > img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.event_wrap .event_input .event_secure > button {
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  cursor: pointer;
}

.event_wrap .event_input .event_secure > input[type="text"] {
  display: inline-block;
  width: 158.5px;
  height: 55px;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #959595;
}

.event_wrap .event_input > li:last-child {
  margin-bottom: 0;
}

.event_wrap .event_btn {
  display: block;
  width: 260px;
  height: 64px;
  padding-top: 5px;
  margin: 3rem auto 0;
  border-radius: 3.25rem;
  font-family: 'GmarketSansBold';
  font-size: 1.35rem;
  background-color: #fdb934;
  cursor: pointer;
}

.event_wrap .event_picked {
  padding: 2rem calc((100% - 775px)/2) 1.75rem;
  margin-top: 3rem;
  border: 1px solid #fff;
}

.event_wrap .event_picked > h3 {
  display: inline-block;
  font-family: 'GmarketSansBold';
  font-size: 1.35rem;
  line-height: 1;
  border-bottom: 1px solid #fdb934;
  color: #fdb934;
  word-break: keep-all;
}

.event_wrap .event_picked .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.event_wrap .event_picked .flex .box01 {
  width: 32.5%;
}

.event_wrap .event_picked .flex .box02 {
  width: 62.5%;
}

.event_wrap .event_picked .flex h5 {
  padding-bottom: 0.25rem;
  margin: 1.75rem 0 1rem;
}

.event_wrap .event_picked .flex h5 > span {
  display: block;
  padding: 0.45rem 0.75rem 0.25rem;
  font-family: 'GmarketSansMedium';
  font-size: 0.9rem;
  border-radius: 1rem;
  background-color: #3d3c90;
}

.event_wrap .event_picked .flex p {
  padding: 0 0.75rem;
  overflow: hidden;
  margin-top: -0.25rem;
}

.event_wrap .event_picked .flex p > span {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0 0 0.25rem;
  font-family: 'GmarketSansMedium';
  font-size: 0.9rem;
}

.event_wrap .event_picked .flex .box02 > p > span {
  width: 25%;
}

.subscribe_wrap {
  margin-top: 3rem;
}

.subscribe_wrap .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe_wrap .radio > label {
  display: inline-block;
  float: left;
  width: 300px;
  max-width: 50%;
  height: 70px;
  font-size: 1rem;
  line-height: 68px;
  border: 1px solid #cccccc;
  background-color: #fff;
  border-radius: 50px 0 0 50px;
  text-align: center;
  cursor: pointer;
}

.subscribe_wrap .radio > label.radio02 {
  border-radius: 0 50px 50px 0;
}

.subscribe_wrap .radio > input[type="radio"]:checked + label {
  font-weight: 500;
  border-color: #555555;
  background-color: #555555;
  color: #fff;
}

.subscribe_wrap .radio > input[type="radio"]:checked ~ .radio-type {
  display: none;
}

.subscribe_wrap .radio #radio_flag1:checked ~ .radio-type.subcribe {
  display: block;
}

.subscribe_wrap .radio #radio_flag2:checked ~ .radio-type.cancle {
  display: block;
}

.subscribe_wrap .radio-type {
  margin-top: 3rem;
  width: 1200px;
}

.subscribe_wrap .radio-type .info {
  margin-bottom: 0.75rem;
}

.subscribe_wrap .radio-type .info > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
}

.subscribe_wrap .radio-type .info > li > input {
  display: block;
  width: 100%;
  height: 55px;
  padding: 0 1.25rem;
  margin-right: 1rem;
  font-size: 0.95rem;
  border: 1px solid #cccccc;
  background-color: #f2f2f2;
}

.subscribe_wrap .radio-type .info > li > input:last-child {
  margin-right: 0;
}

.subscribe_wrap .radio-type .info > li:last-child {
  margin-bottom: 0;
}

.subscribe_wrap .radio-type .info .reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe_wrap .radio-type .detail {
  padding: 1.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid #cccccc;
  background-color: #f2f2f2;
}

.subscribe_wrap .radio-type .detail > h5 {
  font-size: 1.15rem;
}

.subscribe_wrap .radio-type .detail > p {
  font-size: 0.85rem;
  line-height: 1.45;
}

.subscribe_wrap .radio-type .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5rem;
}

.subscribe_wrap .radio-type .check > input[type="checkbox"] {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.subscribe_wrap .radio-type .check > label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.subscribe_wrap .radio-type .btn {
  display: block;
  width: 300px;
  height: 68px;
  margin: 2rem auto 0;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #cccccc;
  background-color: #0c6795;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.sub ~ footer {
  position: static;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub ~ footer .wrap {
  padding: 0;
}

.sub ~ .banner {
  position: fixed;
}

/*breack point*/
@media (max-width: 1260px) {
  .sub .wrap {
    width: 90%;
  }
  .sub .wrap .crawling-contents-textbox {
    padding: 0 2.5rem;
    margin: 0 auto;
  }
  .sub .wrap .crawling-contents-textbox .textbox {
    width: 100%;
  }
  .function {
    right: calc(5% + 2.5rem);
  }
  .movement {
    width: 100%;
    max-width: none;
    padding: 0;
    margin-left: 0;
  }
  .movement .wrap {
    padding: 1.25rem 2.5%;
  }
  .movement .wrap .prev .arrow, .movement .wrap .next .arrow {
    background-color: #fff !important;
  }
  .movement .wrap .prev .text .title, .movement .wrap .next .text .title {
    text-decoration: none !important;
  }
  .sub ~ .banner {
    padding: 0 2.5rem;
  }
  .sub ~ .banner {
    position: static;
  }
}

/*Ipad*/
@media (max-width: 1023px) {
  .sub .wrap {
    padding-top: 3rem;
  }
  .sub .wrap .location {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
  .sub .wrap .title_wrap {
    display: block;
    padding: 0 0 2.5rem 0;
  }
  .sub .wrap .title_wrap .left {
    margin: 0;
  }
  .sub .wrap .title_wrap .left .subTitle {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .sub .wrap .title_wrap .left .title {
    text-align: center;
    margin: 0 auto;
  }
  .sub .wrap .title_wrap .left h5 {
    text-align: center;
  }
  .sub .wrap .title_wrap .left .top_img_mo {
    margin: 0 auto 1.5rem;
  }
  .sub .wrap .title_wrap .left .introduction {
    margin-bottom: 1rem;
  }
  .sub .wrap .title_wrap .right {
    display: none;
  }
  .sub .wrap .crawling-contents-textbox {
    padding: 0;
  }
  .sub .wrap .crawling-contents-textbox .textbox h3 {
    text-align: center;
  }
  .function {
    display: none;
  }
  .event_wrap {
    padding: 3rem 5% 3.5rem;
  }
  .event_wrap .event_top {
    padding: 0 2.5% 2.5rem;
  }
  .event_wrap .event_input {
    padding: 2.5rem 2.5% 0;
  }
  .event_wrap .event_input > li {
    margin-bottom: 1rem;
  }
  .event_wrap .event_input > li .event_subtitle {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .event_wrap .event_input > li input[type="text"],
  .event_wrap .event_input > li textarea {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file > input[type="text"] {
    width: calc(100% - 180px);
  }
  .event_wrap .event_input > li .event_agreement {
    width: 100%;
  }
  .event_wrap .event_input > li .event_secure {
    width: 100%;
  }
  .sub ~ .banner {
    width: 90%;
    padding: 0;
  }
}

/*Tablet*/
@media (max-width: 767px) {
  .movement .wrap {
    padding: 1.25rem 5%;
  }
  .movement .wrap .prev .arrow, .movement .wrap .next .arrow {
    width: 55px;
    height: 55px;
  }
  .movement .wrap .prev .arrow > img, .movement .wrap .next .arrow > img {
    height: 20px;
    margin: calc((55px - 20px)/2) auto;
  }
  .movement .wrap .prev .text, .movement .wrap .next .text {
    width: calc(100% - 55px);
    padding: 0 7.5%;
  }
  .movement .wrap .prev .text .category, .movement .wrap .next .text .category {
    font-size: 0.75rem;
  }
  .movement .wrap .prev .text .title, .movement .wrap .next .text .title {
    font-size: 0.9rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span {
    display: block;
    width: 100%;
    min-width: auto !important;
    max-width: none !important;
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-bottom: 1.5rem;
    margin-left: auto !important;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span.width50 {
    width: 100%;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span:last-child {
    margin-bottom: 0;
  }
}

/*Mobile*/
@media (max-width: 575.98px) {
  .sub {
    margin-bottom: 3.5rem;
  }
  .sub .wrap {
    padding-top: 2rem;
  }
  .sub .wrap .location {
    padding: 0;
    margin-bottom: 0.75rem;
  }
  .sub .wrap .location .depth .depth1, .sub .wrap .location .depth .depth2 {
    font-size: 0.65rem;
  }
  .sub .wrap .title_wrap .left .subTitle {
    font-size: 1rem;
  }
  .sub .wrap .title_wrap .left .title {
    font-size: 1.5rem;
  }
  .sub .wrap .title_wrap .left h5 {
    font-size: 1rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h3 {
    font-size: 1.2rem;
    line-height: 1.25;
  }
  .sub .wrap .crawling-contents-textbox .textbox h4 {
    font-size: 1.2rem;
    padding-bottom: 1.75rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h4.epilogue {
    font-size: 0.9rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h5 {
    font-size: 1rem;
    word-break: normal;
    padding-bottom: 1rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox h6 {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox p {
    font-size: 0.85rem;
    padding-bottom: 1.25rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .img > span small {
    max-width: none !important;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex {
    padding-bottom: 1.5rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .flex > span {
    margin-bottom: 1rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .table {
    margin-bottom: 1.75rem;
  }
  .sub .wrap .crawling-contents-textbox .textbox .border01, .sub .wrap .crawling-contents-textbox .textbox .border02 {
    padding: 1rem;
    margin-bottom: 1.25rem;
  }
  .movement .wrap .prev .arrow, .movement .wrap .next .arrow {
    width: 40px;
    height: 40px;
  }
  .movement .wrap .prev .arrow > img, .movement .wrap .next .arrow > img {
    height: 15px;
    margin: calc((40px - 15px)/2) auto;
  }
  .movement .wrap .prev .text, .movement .wrap .next .text {
    width: calc(100% - 40px);
    padding: 0 7.5%;
  }
  .movement .wrap .prev .text .category, .movement .wrap .next .text .category {
    font-size: 0.65rem;
  }
  .movement .wrap .prev .text .title, .movement .wrap .next .text .title {
    font-size: 0.75rem;
  }
  .event_wrap {
    padding: 2rem 5% 2.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }
  .event_wrap .event_top {
    padding: 0 0 1.5rem;
  }
  .event_wrap .event_top > h3 {
    font-size: 1rem;
  }
  .event_wrap .event_top > p {
    font-size: 0.8rem;
  }
  .event_wrap .event_input {
    padding: 1.5rem 0 0;
  }
  .event_wrap .event_input > li {
    margin-bottom: 0.5rem;
  }
  .event_wrap .event_input > li .event_subtitle {
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li input[type="text"],
  .event_wrap .event_input > li textarea {
    height: 40px;
    padding: 0 0.5rem;
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li textarea {
    height: 100px;
    padding: 0.5rem;
  }
  .event_wrap .event_input > li .event_file {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file > input[type="text"] {
    width: 100%;
  }
  .event_wrap .event_input > li .event_file > label {
    width: 100px;
    height: 40px;
    margin: 0.25rem 0 0;
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li .event_agreement {
    width: 100%;
  }
  .event_wrap .event_input > li .event_agreement > p {
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li .event_check {
    margin-bottom: 1rem;
  }
  .event_wrap .event_input > li .event_check > label {
    font-size: 0.8rem;
  }
  .event_wrap .event_input > li .event_secure {
    width: 100%;
    width: 100%;
  }
  .event_wrap .event_input > li .event_secure > span {
    width: 120px;
    height: 40px;
    padding: calc((40px - 30.58px)/2);
  }
  .event_wrap .event_input > li .event_secure > button {
    width: 40px;
    height: 40px;
  }
  .event_wrap .event_input > li .event_secure > input[type="text"] {
    width: calc(100% - (120px + 40px));
    height: 40px;
  }
  .event_wrap .event_btn {
    width: 180px;
    height: 54px;
    margin: 2rem auto 0;
    font-size: 1.1rem;
    border-radius: 2.25rem;
  }
  .event_wrap .event_picked {
    margin-top: 2rem;
    padding: 1rem 5% 0.75rem;
  }
  .event_wrap .event_picked > h3 {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  .event_wrap .event_picked .flex h5 {
    margin: 0.75rem 0;
  }
  .event_wrap .event_picked .flex h5 > span {
    font-size: 0.8rem;
  }
  .event_wrap .event_picked .flex p > span {
    font-size: 0.8rem;
  }
  .subscribe .radio > label {
    max-width: 40%;
    height: 50px;
    font-size: 0.85rem;
    line-height: 48px;
  }
  .subscribe .radio-type {
    margin-top: 1.5rem;
    width: 100%;
  }
  .subscribe .radio-type .info {
    margin-bottom: 0.75rem;
  }
  .subscribe .radio-type .info > li {
    margin-bottom: 0.5rem;
  }
  .subscribe .radio-type .info > li > input {
    height: 40px;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }
  .subscribe .radio-type .info > li > input:last-child {
    margin-right: 0;
  }
  .subscribe .radio-type .info > li:last-child {
    margin-bottom: 0;
  }
  .subscribe .radio-type .info .reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe .radio-type .detail {
    padding: 1rem;
  }
  .subscribe .radio-type .detail > h5 {
    font-size: 1rem;
  }
  .subscribe .radio-type .detail > p {
    margin-top: 0rem;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  .subscribe .radio-type .check {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .subscribe .radio-type .check > label {
    font-size: 0.8rem;
  }
  .subscribe .radio-type .check input[type="checkbox"] {
    margin-top: 0.25rem;
  }
  .subscribe .radio-type .btn {
    width: 50%;
    height: 48px;
    margin: 1rem auto 0;
    font-size: 0.8rem;
  }
  .sub ~ footer .wrap .sns {
    margin-right: 0;
  }
}

/*Minimum*/
@media (max-width: 360px) {
  .title_wrap .left .top_img_mo {
    width: 100%;
  }
  .event_wrap .event_top > .flex02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .event_wrap .event_top > .flex02 .tag02 {
    margin-bottom: 0.25rem;
  }
}
/*# sourceMappingURL=style.css.map */