.office-info {
	&__inner {
		width: 100%;
		max-width: 1600px;
		box-sizing: border-box;
		padding: 0px 30px;
		margin: 0px auto;
	}

	&__info-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h4 {
            width: 100%;
			font-size: 30px;
			text-align: center;
            position: relative;
			&::after {
				content: "";
				display: block;
				width: 100%;
                max-width: 650px;
				margin: 24px auto;
				height: 1px;
				background-color: #ccc;
			}
		}
		h5 {
			font-size: 30px;
			font-weight: 500;
			margin-bottom: 30px;
            text-align: center;
		}
	}

	&__contact {
		display: flex;
		margin-bottom: 80px;
		> div {
			display: flex;
			align-items: center;
			font-size: 23px;
			margin-right: 30px;
			p {
				margin-left: 10px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__map {
		width: 100%;
		height: 500px;
	}
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
	.office-info {
		&__inner {
			padding: 0px 30px;
		}

		&__info-wrap {
			h4 {
				font-size: 26px;
				&::after {
					margin: 20px 0;
				}
			}
			h5 {
				font-size: 26px;
				margin-bottom: 30px;
			}
		}

		&__contact {
			margin-bottom: 60px;
			> div {
				font-size: 20px;
				margin-right: 30px;
				p {
					margin-left: 10px;
				}
                img {
                    width: 35px;
                }
			}
		}

		&__map {
			width: 100%;
			height: 500px;
		}
	}
}

@media (max-width: 576px) {
    .office-info {
		&__inner {
			padding: 0px 20px;
		}

		&__info-wrap {
			h4 {
				font-size: 20px;
				&::after {
					margin: 20px 0;
				}
			}
			h5 {
				font-size: 20px;
				margin-bottom: 30px;
			}
		}

		&__contact {
			margin-bottom: 40px;
            flex-wrap: wrap;
			> div {
				font-size: 18px;
				margin-right: 30px;
                margin-bottom: 10px;
				p {
					margin-left: 10px;
				}
                img {
                    width: 30px;
                }
			}
		}

		&__map {
			width: 100%;
			height: 300px;
		}
	}
}
