@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
* {
  padding: 0;
  margin: 0;
  letter-spacing: -0.75px;
  box-sizing: border-box;
  color: #000;
  -webkit-overflow-scrolling: touch;
}

img {
  vertical-align: middle;
}

select, button, textarea, input[type=text], input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

select:focus, input:focus, button:focus, textarea:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

input[type=radio] {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

sub, sup {
  font-size: 75%;
}

ul, ol, li {
  list-style: none;
}

html, body {
  width: 100%;
  min-width: 320px;
  font-family: "Pretendard";
  background: #fff;
}

.mo {
  display: none;
}

#rendingWrap {
  position: relative;
}
#rendingWrap .wrap {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
#rendingWrap header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 77px;
  z-index: 100;
}
#rendingWrap header .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
#rendingWrap header .logo {
  display: inline-block;
}
#rendingWrap header .counterTime {
  color: #fff;
  font-size: 18px;
}
#rendingWrap .mo_bg {
  display: none;
  position: relative;
}
#rendingWrap .mo_bg img {
  display: block;
  width: 100%;
}
#rendingWrap .sc1 {
  position: relative;
  width: 100%;
  min-height: 630px;
  background-image: url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#rendingWrap .sc1 .wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 77px;
  z-index: 1;
}
#rendingWrap .sc1 .wrap .title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 70px;
}
#rendingWrap .sc1 .wrap .title span {
  display: inline-block;
  font-size: 48px;
  font-weight: 800;
  color: #ff9600;
  padding-top: 5px;
}
#rendingWrap .sc1 .wrap .conWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 100%;
  margin: 0 auto 60px;
}
#rendingWrap .sc1 .wrap .conWrap > div {
  box-sizing: content-box;
  text-align: center;
  width: 33.333%;
  max-width: 190px;
  height: 150px;
  padding: 0 75px;
}
#rendingWrap .sc1 .wrap .conWrap > div:first-child {
  padding-left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
#rendingWrap .sc1 .wrap .conWrap > div:last-child {
  padding-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
#rendingWrap .sc1 .wrap .conWrap > div img {
  display: inline-block;
  width: auto;
  margin-bottom: 10px;
}
#rendingWrap .sc1 .wrap .conWrap > div p {
  font-size: 24px;
  color: #fff;
  text-align: center;
}
#rendingWrap .sc1 .wrap .conWrap > div p span {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
#rendingWrap .sc1 .wrap .sc1Btn {
  display: block;
  width: 250px;
  margin: 0 auto;
}
#rendingWrap .sc1 .wrap .sc1Btn img {
  display: block;
  width: 100%;
}
#rendingWrap .sc2 {
  overflow: hidden;
}
#rendingWrap .sc2 .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;
}
#rendingWrap .sc2 .wrap .left {
  margin-right: 60px;
  width: auto;
  max-width: calc(50% - 30px);
  text-align: center;
}
#rendingWrap .sc2 .wrap .left img {
  width: 100%;
  max-width: 362px;
}
#rendingWrap .sc2 .wrap .right {
  padding-top: 50px;
  width: auto;
  max-width: calc(50% - 30px);
}
#rendingWrap .sc2 .wrap .right ul li {
  position: relative;
  font-size: 22px;
  line-height: 1.3;
  padding-bottom: 70px;
  padding-left: 25px;
}
#rendingWrap .sc2 .wrap .right ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #666666;
  border-radius: 50%;
  left: 0;
  top: 10px;
}
#rendingWrap .sc2 .wrap .right ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #666666;
  left: 3px;
  top: 12px;
}
#rendingWrap .sc2 .wrap .right ul li:last-child::after {
  display: none;
}
#rendingWrap .sc2 .wrap .right ul li b, #rendingWrap .sc2 .wrap .right ul li span {
  display: inline-block;
  font-size: 100%;
}
#rendingWrap .sc2 .wrap .right ul li b {
  position: relative;
  font-weight: bold;
  color: #2d47cf;
  padding-left: 25px;
}
#rendingWrap .sc2 .wrap .right ul li b::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#rendingWrap .sc2 .wrap .right ul li b.num01::before {
  background-image: url(../img/con2_no1.png);
}
#rendingWrap .sc2 .wrap .right ul li b.num02::before {
  background-image: url(../img/con2_no2.png);
}
#rendingWrap .sc2 .wrap .right ul li b.num03::before {
  background-image: url(../img/con2_no3.png);
}
#rendingWrap .sc2 .wrap .right ul li span {
  border-bottom: 1px solid #000;
}
#rendingWrap .sc3 {
  background-color: #20349b;
}
#rendingWrap .sc3 > .wrap {
  width: 90%;
  max-width: 780px;
  margin: 0 auto;
  padding: 100px 0 80px;
}
#rendingWrap .sc3 > .wrap .title {
  font-size: 36px;
  color: #fff;
  position: relative;
  text-align: center;
  padding-bottom: 40px;
}
#rendingWrap .sc3 > .wrap .title::before {
  content: "";
  position: relative;
  display: block;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 47px;
  height: 41px;
  background-image: url(../img/con3_mark.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#rendingWrap .sc3 > .wrap .box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 24px 5px rgba(0, 0, 0, 0.25);
  padding: 60px 50px 80px;
}
#rendingWrap .sc3 > .wrap .box .wrap {
  text-align: center;
  padding: 60px 0px;
  border-bottom: 1px solid #ccc;
}
#rendingWrap .sc3 > .wrap .box .wrap:first-child {
  padding-top: 0;
}
#rendingWrap .sc3 > .wrap .box .wrap:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
#rendingWrap .sc3 > .wrap .box .wrap .tag {
  display: inline-block;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 50px;
  background-color: #2d47cf;
  color: #fff;
  margin-bottom: 12px;
}
#rendingWrap .sc3 > .wrap .box .wrap .tit {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 600;
  padding-bottom: 20px;
  text-align: center;
}
#rendingWrap .sc3 > .wrap .box .wrap .tit span {
  display: inline-block;
  color: #2d47cf;
}
#rendingWrap .sc3 > .wrap .box .wrap .tit.type02 {
  padding-bottom: 5px;
}
#rendingWrap .sc3 > .wrap .box .wrap p {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 600;
  color: #2d47cf;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}
#rendingWrap .sc3 > .wrap .box .wrap b {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #333;
}
#rendingWrap .sc3 > .wrap .box .wrap img {
  display: inline-block;
  width: auto;
  max-width: 100%;
}
#rendingWrap .sc4 {
  position: relative;
  width: 100%;
  min-height: 955px;
  background-image: url(../img/con4_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#rendingWrap .sc4 .wrap {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
  padding: 120px 0;
}
#rendingWrap .sc4 .wrap .tit01 {
  font-size: 20px;
  padding-bottom: 7px;
  text-align: center;
}
#rendingWrap .sc4 .wrap .tit01 span {
  display: inline-block;
}
#rendingWrap .sc4 .wrap .tit02 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  padding-bottom: 40px;
}
#rendingWrap .sc4 .wrap .tit02 span {
  display: inline-block;
  color: #ff8400;
}
#rendingWrap .sc4 .wrap .box {
  width: 100%;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 50px;
}
#rendingWrap .sc4 .wrap .box .top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}
#rendingWrap .sc4 .wrap .box .top span {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 58.7%;
  color: #666;
}
#rendingWrap .sc4 .wrap .box .top span:first-child, #rendingWrap .sc4 .wrap .box .top span:last-child {
  width: 20.65%;
  min-width: 160px;
}
#rendingWrap .sc4 .wrap .box .swiper-container {
  max-height: 460px;
}
#rendingWrap .sc4 .wrap .box ul li {
  display: flex;
  align-items: center;
  padding: 26px 0;
  border-bottom: 1px solid #c4c4c4;
}
#rendingWrap .sc4 .wrap .box ul li:last-child {
  border-bottom: none;
}
#rendingWrap .sc4 .wrap .box ul li > div {
  display: block;
  font-size: 20px;
  text-align: center;
  width: 58.7%;
  text-align: center;
}
#rendingWrap .sc4 .wrap .box ul li > div:first-child, #rendingWrap .sc4 .wrap .box ul li > div:last-child {
  width: 20.65%;
  min-width: 160px;
}
#rendingWrap .sc4 .wrap .box ul li > div .tag {
  display: inline-block;
  font-size: 24px;
  border: 2px solid #ff6600;
  padding: 10px 0;
  min-width: 130px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
}
#rendingWrap .sc4 .wrap .box ul li > div .tag.orange {
  border: 2px solid #ff6600;
  color: #ff6600;
}
#rendingWrap .sc4 .wrap .box ul li > div .tag.gray {
  border: 2px solid #999999;
  color: #999999;
}
#rendingWrap .sc4 .wrap .box ul li > div .tag.blue {
  border: 2px solid #2d47cf;
  color: #2d47cf;
}
#rendingWrap .sc4 .wrap .box ul li > div p {
  font-size: 24px;
  line-height: 1.4;
}
#rendingWrap .sc4 .wrap .box ul li > div b {
  font-size: 24px;
  color: #444444;
}
#rendingWrap .sc4 .wrap .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#rendingWrap .sc4 .wrap .bottom > div {
  text-align: center;
  display: inline-block;
  padding: 0 50px;
}
#rendingWrap .sc4 .wrap .bottom > div span {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 5px;
  color: #333;
}
#rendingWrap .sc4 .wrap .bottom > div div {
  font-size: 24px;
  font-weight: bold;
  color: #ff8400;
}
#rendingWrap .sc4 .wrap .bottom > div div .counter {
  display: inline-block;
  font-size: 48px;
  color: #ff8400;
}
#rendingWrap .sc5 .wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
  padding: 110px 0 90px;
}
#rendingWrap .sc5 .wrap .left {
  width: 40%;
  margin-right: 65px;
}
#rendingWrap .sc5 .wrap .left .title {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 800;
  padding-bottom: 10px;
}
#rendingWrap .sc5 .wrap .left .title span {
  display: inline-block;
  color: #2d47cf;
}
#rendingWrap .sc5 .wrap .left p {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  padding-bottom: 25px;
}
#rendingWrap .sc5 .wrap .left p span {
  display: inline-block;
  color: #ff7200;
  text-decoration: underline;
}
#rendingWrap .sc5 .wrap .left .box {
  background-color: #f4f4f4;
  padding: 15px 10px;
  border-radius: 5px;
}
#rendingWrap .sc5 .wrap .left .box span {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  color: #888;
  padding-left: 12px;
  padding-bottom: 20px;
}
#rendingWrap .sc5 .wrap .left .box span:last-child {
  padding-bottom: 0;
}
#rendingWrap .sc5 .wrap .left .box span::before {
  content: "*";
  position: absolute;
  display: block;
  left: 0;
}
#rendingWrap .sc5 .wrap .right {
  width: calc(60% - 65px);
}
#rendingWrap .sc5 .wrap .right ul li img {
  display: block;
  width: 100%;
}
#rendingWrap .sc6 {
  background-color: #15154b;
}
#rendingWrap .sc6 .wrap {
  width: 90%;
  max-width: 660px;
  margin: 0 auto;
  padding: 100px 0 110px;
}
#rendingWrap .sc6 .wrap .title {
  font-size: 36px;
  font-weight: 800;
  color: #fff;
  padding-bottom: 25px;
  text-align: center;
}
#rendingWrap .sc6 .wrap .formWrap {
  width: 100%;
  background-color: #fff;
  padding: 35px 45px;
}
#rendingWrap .sc6 .wrap .formWrap .secure {
  text-align: center;
  padding-bottom: 35px;
}
#rendingWrap .sc6 .wrap .formWrap .secure img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  margin-bottom: 20px;
}
#rendingWrap .sc6 .wrap .formWrap .secure p {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
}
#rendingWrap .sc6 .wrap .formWrap .secure p span {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #ff0000;
}
#rendingWrap .sc6 .wrap .formWrap .input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
#rendingWrap .sc6 .wrap .formWrap .input:last-child {
  padding-bottom: 0;
}
#rendingWrap .sc6 .wrap .formWrap .input label {
  font-size: 20px;
  font-weight: 400;
  width: 27%;
  position: relative;
}
#rendingWrap .sc6 .wrap .formWrap .input label.input-title {
  display: flex;
}
#rendingWrap .sc6 .wrap .formWrap .input label.input-title::after {
  content: "";
  display: block;
  position: relative;
  top: 1px;
  right: -2px;
  width: 4px;
  height: 4px;
  background-color: #ff0003;
}
#rendingWrap .sc6 .wrap .formWrap .input input[type=text] {
  width: calc(73% - 10px);
  border: 1px solid #c4c4c4;
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 5px;
}
#rendingWrap .sc6 .wrap .formWrap .input input[type=text]::-moz-placeholder {
  font-size: 18px;
  color: #999999;
}
#rendingWrap .sc6 .wrap .formWrap .input input[type=text]:-ms-input-placeholder {
  font-size: 18px;
  color: #999999;
}
#rendingWrap .sc6 .wrap .formWrap .input input[type=text]::placeholder {
  font-size: 18px;
  color: #999999;
}
#rendingWrap .sc6 .wrap .formWrap .input .input-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(73% - 10px);
}
#rendingWrap .sc6 .wrap .formWrap .input .input-wrap input[type=text] {
  width: calc(33.333% - 13.3333px);
}
#rendingWrap .sc6 .wrap .formWrap .input .input-wrap span {
  width: 20px;
  display: inline-block;
  text-align: center;
}
#rendingWrap .sc6 .wrap .formWrap .input .btnWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(73% - 10px);
  border: 1px solid #c4c4c4;
}
#rendingWrap .sc6 .wrap .formWrap .input .btnWrap input[type=radio] + label {
  width: 50%;
  height: 45px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
}
#rendingWrap .sc6 .wrap .formWrap .input .btnWrap input[type=radio]:checked + label {
  background-color: #2d47cf;
  color: #fff;
}
#rendingWrap .sc6 .wrap .formWrap .input select {
  position: relative;
  display: inline-block;
  width: calc(73% - 10px);
  border: 1px solid #c4c4c4;
  padding: 12px 15px;
  font-size: 18px;
  border-radius: 5px;
  color: #999999;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 95% center;
}
#rendingWrap .sc6 .wrap .formWrap .input select:focus {
  box-shadow: 0 0 5px #9ed4ff;
  border: 1px solid #86b7fe !important;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
#rendingWrap .sc6 .wrap .formWrap .input select option {
  display: inline-block;
  width: 100%;
  font-size: 18px;
}
#rendingWrap .sc6 .wrap .formWrap .input select option::disabled {
  background-color: #9ed4ff;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox input[type=checkbox] {
  display: none;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox input[type=checkbox] + label {
  position: relative;
  font-size: 18px;
  padding-left: 28px;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox input[type=checkbox] + label::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  margin-right: 5px;
  border: 1px solid #898989;
  cursor: pointer;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox input[type=checkbox]:checked + label::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 21px;
  height: 21px;
  left: 3px;
  top: -2px;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox a {
  display: inline-block;
  color: #666666;
  margin-left: 4px;
  font-size: 18px;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 990;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal .wrap {
  margin: 0 auto;
  max-width: 500px;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal .wrap .contents {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #333;
  pointer-events: auto;
  background-color: #fff;
  border-radius: 10px;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal .wrap .contents .modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal .wrap .contents .modal-header .modal-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal .wrap .contents .modal-header .btn-close {
  width: 30px;
  height: 30px;
  background-image: url("../img/modalClose.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  cursor: pointer;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal .wrap .contents .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 16px;
}
#rendingWrap .sc6 .wrap .formWrap .checkbox .modal .wrap .contents .modal-body p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}
#rendingWrap .sc6 .wrap .send {
  display: block;
  width: 100%;
  cursor: pointer;
}
#rendingWrap .sc6 .wrap .send img {
  display: block;
  width: 100%;
}
#rendingWrap footer .footerTop {
  border-top: 1px solid #c9c9c9;
  padding: 20px;
}
#rendingWrap footer .footerTop .inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#rendingWrap footer .footerTop ul li img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 120px;
}
#rendingWrap footer .footerTop ul li img::after {
  content: "";
  clear: both;
  text-align: center;
}
#rendingWrap footer .footerBottom {
  background-color: #333333;
}
#rendingWrap footer .footerBottom p {
  max-width: 830px;
  margin: 0 auto;
  padding: 80px 0 90px;
  font-size: 18px;
  line-height: 1.8;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  #rendingWrap .sc1 .wrap .conWrap > div {
    width: 32%;
    max-width: none;
    padding: 0;
  }
  #rendingWrap .sc2 .wrap .left {
    max-width: 47.5%;
    margin-right: 5%;
  }
  #rendingWrap .sc2 .wrap .left img {
    width: auto;
    max-width: 350px;
  }
  #rendingWrap .sc2 .wrap .right {
    max-width: 47.5%;
  }
  #rendingWrap .sc4 .wrap .bottom > div {
    width: 25%;
    max-width: none;
    padding: 0;
  }
  #rendingWrap .sc4 .wrap .bottom > div:nth-child(2) {
    width: 50%;
  }
  #rendingWrap .sc4 .wrap .bottom > div span {
    font-size: 2.2vw;
  }
  #rendingWrap .sc4 .wrap .bottom > div div {
    font-size: 2.4vw;
  }
  #rendingWrap .sc4 .wrap .bottom > div div .counter {
    font-size: 5vw;
  }
  #rendingWrap .sc5 .wrap .left {
    margin-right: 6vw;
  }
  #rendingWrap .sc5 .wrap .left .title {
    font-size: 3.6vw;
    padding-bottom: 2vw;
  }
  #rendingWrap .sc5 .wrap .left p {
    font-size: 2vw;
    padding-bottom: 2.5vw;
  }
  #rendingWrap .sc5 .wrap .left .box {
    padding: 1.5vw 1vw;
  }
  #rendingWrap .sc5 .wrap .left .box span {
    font-size: 1.6vw;
    padding-left: 1.2vw;
  }
}
@media screen and (max-width: 768px) {
  #rendingWrap .mo {
    display: block;
  }
  #rendingWrap header {
    height: auto;
  }
  #rendingWrap header .wrap {
    display: block;
    text-align: center;
    padding: 2vw 0;
  }
  #rendingWrap header .logo {
    width: 40vw;
  }
  #rendingWrap header .logo img {
    display: block;
    width: 100%;
  }
  #rendingWrap header .counterTime {
    font-size: 2.7vw;
  }
  #rendingWrap .sc1 {
    min-height: auto;
  }
  #rendingWrap .sc1 .wrap {
    width: 75%;
    padding-top: 17vw;
  }
  #rendingWrap .sc1 .mo_bg {
    display: block;
  }
  #rendingWrap .sc1 .wrap .title {
    font-size: 6.5vw;
    margin-top: 7vw;
    margin-bottom: 12vw;
  }
  #rendingWrap .sc1 .wrap .title span {
    font-size: 10.3vw;
  }
  #rendingWrap .sc1 .wrap .conWrap {
    margin: 0 auto 12vw;
    width: 100%;
  }
  #rendingWrap .sc1 .wrap .conWrap > div {
    display: none;
    width: 100%;
    height: auto;
    border: none !important;
  }
  #rendingWrap .sc1 .wrap .conWrap > div img {
    display: block;
    width: 100%;
  }
  #rendingWrap .sc1 .wrap .conWrap > div:first-child {
    display: block;
  }
  #rendingWrap .sc1 .wrap .conWrap > div:first-child p {
    display: none;
  }
  #rendingWrap .sc1 .wrap .sc1Btn {
    width: 100%;
  }
  #rendingWrap .sc2 .wrap {
    flex-direction: column-reverse;
    width: 75%;
    padding-top: 12vw;
  }
  #rendingWrap .sc2 .wrap .left {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  #rendingWrap .sc2 .wrap .left img {
    max-width: 110%;
    width: 100%;
  }
  #rendingWrap .sc2 .wrap .right {
    width: 100%;
    max-width: 100%;
    padding-top: 0;
  }
  #rendingWrap .sc2 .wrap .right ul li {
    font-size: 4vw;
    padding: 0 0 12vw 4vw;
  }
  #rendingWrap .sc2 .wrap .right ul li:last-child {
    padding-bottom: 9vw;
  }
  #rendingWrap .sc2 .wrap .right ul li::before {
    top: 2.2vw;
    left: 0vw;
    width: 1.8vw;
    height: 1.8vw;
  }
  #rendingWrap .sc2 .wrap .right ul li::after {
    top: 2.4vw;
  }
  #rendingWrap .sc4 .wrap .box .swiper-container {
    max-height: 55vw;
  }
  #rendingWrap .sc4 .wrap .bottom > div {
    width: 25%;
    max-width: none;
    padding: 0;
  }
  #rendingWrap .sc4 .wrap .bottom > div:nth-child(2) {
    width: 50%;
  }
  #rendingWrap .sc4 .wrap .bottom > div span {
    font-size: 2.8vw;
    padding-bottom: 0;
  }
  #rendingWrap .sc4 .wrap .bottom > div div {
    font-size: 2.8vw;
  }
  #rendingWrap .sc4 .wrap .bottom > div div .counter {
    font-size: 6vw;
  }
  #rendingWrap .sc3 > .wrap {
    padding: 18vw 0;
  }
  #rendingWrap .sc3 > .wrap .title {
    font-size: 6.2vw;
    padding-bottom: 5vw;
  }
  #rendingWrap .sc3 > .wrap .title::before {
    width: 100%;
    height: 8vw;
    top: -2vw;
  }
  #rendingWrap .sc3 > .wrap .box {
    padding: 4vw 7vw 12vw 7vw;
  }
  #rendingWrap .sc3 > .wrap .box .wrap {
    padding: 8vw 0;
    width: 100%;
  }
  #rendingWrap .sc3 > .wrap .box .wrap .tag {
    font-size: 3.2vw;
    padding: 0.5vw 3vw;
    margin-bottom: 2vw;
  }
  #rendingWrap .sc3 > .wrap .box .wrap .tit {
    font-size: 4.7vw;
    padding-bottom: 6vw;
  }
  #rendingWrap .sc3 > .wrap .box .wrap img {
    width: 60%;
  }
  #rendingWrap .sc3 > .wrap .box .wrap p {
    font-size: 3.2vw;
    padding-bottom: 3vw;
  }
  #rendingWrap .sc3 > .wrap .box .wrap b {
    padding-bottom: 1.5vw;
    padding-top: 1vw;
    font-size: 3vw;
  }
  #rendingWrap .sc3 > .wrap .box .wrap:first-child img {
    width: 80%;
  }
  #rendingWrap .sc3 > .wrap .box .wrap:last-child img {
    width: 100%;
  }
  #rendingWrap .sc4 {
    min-height: auto;
  }
  #rendingWrap .sc4 .mo_bg {
    display: block;
    position: absolute;
    z-index: 1;
  }
  #rendingWrap .sc4 .wrap {
    position: relative;
    top: 0;
    left: 0;
    padding: 12vw 0;
    z-index: 5;
  }
  #rendingWrap .sc4 .wrap .tit01 {
    font-size: 3.5vw;
    padding-bottom: 1vw;
  }
  #rendingWrap .sc4 .wrap .tit02 {
    font-size: 6vw;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 5vw;
    line-height: 1.3;
  }
  #rendingWrap .sc4 .wrap .box {
    padding: 2vw;
    border-radius: 3vw;
    margin-bottom: 6vw;
  }
  #rendingWrap .sc4 .wrap .box .top {
    padding: 2vw 0 2.5vw;
  }
  #rendingWrap .sc4 .wrap .box .top span {
    width: calc(100% - 30vw);
    font-size: 3vw;
  }
  #rendingWrap .sc4 .wrap .box .top span:first-child {
    width: 15vw;
    min-width: auto;
  }
  #rendingWrap .sc4 .wrap .box .top span:last-child {
    width: 15vw;
    min-width: auto;
  }
  #rendingWrap .sc4 .wrap .box ul li {
    padding: 2.6vw 0;
  }
  #rendingWrap .sc4 .wrap .box ul li:last-child {
    padding-bottom: 1vw;
  }
  #rendingWrap .sc4 .wrap .box ul li > div {
    width: calc(100% - 30vw);
  }
  #rendingWrap .sc4 .wrap .box ul li > div .tag {
    font-size: 3vw;
    padding: 1vw 0;
    min-width: 14vw;
  }
  #rendingWrap .sc4 .wrap .box ul li > div:first-child {
    width: 14vw;
    min-width: auto;
  }
  #rendingWrap .sc4 .wrap .box ul li > div:last-child {
    width: 15vw;
    min-width: auto;
  }
  #rendingWrap .sc4 .wrap .box ul li > div b {
    font-size: 3.2vw;
  }
  #rendingWrap .sc4 .wrap .box ul li > div p {
    font-size: 3vw;
  }
  #rendingWrap .sc5 .wrap {
    display: block;
    padding: 14vw 0;
    width: 85%;
  }
  #rendingWrap .sc5 .wrap .left {
    width: 100%;
    padding-bottom: 9vw;
  }
  #rendingWrap .sc5 .wrap .left .title {
    font-size: 9vw;
    line-height: 1.1;
  }
  #rendingWrap .sc5 .wrap .left p {
    font-size: 4.5vw;
    padding-bottom: 5vw;
  }
  #rendingWrap .sc5 .wrap .left .box {
    padding: 3.2vw;
  }
  #rendingWrap .sc5 .wrap .left .box span {
    font-size: 3.8vw;
    font-weight: 300;
    padding-left: 3vw;
    padding-bottom: 3.5vw;
  }
  #rendingWrap .sc5 .wrap .left .box span:last-child {
    padding-bottom: 0;
  }
  #rendingWrap .sc5 .wrap .right {
    width: 100%;
  }
  #rendingWrap .sc6 .wrap {
    padding: 14vw 0 12vw;
  }
  #rendingWrap .sc6 .wrap .title {
    font-size: 5.5vw;
    padding-bottom: 3vw;
  }
  #rendingWrap .sc6 .wrap .formWrap {
    padding: 4vw 3vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .secure {
    padding-bottom: 4vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .secure img {
    width: 30%;
    margin-bottom: 2vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .secure p {
    font-size: 2.4vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .secure p span {
    font-size: 2.7vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input {
    padding-bottom: 3vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input label {
    width: 30%;
    font-size: 3.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input input[type=text], #rendingWrap .sc6 .wrap .formWrap .input .input-wrap, #rendingWrap .sc6 .wrap .formWrap .input .btnWrap, #rendingWrap .sc6 .wrap .formWrap .input select {
    width: calc(70% - 5px);
  }
  #rendingWrap .sc6 .wrap .formWrap .input input[type=text] {
    padding: 2vw 1.5vw;
    border-radius: 0.5vw;
    font-size: 3.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input input[type=text]::-moz-placeholder {
    font-size: 3.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input input[type=text]:-ms-input-placeholder {
    font-size: 3.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input input[type=text]::placeholder, #rendingWrap .sc6 .wrap .formWrap .input select {
    font-size: 3.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input .btnWrap input[type=radio] + label {
    font-size: 3vw;
    line-height: 8vw;
    height: 8vw;
    border-radius: 0.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input select {
    background-size: 3vw;
    border-radius: 0.5vw;
    padding: 2vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input select option {
    font-size: 3.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .input .input-wrap input[type=text] {
    width: calc(33.333% - 3.333vw);
  }
  #rendingWrap .sc6 .wrap .formWrap .input .input-wrap span {
    width: 5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .checkbox {
    margin: 2.5vw 1.5vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .checkbox input[type=checkbox] + label {
    padding-left: 4.5vw;
    font-size: 3vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .checkbox input[type=checkbox] + label::before {
    width: 3vw;
    height: 3vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .checkbox input[type=checkbox]:checked + label::after {
    width: 3.5vw;
    height: 3.5vw;
    left: 0.3vw;
    top: 0vw;
  }
  #rendingWrap .sc6 .wrap .formWrap .checkbox a {
    font-size: 2.5vw;
  }
  #rendingWrap footer .footerTop {
    padding: 2.5vw;
  }
  #rendingWrap footer .footerTop .simply-scroll .simply-scroll-list li {
    width: 100px !important;
    height: 24px !important;
  }
  #rendingWrap footer .footerTop .simply-scroll .simply-scroll-list li > img {
    width: 80px;
  }
  #rendingWrap footer .footerBottom p {
    width: 90%;
    font-size: 3vw;
    padding: 12vw 0 13vw;
  }
}/*# sourceMappingURL=style.css.map */