@import url("normalize.css");
@import url("swiper.min.css");
/* font-family: 'Noto Sans KR', sans-serif */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean");
/* font-family: 'nanumsquare', sans-serif */
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/* font-family: 'NanumBarunGothic' */
@font-face {
  font-family: "NanumBarunGothicMedium";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
/* font-family: 'NanumBarunGothic' */
@font-face {
  font-family: "NanumBarunGothicBold";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
/* font-family: 'NanumBarunGothic' */
@font-face {
  font-family: "NanumBarunGothicLight";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
/* font-family: 'GmarketSansLight' */
@font-face {
  font-family: "GmarketSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("../font/GmarketSansLight.eot");
  src: local(""), url("../font/GmarketSansLight.eot?#iefix") format("embedded-opentype"), url("../font/GmarketSansLight.woff") format("woff"), url("../font/GmarketSansLight.ttf") format("truetype"), url("../font/GmarketSansLight.svg") format("svg");
}
/* font-family: 'GmarketSansMedium' */
@font-face {
  font-family: "GmarketSansMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../font/GmarketSansMedium.eot");
  src: local(""), url("../font/GmarketSansMedium.eot?#iefix") format("embedded-opentype"), url("../font/GmarketSansMedium.woff") format("woff"), url("../font/GmarketSansMedium.ttf") format("truetype"), url("../font/GmarketSansMedium.svg") format("svg");
}
/* font-family: 'GmarketSansBold' */
@font-face {
  font-family: "GmarketSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../font/GmarketSansBold.eot");
  src: local(""), url("../font/GmarketSansBold.eot?#iefix") format("embedded-opentype"), url("../font/GmarketSansBold.woff") format("woff"), url("../font/GmarketSansBold.ttf") format("truetype"), url("../font/GmarketSansBold.svg") format("svg");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  letter-spacing: -0.75px;
  color: #333;
}

img {
  vertical-align: middle;
}

select, input, button, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

select:focus, input:focus, button:focus, textarea:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

input[type=text],
input[type=number],
input[type=file] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

input[type=radio] {
  display: none !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

br {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 1.5rem 2.5rem;
  z-index: 995;
}

footer {
  width: 100%;
  border-top: 1px solid #cccccc;
  padding: 2.5rem 0;
}
footer .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
footer .wrap .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
footer .wrap .logo span {
  border-right: 2px solid #ccc;
  padding-right: 1rem;
  margin-right: 1rem;
  font-family: "GmarketSansBold", sans serif;
  white-space: nowrap;
}
footer .wrap .logo ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .wrap .logo ul li {
  margin-right: 1rem;
}
footer .wrap .logo ul li img {
  display: block;
  width: 100%;
  max-width: 200px;
}
footer .wrap .logo ul li:last-child {
  margin-right: 0;
}
footer .wrap .call {
  display: flex;
  justify-content: center;
  align-items: start;
}
footer .wrap .call span {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid #ccc;
  font-family: "GmarketSansBold", sans serif;
  white-space: nowrap;
}
footer .wrap .call p {
  font-size: 1.1rem;
  font-family: "GmarketSansMedium", sans serif;
  margin-bottom: 0.25rem;
  white-space: nowrap;
}
footer .wrap .copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
footer .wrap .copy p {
  font-size: 0.8rem;
}
footer .wrap .copy p:first-child {
  margin-right: 1rem;
}

.pc {
  display: block !important;
}

.mo {
  display: none !important;
}

.pc1023 {
  display: block !important;
}

.mo1023 {
  display: none !important;
}

.pc1260 {
  display: block !important;
}

.mo1260 {
  display: none !important;
}

.pc1365 {
  display: block !important;
}

.mo1365 {
  display: none !important;
}

/*breack point*/
@media (max-width: 1260px) {
  .pc1260 {
    display: none !important;
  }
  .mo1260 {
    display: block !important;
  }
  footer .wrap {
    width: 90%;
  }
  footer .wrap .call {
    margin-bottom: 1rem;
  }
  footer .wrap .call > div {
    display: flex;
    flex-wrap: wrap;
  }
  footer .wrap .call > div p {
    margin-right: 1rem;
    margin-bottom: 0.25rem;
  }
  footer .wrap .call > div p:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
/*Ipad*/
@media (max-width: 1023px) {
  .pc1023 {
    display: none !important;
  }
  .mo1023 {
    display: block !important;
  }
}
/*Tablet*/
@media (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .mo {
    display: block !important;
  }
  footer .wrap .logo {
    margin-right: 0;
  }
  footer .wrap .call > div p {
    font-size: 0.9rem;
  }
  footer .wrap .call > div p img {
    max-width: 18px;
  }
}
/*Mobile*/
@media (max-width: 575.98px) {
  header {
    padding: 1rem;
  }
  header h1 {
    width: 160px;
  }
  header h1 img {
    display: block;
    width: 100%;
  }
  footer {
    padding: 1.5rem 0;
  }
  footer .wrap .logo {
    margin-bottom: 0.5rem;
  }
  footer .wrap .logo span, footer .wrap .call span {
    font-size: 0.75rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
  }
  footer .wrap .call {
    margin-bottom: 0.5rem;
  }
  footer .wrap .call > div p {
    font-size: 0.65rem;
    margin-right: 0.5rem;
  }
  footer .wrap .copy {
    margin-bottom: 0;
  }
  footer .wrap .copy p {
    font-size: 0.65rem;
  }
}
.main .section01 {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
}
.main .section01::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 308px;
  background: url(../../page/img/visual_wave.png) no-repeat center/cover;
  z-inde: 1;
}
.main .section01 .visual {
  width: 100%;
  height: 100%;
}
.main .section01 .visual .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.main .section01 .visual .text h2 {
  color: #fff;
  font-size: 6rem;
  font-family: "GmarketSansBold", sans-serif;
  text-align: center;
  word-break: keep-all;
}
.main .section01 .visual .text h2 span {
  color: #ffec6a;
  font-size: 100%;
  font-family: "GmarketSansBold", sans-serif;
}
.main .section01 .visual .text p {
  color: #fff;
  font-size: 1.2rem;
  font-family: "NanumBarunGothicLight", sans-serif;
  line-height: 1.5;
  text-align: center;
  word-break: keep-all;
}
.main .section02 {
  width: 100%;
  padding: 0 calc((100% - 1110px) / 2);
  margin-bottom: 7rem;
  background: url(../../page/img/section02_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}
.main .section02 .title {
  padding-left: 3.5rem;
  padding-bottom: 4rem;
}
.main .section02 .title h3 {
  font-size: 2.4rem;
  font-family: "GmarketSansBold", sans-serif;
  padding-bottom: 1.5rem;
}
.main .section02 .title p {
  font-size: 1.2rem;
  font-family: "GmarketSansLight", sans-serif;
  line-height: 1.7rem;
}
.main .section02 .contents {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .section02 .contents .con {
  position: relative;
  margin-right: 1rem;
  overflow: hidden;
}
.main .section02 .contents .con .text {
  display: flex;
  justify-content: end;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 2rem;
}
.main .section02 .contents .con .text span {
  font-size: 0.9rem;
  font-family: "GmarketSansBold", sans-serif;
  color: #fff;
  padding-bottom: 0.65rem;
}
.main .section02 .contents .con .text h4 {
  display: inline-block;
  font-size: 1.8rem;
  font-family: "GmarketSansBold", sans-serif;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.main .section02 .contents .con img {
  display: block;
  width: 100%;
  transition: 0.5s;
}
.main .section02 .contents .con:last-child {
  margin: 0;
}
.main .section02 .contents .con:hover img {
  transform: scale(1.05);
}
.main .section03 {
  width: 1130px;
  margin: 0 auto 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .section03 .icon {
  display: block;
  position: relative;
  width: 300px;
  height: 250px;
  margin-right: 5rem;
}
.main .section03 .icon .text_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .section03 .icon .text_wrap .text {
  color: #fff;
  font-size: 1.5rem;
  font-family: "GmarketSansMedium", sans-serif;
  text-align: center;
  margin-right: 0.75rem;
  margin-left: 1rem;
}
.main .section03 .icon .text_wrap .arrow {
  display: block;
  background-image: url(../../common/images/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 40px;
  transition: 0.3s;
}
.main .section03 .icon .text_wrap::before {
  position: absolute;
  content: "";
  display: block;
  top: 72%;
  transform: translate(0, -50%);
  background-image: url(../../common/images/deahan.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 110px;
  height: 45px;
}
.main .section03 .icon:nth-child(2) .text_wrap::before {
  background-image: url(../../common/images/post.png);
  width: 57px;
  height: 26px;
}
.main .section03 .icon:nth-child(3) .text_wrap::before {
  background-image: url(../../common/images/hanjin.png);
  width: 108px;
  height: 23px;
}
.main .section03 .icon:last-child {
  margin: 0;
}
.main .section03 .icon:hover .arrow {
  transform: translateX(8px);
}
.main .section03 .wave {
  display: block;
  position: relative;
  width: 300px;
  height: 250px;
  border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
  background: linear-gradient(to right, #5ab243, #c3eb66);
  background-size: 500% 100%;
  animation: blobber 3.5s 0s linear infinite;
  transform-origin: 50% 50%;
}
.main .section03 .wave::before {
  position: absolute;
  content: "";
  display: block;
  left: -5px;
  top: -5px;
  width: 105%;
  height: 105%;
  background: linear-gradient(to right, #5ab243, #c3eb66);
  border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
  animation: blobber 2.5s 1s ease-in-out infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
}
.main .section03 .wave::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  left: -5px;
  top: -5px;
  width: 105%;
  height: 105%;
  background: linear-gradient(to right, #5ab243, #c3eb66);
  border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
  animation: blobber 3s 1s ease-in-out infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.2;
}
@keyframes blobber {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
.main .searchIcon02 .wave {
  animation: blobber 2.2s 0s linear infinite;
}
.main .searchIcon02 .wave::before {
  animation: blobber 3s 0s linear infinite;
}
.main .searchIcon02 .wave, .main .searchIcon02 .wave::before, .main .searchIcon02 .wave::after {
  background: linear-gradient(to right, #1184b8, #28b9d6);
}
.main .searchIcon03 .wave {
  animation: blobber 2.8s 0s linear infinite;
}
.main .searchIcon03 .wave::before {
  animation: blobber 3.3s 0s linear infinite;
}
.main .searchIcon03 .wave, .main .searchIcon03 .wave::before, .main .searchIcon03 .wave::after {
  background: linear-gradient(to right, #693696, #b047ac);
}

/*breack point*/
@media (max-width: 1260px) {
  .main .section02 .title {
    padding-left: 5%;
    width: 90%;
  }
  .main .section02 .contents {
    width: 90%;
    margin: 0 auto;
  }
  .main .section03 {
    width: 90%;
  }
  .main .section03 .icon {
    width: calc(33.3333% - 3.3333rem);
    height: auto;
  }
  .main .section03 .icon .wave {
    width: 100%;
    height: 220px;
  }
  .main .section03 .icon .text_wrap .text {
    font-size: 1.2rem;
  }
}
/*Ipad*/
@media (max-width: 991.98px) {
  .main .section01 .visual .text h2 {
    font-size: 4rem;
  }
  .main .section01 .visual .text p {
    font-size: 0.9rem;
    max-width: 90%;
    margin: 0 auto;
  }
  .main .section02 .title h3 {
    font-size: 2rem;
  }
  .main .section02 .title p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .main .section02 .contents .con .text {
    padding: 1.5rem;
  }
  .main .section03 .icon {
    width: calc(33.3333% - 1.6666rem);
    margin-right: 2.5rem;
  }
}
/*Tablet*/
@media (max-width: 767px) {
  .main .section02 {
    background: none;
  }
  .main .section02 .contents {
    flex-direction: column;
  }
  .main .section02 .contents .con {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .main .section03 {
    flex-direction: column;
  }
  .main .section03 .icon {
    width: 80%;
    max-width: 300px;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .main .section03 .icon .wave {
    height: 300px;
  }
}
/*Mobile*/
@media (max-width: 575.98px) {
  .main .section01 {
    height: 650px;
  }
  .main .section01 .visual .text h2 {
    font-size: 2.3rem;
  }
  .main .section01 .visual .text p {
    font-size: 0.8rem;
  }
  .main .section02 {
    margin-bottom: 4rem;
  }
  .main .section02 .title {
    padding-bottom: 2rem;
  }
  .main .section02 .title h3 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  .main .section02 .title p {
    font-size: 0.8rem;
  }
  .main .section02 .contents .con .text {
    padding: 1rem;
  }
  .main .section02 .contents .con .text span {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }
  .main .section02 .contents .con .text h4 {
    font-size: 1.3rem;
  }
  .main .section03 {
    margin-bottom: 4rem;
  }
  .main .section03 .icon .wave {
    height: 250px;
  }
}
.sub .visual_wrap {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.sub .visual_wrap .visual {
  width: 100%;
  height: 100%;
}
.sub .visual_wrap .visual img {
  display: block;
  width: 100%;
}

.sub01 * {
  font-family: "nanumsquare", sans-serif;
}
.sub01 input[type=password] {
  font-family: "Noto Sans KR", sans-serif !important;
}
.sub01 input[type=password]:focus {
  color: #000 !important;
  border: 2px solid #000 !important;
}
.sub01 .container {
  padding: 5rem calc((100% - 1200px) / 2) 12rem;
}
.sub01 .container .wrap {
  width: 100%;
  height: 100%;
}
.sub01 .container .wrap .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sub01 .container .wrap .tabs li {
  position: relative;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding: 1rem 0;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}
.sub01 .container .wrap .tabs li.tab01 {
  background: #d0b575;
}
.sub01 .container .wrap .tabs li.tab02 {
  background: #d0b575;
}
.sub01 .container .wrap .tabs li.tab01.active {
  z-index: 2;
  background: #4eb256;
}
.sub01 .container .wrap .tabs li.tab01.active::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 5px);
  box-shadow: 5px -5px 0 0 #2c8733;
  border-radius: 20px 20px 0 0;
  z-index: -1;
}
.sub01 .container .wrap .tabs li.tab02.active {
  z-index: 2;
  background: #4eb256;
}
.sub01 .container .wrap .tabs li.tab02.active::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(100% + 5px);
  box-shadow: 5px -5px 0 0 #2c8733;
  border-radius: 20px 20px 0 0;
  z-index: -1;
}
.sub01 .container .wrap .con {
  display: none;
  width: 100%;
  height: 100%;
  background: #fff;
}
.sub01 .container .wrap .con img {
  width: 100%;
  display: block;
}
.sub01 .container .wrap .con.active {
  display: block;
}
.sub01 .container .wrap button.button01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background: #44aa33;
  cursor: pointer;
}
.sub01 .container .wrap button.button01 img {
  display: inline-block;
  width: auto;
  margin-right: 2rem;
}
.sub01 .container .wrap button.button01 img:first-child {
  max-width: 64px;
}
.sub01 .container .wrap button.button01 img:last-child {
  margin: 0;
}
.sub01 .container .wrap button.button02 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: #2d751b;
  cursor: pointer;
}
.sub01 .container .wrap button.button02 img {
  display: inline-block;
  width: auto;
  margin-right: 2rem;
}
.sub01 .container .wrap button.button02 img:first-child {
  max-width: 110px;
  margin-bottom: 1rem;
}
.sub01 .container .wrap button.button02 img:last-child {
  margin: 0;
}
.sub01 .container .wrap .con01 button.button02 img:first-child {
  max-width: 74px;
}
.sub01 .container .wrap .form {
  display: none;
}
.sub01 .container .wrap .form form {
  display: none;
}
.sub01 .container .wrap .form form .section {
  display: flex;
  align-items: stretch;
}
.sub01 .container .wrap .form form .section > span.title {
  display: block;
  width: 150px;
  min-width: 150px;
  background: #f5f5f5;
  padding-top: 2rem;
}
.sub01 .container .wrap .form form .section > span.title h5 {
  position: relative;
  font-size: 1.1rem;
  color: #2d751b;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.sub01 .container .wrap .form form .section > span.title h5::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2d751b;
}
.sub01 .container .wrap .form form .section > div {
  width: 100%;
  padding: 2rem 3.6rem 2rem 2rem;
}
.sub01 .container .wrap .form form .section > div .explain {
  font-size: 0.9rem;
  padding-bottom: 2rem;
}
.sub01 .container .wrap .form form .section > div h6 {
  font-size: 0.9rem;
  font-weight: 800;
  padding-bottom: 1rem;
}
.sub01 .container .wrap .form form .section > div .agreement {
  font-size: 0.75rem;
  line-height: 1.3;
  border: 1px solid #999999;
  margin-bottom: 1rem;
  padding: 1rem;
  height: 360px;
  overflow-y: scroll;
}
.sub01 .container .wrap .form form .section > div > span {
  display: block;
  width: 100%;
  padding-bottom: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.3;
}
.sub01 .container .wrap .form form .section > div .agree input[type=radio] + label {
  position: relative;
  padding-left: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.sub01 .container .wrap .form form .section > div .agree input[type=radio] + label::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: 1px solid #999;
}
.sub01 .container .wrap .form form .section > div .agree input[type=radio]:checked + label::before {
  background-image: url(../../common/images/check01.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.sub01 .container .wrap .form form .section > div .information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sub01 .container .wrap .form form .section > div .information input[type=text] {
  width: calc(50% - 0.5rem);
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid #999;
  font-size: 0.9rem;
  color: #999;
}
.sub01 .container .wrap .form form .section > div .information input[type=text]:last-child {
  margin-right: 0;
}
.sub01 .container .wrap .form form .section > div .information02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sub01 .container .wrap .form form .section > div .information02 input {
  width: calc(50% - 0.5rem);
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #999;
  font-size: 0.9rem;
  color: #999;
}
.sub01 .container .wrap .form form .section > div .information02 input:nth-child(even) {
  margin-right: 0;
}
.sub01 .container .wrap .form form .section > div .information02 ~ .warning {
  padding-top: 0;
}
.sub01 .container .wrap .form form .section > div .warning {
  font-size: 0.9rem;
  color: red;
  padding-top: 0.5rem;
  line-height: 1.3;
  font-weight: 700;
}
.sub01 .container .wrap .form form .section > div .search_file {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub01 .container .wrap .form form .section > div .search_file input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sub01 .container .wrap .form form .section > div .search_file input[type=text] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #999;
}
.sub01 .container .wrap .form form .section > div .search_file input[type=text] + label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 45px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  cursor: pointer;
}
.sub01 .container .wrap .form form .section .submit_wrap {
  padding: 0;
  padding-left: 2rem;
  padding-right: 4rem;
}
.sub01 .container .wrap .form form .section .submit_wrap .submit01 {
  display: block;
  width: 290px;
  height: 70px;
  padding: 1rem 0;
  margin: 3rem auto 7rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 0;
  background: #3a3a3a;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 800;
}
.sub01 .container .wrap .form form .section .submit_wrap .submit02 {
  display: block;
  width: 290px;
  height: 70px;
  padding: 1rem 0;
  margin: 5rem auto 3rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 0;
  background: #2d751b;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 800;
}
.sub01 .container .wrap .con02 .button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sub01 .container .wrap .con02 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding: 2rem;
  cursor: pointer;
}
.sub01 .container .wrap .con02 button > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub01 .container .wrap .con02 button > div img {
  margin: 0;
}
.sub01 .container .wrap .con02 button > div img:first-child {
  max-width: 50px;
  margin-bottom: 0.5rem;
}
.sub01 .container .wrap .con02 button > img {
  display: inline-block;
  width: 100px;
  margin-right: 2rem;
}
.sub01 .container .wrap .con02 button img:last-child {
  margin: 0;
}
.sub01 .container .wrap .con02 button.submit {
  background: #44aa33;
}
.sub01 .container .wrap .con02 button.check {
  background: #555555;
}
.sub01 .container .wrap .con02 button.check02 {
  background: #44aa33;
}
.sub01 .container .wrap .con02 button.inform {
  background: #2d751b;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap {
  display: flex;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .img_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0e956d;
  min-width: 50%;
  max-width: 50%;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .img_bg img {
  display: block;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap {
  width: 100%;
  padding: 5rem 2rem 7rem;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap > div {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap > div input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #999;
  font-size: 0.9rem;
  color: #999;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap > div span {
  display: block;
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 0.25rem;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap > div .warning {
  display: block;
  font-size: 0.75rem;
  color: red;
  padding-top: 0.5rem;
  line-height: 1.3;
  font-weight: 700;
}
.sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap .button03 {
  display: block;
  width: 290px;
  height: 70px;
  padding: 1rem 0;
  margin: 3rem 0 0;
  text-align: center;
  font-size: 1.3rem;
  line-height: 0;
  background: #323232;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 800;
}

.modal {
  display: block;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 997;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal .modal_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  padding: 1rem;
}
.modal .modal_wrap img {
  display: block;
  width: 100%;
  height: 100%;
}
.modal .modal_wrap .close_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0.5rem;
  background-color: #000;
}
.modal .modal_wrap .close_wrap button {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.25rem 0 0.35rem;
}

.modal.on {
  display: block;
}

/*breack point*/
@media (max-width: 1260px) {
  .sub .visual_wrap {
    height: auto;
  }
  .sub01 .container {
    padding: 5rem 5% 12rem;
  }
}
/*Tablet*/
@media (max-width: 768px) {
  .sub01 .container .wrap .con02 button > img {
    width: 70px;
    margin-right: 1rem;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap {
    flex-direction: column;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap .img_bg {
    min-width: 100%;
    max-width: 100%;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap > div input {
    width: 100%;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap .button03 {
    margin: 3rem auto 0;
  }
}
/*Mobile*/
@media (max-width: 575.98px) {
  .sub01 .container {
    padding: 2.5rem 5% 6rem;
  }
  .sub01 .container .tabs li img {
    width: 75%;
    margin: 0 auto;
    display: block;
  }
  .sub01 .container .wrap button.button01, .sub01 .container .wrap button.button02 {
    padding: 1.5rem;
  }
  .sub01 .container .wrap button.button01 img, .sub01 .container .wrap button.button02 img {
    margin-right: 0.5rem;
    max-width: 100px;
  }
  .sub01 .container .wrap button.button01 img:first-child, .sub01 .container .wrap button.button02 img:first-child {
    max-width: 44px;
    margin-bottom: 0;
  }
  .sub01 .container .wrap button.button01 img:last-child, .sub01 .container .wrap button.button02 img:last-child {
    width: 40px;
  }
  .sub01 .container .wrap .form form .section {
    flex-direction: column;
  }
  .sub01 .container .wrap .form form .section > div {
    padding: 0.5rem 1rem;
  }
  .sub01 .container .wrap .form form .section > div h6 {
    font-size: 0.8rem;
  }
  .sub01 .container .wrap .form form .section > div .explain {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
  .sub01 .container .wrap .form form .section > div > span {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
  .sub01 .container .wrap .form form .section > div .agree {
    padding-bottom: 0;
  }
  .sub01 .container .wrap .form form .section > div .agree input[type=radio] + label {
    padding-left: 1rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }
  .sub01 .container .wrap .form form .section > div .agree input[type=radio] + label::before {
    left: 0;
  }
  .sub01 .container .wrap .form form .section > div .agree input[type=radio] + label:last-child {
    margin-right: 0;
  }
  .sub01 .container .wrap .form form .section > div .information, .sub01 .container .wrap .form form .section > div .information02 {
    flex-direction: column;
  }
  .sub01 .container .wrap .form form .section > div .information input, .sub01 .container .wrap .form form .section > div .information02 input {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }
  .sub01 .container .wrap .form form .section > div .warning {
    font-size: 0.75rem;
  }
  .sub01 .container .wrap .form form .section > span.title {
    width: 120px;
    min-width: 120px;
    padding-left: 1rem;
    background: transparent;
  }
  .sub01 .container .wrap .form form .section > span.title h5 {
    font-size: 0.8rem;
    word-break: keep-all;
    color: #fff;
    background: #2d751b;
    border-radius: 20px;
    padding: 0.5rem;
    display: inline-block;
  }
  .sub01 .container .wrap .form form .section > span.title h5::after {
    display: none;
  }
  .sub01 .container .wrap .form form .section .submit_wrap {
    padding-right: 2rem;
  }
  .sub01 .container .wrap .form form .section .submit_wrap .submit01, .sub01 .container .wrap .form form .section .submit_wrap .submit02 {
    width: 100%;
    margin: 2rem auto 3rem;
    font-size: 0.9rem;
    height: 50px;
  }
  .sub01 .container .wrap .con02 button {
    padding: 1rem;
    height: auto;
  }
  .sub01 .container .wrap .con02 button img {
    margin-right: 0.5rem;
    max-width: 100px;
    max-width: 44px;
  }
  .sub01 .container .wrap .con02 button > div img:first-child {
    max-width: 35px;
  }
  .sub01 .container .wrap .con02 button > div img:last-child {
    min-width: 45px;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap {
    padding: 1.5rem;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap > div {
    margin-bottom: 1rem;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap > div span {
    font-size: 0.9rem;
  }
  .sub01 .container .wrap .con02 .receipt_check_form .wrap .form_wrap .button03 {
    width: 100%;
    margin: 2rem auto 1rem;
    font-size: 0.9rem;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */